@import "~styles/variables";

.team {
  padding-top: 40px;
  padding-bottom: 116px;
  background-image: url("./bg.svg");
  background-position-x: calc(50% + 17px);
  background-position-y: top;
  background-repeat: no-repeat;

  & .title {
    text-align: center;
    padding-bottom: 80px;
  }

  & .list {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 80px 32px;

    & .item {
      align-self: center;
      justify-self: center;

      & .img {
        display: block;
        margin: 0 auto;
        width: 128px;
        border-radius: 50%;
        margin-bottom: 17px;
      }

      & .text {
        & .name {
          padding-bottom: 12px;
          font-weight: 800;
          font-size: 26px;
          line-height: 132%;
          text-align: center;
          color: $black;
        }
        & .position {
          font-size: 20px;
          line-height: 154%;
          text-align: center;
          color: $black;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    & .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 767px) {
    padding-top: 00px;
    padding-bottom: 80px;
    background: none;

    & .title {
      display: none;
    }

    & .list {
      grid-template-columns: 1fr;
      grid-gap: 38px 0;

      & .item {
        display: grid;
        justify-self: start;
        grid-template-columns: 64px 1fr;
        align-items: center;
        grid-gap: 0 16px;

        & .img {
          width: 64px;
          margin-bottom: 0;
        }
        & .text {
          & .name {
            font-size: 18px;
            text-align: left;
            padding-bottom: 4px;
          }
          & .position {
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
  }
}
