.root {
  display: flex;
  align-items: center;
  &.active {
    color: #0085FF;
  }
  .button {
    width: 16px;
    height: 16px;
    display: block;
    &.default {
      background: url("./up_down-16.svg") center no-repeat;
    }
    &.down {
      background: url("./triangle.svg") center no-repeat;
    }
    &.up {
      background: url("./triangle.svg") center no-repeat;
      transform: rotate(180deg);
    }
  }
}
