@import "../../../../../styles/tools/mixins.scss";

.creamMyBodyQuiz {
  margin: 0;
  @include spacingBottomMedium;
  max-width: 400px;

  .goalsLabel {
    text-align: center;
    @include spacingBottomSmall;
    @include media-query($small) {
      margin-top: 10px;
    }
  }

  //overwrite bootstrap class for reused quizOption component
  .col-md-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .componentQuizQuestion {
    @include spacingBottomMedium;
  }
}
