<div class="upgrade-role">
    <div class="headline">
        <h2 class="heading">
            Influence The Influencers on LuxuryAffairs.com
        </h2>
        <p class="sub-heading">
            Rich influencers, trend sellers and buyers within the global luxury marketplace
        </p>
        <div class="information-centered --margin">
            <a type="submit"
                    href="{{ path('ha_billing') }}"
                    class="upgrade-role-button black mdl-button mdl-js-button mdl-js-ripple-effect">
                Upgrade Now
            </a>
        </div>
    </div>
</div>
