.chart-container_custom {
  position: relative;
  max-width: 1075px;

  .chart__preloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
  }
}
