<!DOCTYPE html
  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<style type="text/css">
        a {text-decoration: none; color:#277AC2; }
        td,th {border:none}
        .backgroundImage{
            background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/hero_1x.png);
            background-repeat: no-repeat;
            width: 800px;
            height: 225px;
        }
        .anthemLogoImage{
            background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/anthemlogo1x_02.png);
            background-repeat: no-repeat;
            width: 183px;
            height: 60px;
        }
        .poweredByBenrevoLogoImage{
            background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/benrevologo1x_20.png);
            background-repeat: no-repeat;
            width: 181px;
            height: 37px;
        }
        @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
        only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (min-device-pixel-ratio: 1.5) {
            .backgroundImage {
                background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/hero_2x.png);
                background-size: 800px 225px;
            }
            .anthemLogoImage{
                background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/anthemlogo2x_03_03_02.png);
                background-size: 183px 60px;
            }
            .poweredByBenrevoLogoImage{
                background-image: url(https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/benrevologo2x_20_20.png);
                background-size: 181px 37px;
            }
        }
	</style>
    </head>
    <body style="background:#f8f9fb; margin:0px;padding:0px; font-family:Arial;">
        <table style="margin:auto;" width="800" cellspacing='0'>
            <tr>
                <td align='center'>
                    <div class="anthemLogoImage"></div>
                </td>
            </tr>
        </table>
	<table bgcolor="#fff" style="margin:auto; border:1px solid #d3d3d3;" width="800" cellspacing='0' cellpadding='0'>
            <tr>
                <td align='center' >
                <p style="font-size:18pt;  color:#515151;" >
                    <strong>Welcome to quoteanthem.com</strong>
                </p>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <div class="backgroundImage"></div>
                </td>
            </tr>
            <tr>
                <td style="padding-right:30px;"><br/>
                    <table bgcolor="#fff" style="margin:auto;border-spacing: 10px 0;padding:0px 0px; color:#666666;" width="670" >
                        <tr>
                            <td align='center'>
        		            <img src="https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/computericon_1x_05.png"/>
                            </td>
                            <td>
                                <p><strong>Introducing our new online platform</strong></p>
                                <p>A revolutionary new tool that simplifies the marketing, quoting and onboarding process with anthem.</p>
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
        		            <img src="https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/compare_icon_1x_09.png"/>
                            </td>
                            <td>
                                <p><strong>Dynamic online comparisons</strong></p>
                                <p>We made it easier to have every plan, network and contribution combination at
                                your fingertips, so you can deliver solutions that solve your client's needs.</p>
                            </td>
                        </tr>

                        <tr>
                            <td align=center>
        		            <img src="https://s3-us-west-2.amazonaws.com/benrevo-prod-global-static/carrier/anthem/mouse1x_13.png "/>
                            </td>
                            <td>
                                <p><strong>Instant access to our new portfolio</strong></p>
                                <p>By answering just a few more questions, if your case qualifies, we will issue a
                                <strong>Clear Value quote instantly!</strong> In many instances we are seeing <strong>prices 8-13%
                                lower</strong> than our standard pool.</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                            </td>
                            <td style="font-style:italic;">
                                <p>It's that easy</p>
                                <p>Thank you,<br/>
                                $!sales_full_name<br/>
				$!general_agency</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td style="font-size:18pt; color:#277AC2; ">
                              Next Steps
                            </td>
                        </tr>

                        <tr>
                            <td>
                            </td>
                            <td>
                                 <table bgcolor="#EDF4F9" style="border-top:8px solid #277AC2; color:#333333;" cellpadding="20">
                                    <tr>
                                      <td>
                                         <strong>Option&nbsp;1</strong>
                                      </td>
                                      <td>
                                      If you currently <strong>have a login</strong> for 
                                      <a href="http://www.quoteanthem.com">www.quoteanthem.com</a>
                                      simply <a href="https://www.quoteanthem.com/anthem/login">login</a> to access your quote online.
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                         <strong>Option&nbsp;2</strong>
                                      </td>
                                      <td>
                                      If you <strong>don't have an account</strong> then you will be receiving an
                                      email to reset your password shortly.
                                      </td>
                                    </tr>
                                   </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td> &nbsp;
                            </td>
                        </tr>


                    </table>
                </td>
            </tr>
            <tr>
                <td align='center'>
                    <div class="poweredByBenrevoLogoImage"></div>
                    <br/><br/>
                </td>
            </tr>
        </table>
	<br/><br/>

    </body>
</html>
