*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build Files
target
**/dependency-check-report.html

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
bin/*
.settings

# OS specific files
.DS_Store
test-output

test.txt
