---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?channel=channel_name&client=gme-gtgettaxiservices&destinations=51.517297,-0.0823724&language=en&origins=51.523767,-0.1585557&signature=qjyZo2ebbiGrLuuhl7kPs41t72c=&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "destination_addresses" : [ "23 Liverpool St, London EC2M 7RD, UK" ],
           "origin_addresses" : [ "The Volunteer, 245-247 Baker St, Marylebone, London NW1 6XE, UK" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "<%= distance || '4.1 mi' %>",
                          "value" : 6672
                       },
                       "duration" : {
                          "text" : "27 mins",
                          "value" : 1604
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 08 Aug 2018 21:49:39 GMT
recorded_with: VCR 4.0.0
