<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Солнцезащитный крем spf. Как работает защита от солнца?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_ad1f9c1e-95b6-4969-93da-680b46a0ea5d.png?v=1624042824" alt="Солнцезащитный крем spf. Как работает защита от солнца?"></div><div class="post-content"><p><em>Модная сейчас тенденция использовать спф защиту нон-стоп, даже в помещениях. Давайте разбираться.</em></p>
<p>Люди вообще интересные существа, склонные к крайностям. Когда-то давно загар считался уделом крестьян, работающих в поле и наличие загара было признаком бедности, поэтому женщины всячески осветляли кожу, наносили белую пудру и прятались от солнца.</p>
<p>Потом солнце стало «модным», выехать в отпуск к морю считалось уже признаком обеспеченности и все ринулись покупать путевки в самый жаркий сезон и всю неделю-две в прямом смысле жарились под солнцем, доводя кожу до ожогов с пузырями. Главное было - вернуться на работу с морским загаром .</p>
<h2>Солнцезащитный крем spf</h2>
<p>Далее статистика показала, что в мире начали расти показатели заболеваемости онкологией кожи и началась пропаганда солнцезащитных средств. И вот мы имеем следующее - нам внушили идею о том, что утром, перед выходом в офис, обязательно нужно нанести спф, да повыше. Даже если никто не знает, чем эти значения вообще отличаются и отличаются ли принципиально.</p>
<p>Но потом произошло следующее - с того момента, как началась пропаганда СПФ средств и люди начали активно «защищать» себя от солнца, количество случаев онкологии кожи не только не уменьшилось, но и выросло в несколько раз.</p>
<h2>В чем же дело?</h2>
<p><span style="font-weight: 400;">Считается, что spf должен защищать от UVa и UVb лучей (есть еще UVc, но они почти не достигают поверхности Земли), однако есть еще NIR-спектр - это инфракрасные лучи, которые проникают намного глубже кожи, и вот когда с помощью spf заблокирован сигнал кожи о том, что организм перегрет, на коже образуются свободные радикалы, а NIR спектр вызывает мутации клеток и патологии в тканях.</span></p>
<p><b>Более того,&nbsp;</b><span style="font-weight: 400;">98% спф-фильтров сами по себе не являются безопасными. Большая часть из них является гормоноподобными, вызывают бесплодие, нарушение цикла у девочек и фертильности у мужчин. обнаруживаются в моче, околоплодных водах и др. И если вы думаете, что дорогой бренд на букву D или другую букву не добавит такой фильтр - добавит, ищите сами, список таких фильтров ниже:</span></p>
<ul>
<li>3-benzylidene camphor</li>
<li>4-methylbenzylidene camphor</li>
<li>Avobenzone</li>
<li>Benzophenone-2, Benzophenone-1</li>
<li>Ethylhexyl</li>
<li>Methoxycinnamate (omc)</li>
<li>Homosalate</li>
<li>Meradimate</li>
<li>Octinoxate</li>
<li>Octisalate</li>
<li>Octocrylene</li>
<li>Oxybenzone</li>
<li>Padimate O</li>
<li>Titanium dioxide</li>
<li>Zinc oxide (nano)</li>
</ul>
<p><span style="font-weight: 400;">У каждого из них свое отрицательное действие, кто-то страшнее, кто-то «безопаснее», но что есть безопасность спф-фильтров после того, что вы прочитали выше.</span></p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">защита от солнца</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>