<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Чувствительная ли на самом деле у вас кожа?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Screenshot_2021-06-30_at_13.56.00.png?v=1625055357" alt="Чувствительная ли на самом деле у вас кожа?"></div><div class="post-content"><p>Интересный феномен чувствительной кожи в том, что чаще всего микроскопически у нее нет отличий от здоровой кожи. Нет расширения сосудов, нет вовлеченности иммунной системы и даже не всегда есть нарушение барьерной функции.</p>
<h2>ТАК ЧТО ЖЕ ВСЕ ЖЕ ПРОИСХОДИТ?</h2>
<p>В процессе развития эмбриона верхний листок зародыша - эктодерма (всего их 3 - и из них строится весь организм), делится на 3 неделе на 2 части - внешняя становится кожей, а из внутренней развивается нервная система. И далее в процессе жизни 2 этих органа влияют друг на друга также, как почки и мочевой пузырь (например😎).</p>
<blockquote>
<p>Вероятно при работе с чувствительной кожи хороший специалист должен работать с клиентом комплексно и ключевую роль уделить именно нервной системе.</p>
</blockquote>
<p>ИНТЕРЕСНО, что в развитых странах и в более благополучных семьях случаев чувствительной кожи значительно больше.</p>
<p>ПОЧЕМУ? Возможно потому, что:</p>
<ul>
<li>
<p><span style="font-weight: 400;">выше уровень психоэмоционального стресса;</span></p>
</li>
<li>
<p><span style="font-weight: 400;">избыточное потребление косметических средств;</span></p>
</li>
<li>
<p><span style="font-weight: 400;">повышенный риск регулярного повреждения кожного барьера (агрессивное постоянное очищение, люди моются чаще, больше дезинфицируют окружающий мир и тд);</span></p>
</li>
<li>
<p><span style="font-weight: 400;">повышенное количество лекарств (контрацептивы, антидепрессанты, БАДы и тд).</span></p>
</li>
</ul>
<h2>РОЛЬ МИКРОБИОМА</h2>
<p>Роль действительно огромна. Микробиом чувствительной кожи менее разнообразен и в нем больше патогенной флоры, чем у микробиома обычной кожи. Чем более <a href="https://cream.ly/blogs/beauty/suhost-tela/" target="_blank" rel="noopener noreferrer">сухая кожа</a>, тем труднее микробиому. Поэтому обязательно важно его укреплять, добавлять в питание про- и пребиотики, а в уход как минимум пребиотики, которые всегда есть в креме для чувствительной кожи в <a href="https://cream.ly/products/cream-my-skin/"> CREAM MY SKIN от Cream.ly</a>.</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">чувствительная кожа</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>