<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Важно знать про атопический дерматит</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Screenshot_2021-07-08_at_11.13.41.png?v=1625735701" alt="Важно знать про атопический дерматит"></div><div class="post-content"><p>При атопическом дерматите липидный слой кожи нарушается и в коже обнаруживается нехватка:</p>
<ul>
<li>Триглицеридов</li>
<li>Церамидов</li>
<li>Сквалана</li>
<li>Холестерина</li>
<li>Линолевой кислоты</li>
</ul>
<p>Более того, данные компоненты желательно должны быть в составе в определенной пропорции, но проверить это невозможно, поэтому просто найти их в составе уже будет успехом.</p>
<p>Очень важно при атопичной коже зафиксировать эти компоненты плотным слоем, имитацией кожного сала – так называемой окклюзией и чаще всего это делается с помощью минерального масла.</p>
<p>Проблема с минеральным маслом в том, что оно нарушает проводимость кожных рецепторов, фактически кожа не может дать сигнал мозгу о том, что нуждается в восстановлении.</p>
<p>И вроде как мы коже помогаем, но помощь эта – медвежья услуга. Тем не менее большинство докторов продолжают использовать этот трюк как якобы мгновенное решение, но это не решение, а замазывание симптома, о котором кричит наша кожа.</p>
<p>В качестве альтернативы здорово будет найти в креме тяжелые масла-баттеры (манго, кокоса, ши), лецитин, а также воски.</p>
<p>Важно, чтобы это был крем, а не безводная мазь</p>
<p><strong>А еще&nbsp; дополнительные ингредиенты:&nbsp;</strong></p>
<ul>
<li>Ниацинамид – для того, чтобы снизить воспаление и зуд</li>
<li>Витамин B5 – чтобы восстановить и успокоить кожу</li>
<li>Аллантоин, бисаболол для тех же целей</li>
</ul>
<p>Что еще важно, это PH. Он должен быть в районе 5,5</p>
<p>Ну и последнее – крем желательно должен иметь ламеллярную структуру.</p>
<p>В общем этот крем доступен теперь и в Беларуси, России, Казахстане и Украине🥰</p>
<h2>Вопросы:</h2>
<p><strong>Можно ли его использовать при сухой кожи?&nbsp;</strong></p>
<p>Да, его можно и если у вас просто <a href="https://cream.ly/blogs/beauty/suhost-tela/" target="_blank" rel="noopener noreferrer">сухая кожа</a>, как видите состав максимально физиологичный и ухаживающий. Его (как и просто <a href="https://cream.ly/products/cream-my-body/" target="_blank" rel="noopener noreferrer">крем CREAM MY BODY</a>) любят брать в отпуск, наносить после ожогов всей семье, на попы малышей, на экземы любимых людей и так далее.</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">атопический дерматит</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>