<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Как убрать шрамы и рубцы?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_09d2b237-c5a4-4b63-b4f7-347ab85519e8.png?v=1624040442" alt="Как убрать шрамы и рубцы?"></div><div class="post-content"><div>
<p align="justify">Вижу смысл разделить работу со шрамами на несколько периодов:</p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">ПЕРИОД «СРАЗУ ПОСЛЕ». Такой шрам важно не трогать какое-то время и даже не заклеивать пластырями. В голландской медицине, например, это стандартная практика, в СНГ все еще заклеивают шрамы первые 7-10 дней.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">ПОСЛЕ ТОГО, КАК ШРАМ ЗАТЯНУЛСЯ, можно использовать препарат «контрактубекс» (contractubex), он препятствует рубцеванию тканей, хорошо заживляет, успокаивает кожу и снижает отек.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">А ДАЛЬШЕ САМОЕ ИНТЕРЕСНОЕ. Есть исследования на тему усиления регенерации тканей при воздействии раствора Люголя (йод, обычно в глицерине). Процесс долгий, обычно около года при ежедневном смазывании шрама йодом, но спустя год шрамы полностью исчезали и поврежденную кожу невозможно было отличить от здоровой.</span></li>
</ul>
<h2>ИЗНУТРИ</h2>
<ul>
<li>Пища, богатая полезными жирами: авокадо, орехи, жирная рыба и т.д.</li>
<li>Витамин С, хорошо если в форме sodium ascorbate</li>
<li>Кремний, например, bio-sil</li>
</ul>
<p>Для кожи в целом мы представляем вашему вниманию <a href="https://cream.ly/products/cream-my-body/" target="_blank" rel="noopener noreferrer">Крем для тела CREAM MY BODY</a>&nbsp;с исключительно мягким&nbsp;составом.</p>
<p><strong>Источники:</strong></p>
<p><span style="font-weight: 400;">1.&nbsp;<a href="https://pubmed.ncbi.nlm.nih.gov/19168293/#:~:text=In%201997%2C%20topical%20Lugol's%20iodine,and%20complete%20human%20scar%20regeneration.&amp;text=Within%203%20days%20all%20four%20scars%20started%20regenerating." target="_blank" rel="noopener noreferrer">Successful human scar regeneration by topical iodine: a case report: an interim (3.5 year) summary.</a> (Derry, 2009, Med Hypotheses)</span></p>
<p><span style="font-weight: 400;">2.<a href="https://scholar.cu.edu.eg/sites/default/files/nancyhassan/files/salma_paper_0.pdf"> Postburn Hypertrophic Scar Response to Potassium Iodide Iontophoresis</a>. (Mohamed, 2017, Med J Cairo Univ)</span></p>
<p><span style="font-weight: 400;">Буду рада, если пост окажется для кого-то полезным и поможет убрать шрамики, которые причиняли дискомфорт🌿</span></p>
</div></div><div class="tags"></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>