<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Для чего нужен EXFOLIATE MY SKIN?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_79aaa89b-2dcf-4312-aa01-2dfec6453ac8.png?v=1624042202" alt="Для чего нужен EXFOLIATE MY SKIN?"></div><div class="post-content"><div>
<p><span style="font-weight: 400;">В состав <a href="https://cream.ly/products/exfoliate-my-skin/" target="_blank" rel="noopener noreferrer">EXFOLIATE MY SKIN</a> входит 2 вида кислот:</span></p>
<ul>
<li><span style="font-weight: 400;">Фруктовые AHA кислоты (5%) - водорастворимые, соответственно работают на поверхностном слое кожи, выравнивают тон кожи, работают с пигментацией, немного работают с воспалениями, а также увлажняют кожу.</span></li>
<li><span style="font-weight: 400;">Салициловая кислота BHA (2%) - жирорастворимая, а соответственно может более глубоко проникать в кожу, работать там на уменьшение акне, на обновление кожи, на уменьшение морщинок, ускоряют обменные процессы в коже.</span></li>
</ul>
<p><span style="font-weight: 400;">В симбиозе они работают на разных уровнях и отлично дополняют друг друга, а чтобы добавить еще эффект, в составе будет:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Алоэ - как увлажнение, успокаивающий кожу ингредиент, антиоксидант и противовоспалительное действие</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">CO2 экстракт розмарина - как антиоксидант для кожи</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">масло жожоба - как одно из самых ценных масел для кожи, при это совершенно дружелюбное к порам - не имеет камедогенного свойства.</span></li>
</ul>
<p><span style="font-weight: 400;">НАНОСИТЬ эксфолиант можно зимой и летом 2-3 раза в неделю, но всегда на ночь. За счет небольшого мягкого % кислот он безопасен.</span></p>
<p><span style="font-weight: 400;">Если&nbsp;у ВАС есть воспаления на коже, вросшие волоски после депиляции - наносить его можно точечно на воспаления каждый день. Клиенты делились, что даже во время герпеса помогает.</span></p>
</div></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">уход за лицом</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>