<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Как определить тип кожи лица?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_4af74378-e8d7-46d3-803b-73d33c762fc3.png?v=1624040915" alt="Как определить тип кожи лица?"></div><div class="post-content"><p>Начну с моего любимого вопроса:&nbsp;<u>КАКУЮ ПРОБЛЕМУ МЫ ПЫТАЕМСЯ РЕШИТЬ?</u></p>
<p>Понимаете, каждый раз, когда в директ я получаю этот вопрос, я немного вхожу в ступор. Ну почему, например, не уточнять, как определить цвет глаз, или форму ушей. Ах да, потому что это не так важно. Но так ли важно определять тип жирности, давайте разбираться вместе.</p>
<p>В целом кожу принято делить на 4 типа:</p>
<ol>
<li>Сухая</li>
<li>Нормальная</li>
<li>Смешанная</li>
<li>Жирная</li>
</ol>
<p>Дальше кто во что горазд. Кто делит на смешанно-сухую и смешанно жирную, уточняет, в чем разница между обезвоженной и сухой.</p>
<h2>Что на самом деле важно?</h2>
<blockquote class="blockquote">
<p><em>То, что абсолютно всегда уход должен быть направлен на восстановление липидного слоя и микробиома. И ингредиенты, восстанавливающие эти 2 компонента, должны быть в каждом косметическом средстве, а еще точнее — системе ухода.</em></p>
</blockquote>
<h2>Что делает большинство брендов?</h2>
<p align="justify">Делает подробный разбор того, как определить свой тип кожи, тесты, опросы, а по факту не добавляют в составы ничего из того, что будет восстанавливать липидный слой и микробиом и позволять коже самостоятельно правильно отстроиться.</p>
<h2>Знаете почему я добавила<a href="https://cream.ly/pages/quiz/"> опрос на сайте "Выбор типа кожи"</a>?</h2>
<p align="justify">Чтобы уменьшить количество вопросов в директ о том, почему нет выбора типа жирности. Хотя все равно их получаю сполна, теперь уже про то, как же определить свой тип жирности, что меня вот прямо удивляет.</p>
<p align="justify">Ну конечно человек с жирной кожей знает, что она у него жирная и блестит в течение дня. Ну конечно человек с сухой кожей знает, что кожа стягивается, иногда буквально покрывается хлопьями. И человек со смешанной кожей тоже знает, что носик и лоб у него блестит, а щечки сухие.</p>
<p align="justify">Мы фокусируемся не на том вопросе. Тип жирности вашей кожи практически не важен, важны симптомы. Поэтому, проходя опрос, не додумывайте очень сильно, как же определить ваш тип жирности, послушайте вашу кожу и вы узнаете ответ. Меня больше будут интересовать цели в уходе, нынешнее состояние кожи сейчас чтобы подобрать самый подходящий <a href="https://cream.ly/pages/products">набор средств по&nbsp;уходу за вашей кожей</a>.</p>
<p align="justify">А тип жирности при восстановлении микробиома и липидного слоя будет выравниваться к нормальному с абсолютно любыми моими составами (и так в идеале должно быть у каждого бренда).</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">типы кожи</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>