<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Массаж лица бесполезен ...Пока вы не занялись осанкой</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Screenshot_2021-06-15_at_17.22.29.png?v=1623855586" alt="Массаж лица бесполезен ...Пока вы не занялись осанкой"></div><div class="post-content"><div>Наше тело - уникальная система, каждая часть которой общается со всеми остальными, зависит от них и влияет на них.</div>
<div>
<blockquote class="blockquote">
<p>Мышцы лица, фактически, начинаются с области грудной клетки, а если быть совсем честным - начинаются они аж со стоп.</p>
</blockquote>
<p>Получается интересная вещь, например - сколько ни перетирай лоб, если скальп напряжен - эффекта не будет. Поэтому работу со лбом всегда нужно начинать с расслабления скальпа.</p>
<p>А с чего начать расслабление скальпа? С мышц шеи и верхней части спины.</p>
<h2><b>Второй подбородок, кольца венеры, контур челюсти</b></h2>
<p>Да, их можно прощипывать (локально тонизировать), перетирать (снимать отек), но если мышцы шеи в спазме - удлинить шею и убрать второй подбородок не удастся.</p>
<p>Поэтому лучшие упражнения, которые вы можете делать, не прикасаясь к лицу - это расслаблять шею, прочесывать скальп, тягать себя за волосы и уши(или попросить кого-то) и расслаблять и тренировать спину.</p>
<p>В общем-то мы этому даже обучаем с доктором-неврологом-косметологом Натальей Чичук в <a href="https://cream.ly/products/video-3-osanka/">нашем курсе «ОСАНКА»</a>.</p>
<p><span style="font-weight: 400;">Кстати, побочный эффект работы с осанкой - уверенность в себе и улучшение формы груди. Приведу даже один из сотни отзывов:&nbsp;</span></p>
<p><b><i>“Да да! Делаю каждый день курс осанка всего две недели - грудь стала намного более упругой и морщинки с шеи и посередине на груди ушли. Подтянулся подбородок и стала лучше кожа лица. Благодарю”</i></b></p>
<p><b>Но конечно давайте разбираться ...</b></p>
</div>
<h2>Как неправильная осанка отражается на лице?</h2>
<p>Здоровье и красота человека напрямую зависят от правильной осанки. Ведь позвоночник является осью, на которую опираются все остальные органы человека. Поэтому ровная спина – залог здоровья, красоты и сохранения молодости.</p>
<p>Любые нарушения осанки практически сразу отражаются и на состоянии лица. Особенно сильно на внешний вид влияет искривление шейного и грудного отдела позвоночника. Ведь именно через них проходят основные сосуды питающие всю голову. Любые зажимы и искривления приводят к нарушению кровотока. Это означает что:</p>
<ol>
<li>Клетки кожи лица будут получать меньше питательных веществ и кислорода.</li>
<li>Выделяемые клетками продукты обмена не будут вовремя удаляться. Это приведет к постепенному отравлению и замедлению обмена веществ.</li>
<li>Увеличится отложение подкожного жира. Жировые клетки меньше страдают от недостатка кровообращения.</li>
</ol>
<p>Из-за нарушения осанки быстро появятся (и углубятся уже имеющиеся) морщины. При недостатке питательных веществ и кислорода клетки кожи уменьшат выработку <a href="https://cream.ly/blogs/beauty/gialuronovaya-kislota/" target="_blank" rel="noopener noreferrer">гиалуроновой кислоты</a> и <a href="https://cream.ly/blogs/beauty/kollagen/" target="_blank" rel="noopener noreferrer">коллагена</a>. Результатом станет уменьшение упругости кожи и формирование морщин.</p>
<p>Не нужно забывать и о том, что нарушения осанки приводят не только к ухудшению кровотока, но и к ослаблению циркуляции лимфы. Лимфатическая система служит своеобразной «канализацией» организма. Бактерии, вирусы, различные вредные соединения удаляются из тканей с ее помощью. При нарушении лимфотока эти «шлаки» останутся в мышцах и коже лица. Результатом ухудшения оттока лимфы станет ухудшение цвета лица, развитие отечности, так как лимфатическая система используется организмом и для удаления лишней жидкости.</p>
<p>Не стоит думать, что искривления в других отделах позвоночника не повлияют на внешность. Например, деформации в поясничном отделе станут причиной нарушения работы органов пищеварения, печени, почек. Конечно это скажется и на внешней красоте, ведь недостаток витаминов и другие нарушения обмена веществ бесследно не пройдут.</p>
<p>Вот как сильно&nbsp;как осанка влияет на лицо. Причем все эти серьезные последствия могут наступить всего лишь из-за небольшого смещения даже одного позвонка. А ведь нарушения осанки – бич современных людей, в той или иной форме они присутствуют практически у всех.</p>
<h2>Какой осанка должна быть?</h2>
<p>Правильная осанка подразумевает умение человека удерживать свое тело в прямом положении без необходимости напрягать мышцы. При этом нагрузка равномерно распределяется по всем связкам и костям, а позвоночник образует физиологические изгибы. Таких изгибов в нашем организме три:</p>
<ul>
<li>Шейный лордоз.</li>
<li>Грудной кифоз.</li>
<li>Поясничный лордоз.</li>
</ul>
<p>Эти физиологические изгибы нужны для правильного распределения нагрузки на позвоночник. Под воздействием силы тяжести он немного изгибается, что позволяет компенсировать давление от тянущих вниз тканей и органов.</p>
<p>Большую роль в формировании правильной осанки играют мышцы и связки. Именно по ним распределяется механическая энергия, они же служат своеобразными «компенсаторами», устраняющими возникающие дисбалансы.</p>
<p>Существует несколько характерных признаков правильной осанки. К основным относят:</p>
<ul>
<li>Подтянутый живот. Естественно, форма живота во многом зависит от телосложения человека, но правильная осанка делает его визуально более «плоским».</li>
<li>Выдвинутая вперед грудь. Это проявление естественного изгиба позвоночного столба.</li>
<li>Отведенные сзади и слегка опущенные плечи. Это признак отсутствия «зажимов» в области мышц лопаток и ключиц.</li>
<li>Небольшая развернутость ног в коленях. Такое положение ног оптимально для передачи нагрузки от тела на землю и ее равномерного распределения.</li>
</ul>
<p>Проверить правильность осанки вы легко сможете самостоятельно. Для этого нужно прислониться спиной к ровной стене. Если ее поверхности одновременно касаются пятки, икры, ягодицы лопатки и затылок – с ней все в порядке. Важно не заниматься самообманом при такой проверке, то есть не напрягать мышцы, чтобы прикоснуться к стене всеми нужными точками. Если без этого выровняться не выходит – значит есть проблемы с осанкой, которые нужно решать не откладывая их «в долгий ящик» например на&nbsp;<a href="https://cream.ly/products/video-3-osanka/" target="_blank" rel="noopener noreferrer">курсе «ОСАНКА»</a> .</p>
<h2>Эффективные упражнения для достижения ровной осанки</h2>
<p>Перед тем как выполнять любые упражнения для улучшения осанки нужно запомнить простые базовые принципы:</p>
<ul>
<li>При появлении боли во время упражнения нужно прекратить его и полежать 10-15 минут на ровном полу. Это нужно сделать даже если болезненность совсем небольшая.</li>
<li>Если во время или после тренировки появилась головная боль или черные точки перед глазами – у вас ухудшилось кровообращение. Это типичный признак слишком большой нагрузки, в следующий раз уделите больше внимания разминки и сократите время выполнения упражнений.</li>
<li>Не стоит увлекаться упражнениями с дополнительной нагрузкой (штангой, гирями). Это может привести к ухудшению состояния и усилению искривления позвоночника.</li>
<li>Перед выполнением любых упражнений обязательно делайте легкую разминку и растяжку. Это подготовит организм к более высоким нагрузкам, повысит эластичность мышц и сухожилий.</li>
</ul>
<p>Упражнений, направленных на улучшение осанки существует множество, как отдельных тренировок, так и целых оздоровительных программ, рассчитанных на многомесячное выполнение. В домашних условиях вы можете самостоятельно сформировать тренировочный план из подходящих лично вам. Сейчас мы разберем самые простые и доступные практически всем упражнения для восстановления правильной осанки:</p>
<ol>
<li>Низкие выпады. Встаньте ровно, слегка согнув ноги в коленях и сделайте глубокий выпад правой ногой. Одновременно вытяните руки вверх и распрямите спину. Если упражнение выполняется правильно, в позвоночнике появится чувство натяжения. Эту позу нужно удерживать 20-60 секунд, а потом повторить упражнение со сменой ноги.</li>
<li>Наклоны с опорой на стену. Отступите на два шага от стены, затем наклонитесь до упора в нее ладонями. Нужно следить, чтобы между телом и ногами поддерживался угол близкий к 90 градусам. При этом возникнет ощущение натяжения в спине, плечах. Положение нужно удерживать до 1 минуты.</li>
<li>Лягте на живот, приподнимите туловище и упритесь руками в пол, одновременно прогнув спину. Удерживайте это положение на срок до одной минуты.</li>
<li>Опуститесь на четвереньки так, чтобы ладони расположились точно под плечами, а колени сформировали прямой угол. После этого округлите спину максимально выгнув ее вверх, а голову опустив к груди. После этого медленно прогибайтесь «потянувшись» головой к спине.</li>
</ol>
<p>Выполнять такие упражнения можно 1-2 раза в день, например, утром и вечером. Количество повторений индивидуально, рекомендуется от 2 до 10 повторов каждого. Не перенапрягайтесь во время тренировки, иначе оздоровительный эффект сильно уменьшится. Также важно выполнять упражнения регулярно, не стоит ждать больших результатов от одного занятия, для полноценного восстановления осанки могут потребоваться месяцы и даже годы постоянных тренировок.</p>
<h2>Взаимосвязь между морщинами и неправильной осанкой</h2>
<p>Процесс формирования морщин напрямую зависит от состояния осанки. Хотя казалось бы, какая связь может быть между искривлением, например, грудного отдела и появлением небольших морщинок на лбу? Но она есть и связана с особенностями анатомии нашего организма.</p>
<p>Дело в том, что морщины образуются в основном из-за нарушения тонуса мышц лица (чрезмерное расслабления одних участков и спазмирования других). А мышцы лица напрямую связаны с мышцами шеи и груди. В результате нарушение структуры шейного или грудного отдела позвоночника приведут к ускоренному формированию морщин. Одновременно с мышечными спазмами ухудшиться питание кожи и подкожной клетчатки лица, ослабнет ток лимфы. Совместное воздействие этих факторов и приводит к усилению возрастных изменений.</p>
<p>В вот поддержание правильной осанки позволит замедлить появление морщинок на вашей коже лица. Даже если морщинки уже появились, поработать над улучшением осанки будет не лишним, поэтому мы в Cream.ly хотим вам донести насколько важен не только внешний уход, но и забота о красоте через упражнения.</p>
<br>
<p>Именно упражнения могут позволить улучшить общее состояние организма. Соответственно улучшиться и цвет лица, и состояние кожи. А усилившийся кровоток будет поставлять клеткам необходимые питательные вещества, которых они были лишены из-за спазмированных мышц и сосудов.</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">массаж лица</span><span class="MuiTouchRipple-root"></span></div></a><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">осанка</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>