<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Для чего нужен коллаген? Его роль в косметике и БАДах</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_dc562255-e812-42f9-bb9d-22fc7cd1c629.png?v=1624040578" alt="Для чего нужен коллаген? Его роль в косметике и БАДах"></div><div class="post-content"><blockquote class="blockquote">
<p><em>КОЛЛАГЕН конечно, нужен. Но нужен ли он в форме косметики? Ну или хотя бы в форме БАДов?</em></p>
</blockquote>
<h2>Коллаген в косметике</h2>
<p align="justify">В косметике коллаген совершенно бесполезен. Максимум - может блокировать поры. Что же касается прямого действия - это примерно как надеть парик в надежде отрастить свои волосы.</p>
<p align="justify">В косметике нужны ингредиенты, способствующие синтезу собственного коллагена. Пептиды, витамин С, МСМ, ниацинамид и прочие полезные элементы. Кстати, все есть в кремиках <a href="https://cream.ly/pages/products">Cream.ly</a>.</p>
<h2>Коллаген в таблетках</h2>
<p align="justify">Все тоже очень интересно. Но не коллаген, а кремний в форме ортокремниевой кислоты увеличивает синтез собственного коллагена. Вообще кремний так меня заинтересовал как элемент, что пришлось прочитать пару книг про его роль в организме человека, и безусловно роль его в организме огромная.</p>
<p>Интересно знать:</p>
<ul>
<li>Во время переломов в костях обнаруживается в 50 раз больше кремния, чем обычно;</li>
<li>Кремний увеличивает уровень гидроксипролина - основной аминокислоты, «кирпичика», нужного для построения собственного коллагена;</li>
<li>Кремний останавливает остеопороз, способствует профилактике образования атеросклеротических бляшек;</li>
<li>Кремниевая кислота помогает организму выводить тяжелые металлы и есть целые научные труды на тему уменьшения проявления Альцгеймера после приема кремниевой кислоты.</li>
</ul>
<p align="justify">Также на выработку собственного коллагена влияют: витамин С - в форме еды, БАДов, как захотите. Если речь идет про БАДы - берите буферизированные формы, чтобы не повреждать слизистую и усваивать его больше, Sodium Ascorbate, например.</p>
<h2>В каких продуктах содержится коллаген?</h2>
<p align="justify">А вот возвращаясь к коллагену из БАДов - лучше добавить в пищу бульоны (broth). Только чтобы от них была польза, бульоны должны долго вариться на медленном огне (коллаген-белок, а белки при высокой температуре сами-знаете-что).</p>
<p align="justify">Кости для бульона должны быть от животных/рыб, выращенных по законам органического земледелия без гормонов/антибиотиков. Ну и помимо влияния на кожу/волосы/ногти, бульоны влияют на настроение (за счет содержания глицина), нормализуют сон, помогают при «дырявом» кишечнике за счет желатина, пролина и глутамина. Желатин улучшает микробиом и уменьшает воспаление. И сейчас можно найти производителей, которые правильно сделают за вас такие бульоны.</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">коллаген</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>