<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Какие масла для лица подойдут для разных типов кожи?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1_433b7755-f652-473f-92a7-63258990a509.png?v=1624041865" alt="Какие масла для лица подойдут для разных типов кожи?"></div><div class="post-content"><h2>Универсальные масла</h2>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Масло рисовых отрубей</span></li>
<li style="font-weight: 400;">
<span style="font-weight: 400;">Масло макадамии (здоровское масло, по своему составу напоминает кожное сало&nbsp;</span>и отлично воспринимается кожей)</li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Масло лесного ореха</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Масло конопли</span></li>
</ul>
<h2>Масла для жирной, смешанной и проблемной кожи в чистом виде</h2>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Виноградной косточки</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Лесного ореха</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Рисовых отрубей</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Кукуй</span></li>
</ul>
<p><span style="font-weight: 400;">*хорошо добавить 10-20% бораго, примулы вечерней или черной смородины, а также масло ним, таману для проблемной кожи</span></p>
<h2>Для сухой кожи</h2>
<ul>
<li>Авокадо</li>
<li><span style="font-weight: 400;">Макадамии</span></li>
<li><span style="font-weight: 400;">Аргана</span></li>
</ul>
<p><span style="font-weight: 400;">*хорошо добавить 10-20% масла зародышей пшеницы, примулы вечерней, бораго, черной смородины, зеленого кофе и батеры манго, ши (около 5%)</span></p>
<h2>Для чувствительной кожи</h2>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Абрикосовых косточек</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Конопли</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Клюквы</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Жожоба</span></li>
</ul>
<p><span style="font-weight: 400;">*хорошо добавить 10-20% масла зародышей пшеницы, примулы вечерней, бораго, черной смородины.</span></p>
<p><span style="font-weight: 400;">Если у вас более зрелая кожа, можно усилить состав маслом жожоба, зеленого кофе, зародышей пшеницы, граната.</span></p>
<p><span style="font-weight: 400;">Также все эти масла подойдут для того, чтобы смывать ими макияж (всего пару капель масла на влажный ватный диск), делать по ним массаж, гуаша массаж и так далее.</span></p>
<p><span style="font-weight: 400;">Ну а если вам лень запариваться с созданием комплекса масел, в Сream.ly можно заказать уже готовый комплекс под ваш тип кожи - &nbsp;</span><a href="https://cream.ly/products/nourish-my-skin/">NOURISH MY SKIN</a>&nbsp;- там еще и эфирные масла подобраны под &nbsp;ваши цели.</p>
<ul></ul></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">типы кожи</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>