<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>Как работает ретинол в косметике?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Screenshot_2021-06-30_at_11.26.02.png?v=1625046100" alt="Как работает ретинол в косметике?"></div><div class="post-content"><p>Для начала немного теории из настольной книги косметолога:</p>
<blockquote>
<p>«Ретиноиды при акне обоснованы патогенетически, поскольку регулируют себе продукцию и ороговение. Недостатком местных ретиноидов является то, что при локальном применении они раздражают кожу и повышают ее чувствительность к УФ-излучению.</p>
</blockquote>
<ul>
<li>
<blockquote>Прием системных ретиноидов чреват еще более неприятными последствиями, связанными с ломкостью и сухостью кожи и слизистых оболочек, повышением чувствительности кожи к солнечным лучам, головной болью, депрессией, расстройствами пищеварения (вплоть до гепатита).</blockquote>
</li>
<li>
<blockquote>Кроме того, ретиноиды относятся к тератогенным веществам, поэтому они противопоказаны беременным и кормящим.</blockquote>
</li>
<li>
<blockquote>Из других крайне неприятных последствий приема системных ретиноидов (в частности изотретиноина), описанных в медицинской литературе, - ослабление зрения (в т.ч. сумеречного), сухость глаз, воспаление роговицы, повышение чувствительности к контактным линзам»</blockquote>
</li>
</ul>
<p style="text-align: right;"><em>&nbsp;Эрнандес, Юцковская, «Основы современной косметологии, 2 издание», стр. 212</em></p>
<p>Я не хочу настаивать на том, что ретиноиды однозначно плохо, потому что я за осознанные самостоятельные решения. Но я хочу, чтобы каждый взвешенно принял решение об их использовании, прочитав текст выше. Это, в общем-то, тот текст, который каждый косметолог обязан проговорить, назначая ретиноиды.</p>
<p>Мое личное мнение - вне беременности, если проблема акне настолько критична, что портит человеку жизнь - вред от переживаний и неуверенности в себе может быть выше, чем вред от ретиноидов. Поэтому вне беременности можно допустить их применение в таких случаях.</p>
<p>Тем не менее чаще я вижу ситуацию, когда как таковой проблемы нет, но ретиноиды самостоятельно назначены и используются. Вот в таких ситуациях я хочу вернуть к тексту выше.</p>
<p>Да прибудет осознанность в отношениях с собой и своей кожей ❤️</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">ретинол</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>