<div class="Post"><div class="post-header"><div class="back-btn"><a class="PageLink" href="/blogs/beauty">Blog:back</a></div><header class="section-header "><h1>О чем кричит розацеа?</h1></header></div><div class="post-hero"><img style="max-height: 400px;" class="img-fluid" src="https://cdn.shopify.com/s/files/1/2367/5871/articles/Creamly_1.png?v=1624039915" alt="О чем кричит розацеа?"></div><div class="post-content"><p align="justify"><em>Сразу скажу, наш организм очень умный и никогда ничего не делает просто так. Любое проявление симптома - это либо вывод наружу ненужного (а выводит организм через слизистую и кожу), либо крик о помощи. Давайте разбираться с розацеа и для меня важен разговор с вами, когда мы будем понимать и пробовать делать выводы.</em></p>
<h2>Что такое розацеа?</h2>
<p>Грубо причины розацеа можно разделить на 3 основные:</p>
<ul>
<li>Нарушение микрофлоры</li>
<li>Патологический иммунный ответ</li>
<li>Аномальная передача сигналов к сосудам</li>
</ul>
<p>Как результат растет чувствительность кожи, возникает воспаление и растут мелкие сосуды. Кожа буквально начинает наращивать дополнительный слой всего - сосудов, рубцов, папул и пустул.</p>
<blockquote class="blockquote">
<p>Примечательно, что наиболее частым тригером является стресс, солнце, алкоголь, перепад температур, неверный уход.</p>
</blockquote>
<h2>Зачем кожа это делает?</h2>
<p>Для ответа на этот вопрос представьте себя кожей. Вы созданы для того, чтобы заботиться о внутренностях своего хозяина. А ваш хозяин:</p>
<ol>
<li>Испытывает стресс, a вы хотите помочь и хотите защитить его. И начинаете буквально наращивать дополнительный слой всего, что только можете - сальных желез, воспалений, сосудов, только бы защитить хозяина от внешнего мира и помочь ему. Наращиваете броню.</li>
<li>Постоянно обдирает ваш липидный слой ПАВами, создает окклюзию минеральными маслами, нарушает микробиом - мешает вам работать нормально. И вы начинаете защищаться, вашему хозяину нужна дополнительная защита. Наращиваете защиту.</li>
<li>Неконтролируемо бываете на солнце, что дает вам сильные перепады температуры (через острое питание, алкоголь и др.), нарушает микробиом изнутри, питается воспалительными продуктами. А вам нужно защищать его снаружи. Что вы будете делать? Верно. Стараться стать мощнее.</li>
</ol>
<p align="justify">Я знаю, это не классический пост о розацеа, но классические посты я и не пишу. Здесь нет про дать коже СПФ 1000, перестать ходить в баню и сжечь лишние сосуды лазером.</p>
<p align="justify">Я хочу научить вас понимать, о чем кричит ваше тело, в частности - ваша кожа. Стать на ее место, услышать ее, как ребенка - который пока не умеет говорить, но плачет - потому что ему плохо и нужно что-то изменить.</p></div><div class="tags"><a class="PageLink" href="/blogs/beauty"><div class="MuiButtonBase-root MuiChip-root tag  MuiChip-outlined MuiChip-clickable" tabindex="0" role="button"><span class="MuiChip-label">уход за кожей</span><span class="MuiTouchRipple-root"></span></div></a></div><div class="spacingBottom"></div><div class="Promo"><div class="content"><div class="title"><h1>HomePromoMain:title</h1><div class="subtitle">HomePromoMain:subtitle</div></div><div class="buttonArea"><a class="PageLink" data-test="linkQuiz"><div class="compnentStructureButton btn_style rose"><span>HomePromoMain:buttonText</span></div></a></div></div></div><div class="spacingBottom"></div></div>