<h1 class="headline --separator --summary">
                    <span class="heading">
                        {{ search.location.query }}
                    </span>
    <p class="sub-heading --small">
        {% include 'AppBundle:property/collection:summary.html.twig' %}
    </p>
</h1>