<div class="action story-status">
    <span class="action-title">
        <span class="draft">
            Draft
        </span>
        <span class="saving">
            Saving ...
        </span>
        <span class="publishing">
            Publishing ...
        </span>
    </span>
</div>
<div class="action">
    <div class="black
                mdl-button
                mdl-js-button
                mdl-js-ripple-effect
                sidenav-show
                --publish"
         data-type="editor"
        >
        <a href="#" class="action-title">
            Publish
        </a>
    </div>
</div>
