{% set total = app.user|notification_unread_qty %}

<div class="action">
    <div class="
        sidenav-show
        action-title
        {% if total %}--unread{% endif %}
        notification-balloon
        "
         data-type="navigation"
    >
        {% include 'AppBundle:user/profile:image.html.twig' with {user: app.user} %}
        {% if total %}
            <span class="counter">
                {{ total }}
            </span>
        {% endif %}
    </div>
</div>
