[
    {
        "scope": "https://accounts-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/auth/login",
        "body": {
            "with": [
                "user"
            ],
            "api_key": "api_key",
            "api_secret": "api_secret"
        },
        "status": 200,
        "response": {
            "status": true,
            "login": {
                "token": {
                    "access_token": "access_token",
                    "token_type": "bearer",
                    "expires_at": "2022-01-18T12:29:17+00:00"
                },
                "user": {
                    "id": "user_id",
                    "first_name": "MPLA",
                    "last_name": "Compliance",
                    "email": "user_email",
                    "phone": null,
                    "phone_verified": 0,
                    "email_verified": 0,
                    "tfa_enabled": 0
                }
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-RateLimit-Limit",
            "1000",
            "X-RateLimit-Remaining",
            "999"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://accounts-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/applications/create",
        "body": {
            "user_id": "330683"
        },
        "status": 200,
        "response": {
            "status": true,
            "application": {
                "id": 82567,
                "uid": "6J2X2GDJ",
                "account_number": null,
                "is_encrypted_with_application_key": 1,
                "is_encrypted_with_public_key": 0,
                "application_type_version": null,
                "submitted_at": null,
                "custodian_reserved_at": null,
                "custodian_completed_at": null,
                "watchmen_completed_at": null
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-RateLimit-Limit",
            "1000",
            "X-RateLimit-Remaining",
            "999"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://accounts-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/applications/answer-multiple",
        "body": {
            "application_id": 82567,
            "answers": [
                {
                    "question_id": 10647,
                    "data": 10930
                },
                {
                    "question_id": 10648,
                    "data": 10931
                },
                {
                    "question_id": 10649,
                    "data": 10934
                },
                {
                    "question_id": 10651,
                    "data": "John"
                },
                {
                    "question_id": 10653,
                    "data": "Bull"
                },
                {
  [...]
    {
        "scope": "https://accounts-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/applications/delete",
        "body": {
            "application_id": 82567
        },
        "status": 200,
        "response": {
            "status": true,
            "http_status_message": "Successful: OK",
            "data": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "X-RateLimit-Limit",
            "1000",
            "X-RateLimit-Remaining",
            "997"
        ],
        "responseIsBinary": false
    }
]