[
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/place/equity",
        "body": {
            "requireNbbo": false,
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "quote": {
                    "symbol": "RIDE"
                },
                "transaction": "BUY",
                "marketTime": "CORE_MARKET",
                "fillType": "ANY",
                "validity": "DAY",
                "quantity": 66,
                "orderType": "MARKET"
            }
        },
        "status": 200,
        "response": {
            "orderRef": "AC0709578"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/api/orders/status/AC0709578",
        "body": "",
        "status": 200,
        "response": {
            "quote": {
                "symbol": "RIDE",
                "country": "USA",
                "currency": "USD",
                "exchange": "UNDEFINED",
                "identType": "ExchangeSymbol",
                "bidRegion": {},
                "askRegion": {},
                "tradeRegion": {},
                "vwap": 0,
                "vwap1": 0,
                "yesterdayClose": 0,
                "openingPrice": 0,
                "strikePrice": 0,
                "dayHigh": 0,
                "dayLow": 0,
                "ask": 0,
                "bid": 0,
                "askYield": 0,
                "bidYield": 0,
                "lastPrice": 0,
                "change": 0,
                "openInterest": 0,
                "high52week": 0,
                "low52week": 0,
                "priceEarningRatio": 0,
                "changePercent": 0,
                "marketCap": 0,
                "calendarYearHigh": 0,
                "calendarYearLow": 0,
                "dividendYield": 0,
                "dividendAmount": 0,
                "dividendRate": 0,
                "beta": 0,
                "totalCashAmount": 0,
                "estimatedCashAmount": 0,
                "intradayValue": 0,
                "nav": 0,
                "tradePrice": 0,
                "navPrice": 0,
                "navChange": 0,
                "navYesterdayPrice": 0,
                "yesterdayVolume": 0,
                "askSize": 0,
                "bidSize": 0,
                "askSizeDouble": 0,
                "bidSizeDouble": 0,
                "minAskSize": 0,
                "minBidSize": 0,
                "volume": 0,
                "contractSize": 0,
                "averageVolume30": 0,
                "imbalanceVolume": 0,
                "sharesOutstanding": 0,
                "increment": 0,
                "tradeSize": 0,
                "putOrCall": "\u0000",
                "indicator": 0,
                "subMarket": 0,
                "bidTick": 0,
                "precision": 2,
                "delayed": false,
                "notFound": false,
                "option": false,
                "notPermissioned": false,
                "halted": false,
                "paused": false,
                "mini": false,
                "corpAct": false,
                "jumbo": false,
                "mutualFund": false,
                "bond": false,
                "nbbo": false,
                "crypto": false,
                "fx": false,
                "marketCapClassification": "Nano",
                "dividentSoon": false,
                "symbolChange": false,
                "marketDescription": "",
                "symbolMarket": "",
                "atTheMoney": false,
                "inTheMoney": false,
                "call": false,
                "put": false,
                "trailing12MonthsEps": 0
            },
            "orderType": "MARKET",
            "validity": "DAY",
            "marketTime": "CORE_MARKET",
            "execTime": "01/17/2022 08:23:07 EST",
            "symbol": "RIDE",
            "ourRef": "AC0709578",
            "status": "E",
            "transType": "B",
            "openClose": "",
            "handlingRequest": "Z",
            "pendingRequest": "",
            "market": "U",
            "tradeCurrency": "USD",
            "accountCurrency": "USD",
            "pegType": "",
            "theirRef": "SIMS014859",
            "clientRef": "",
            "contraOid": 0,
            "accountId": 31233,
            "userId": 300,
            "modelId": 0,
            "maxFloor": 0,
            "aon": 0,
            "margin": 0,
            "requestState": 0,
            "accountType": 1,
            "optionFlag": 0,
            "legRef": 1,
            "noLegs": 1,
            "orderSource": 7,
            "expectedValue": 205.26,
            "quantity": 66,
            "execQty": 66,
            "maxQty": 0,
            "remainingQty": 0,
            "unallocatedQty": 66,
            "limitPx": 0,
            "stopPx": 0,
            "execPx": 3.11,
            "expectedPx": 3.15,
            "volumeRate": 0,
            "pegDifference": 0,
            "commission": 0,
            "markup": 0,
            "fee1": 0,
            "fee2": 0,
            "fee3": 0,
            "cost": 0,
            "fees": 0,
            "replaceable": false,
            "createDate": "01/17/2022 08:23:06 EST",
            "executedDate": "01/17/2022 08:23:07 EST",
            "option": false,
            "transaction": "BUY",
            "source": "API",
            "mutualFund": false,
            "multilegOrderType": "UNKNOWN",
            "startTimeModifiable": false,
            "translatedStatus": "E",
            "gainPercent": -1,
            "gain": -205.26,
            "fractional": false,
            "allocation": false,
            "cancelable": false,
            "actualTransaction": "B",
            "marketBuywriteValue": 0,
            "marketSpreadPrice": 0,
            "executedSpreadPrice": 0,
            "expectedSpreadPx": 0,
            "algoOrder": false
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/api/user/portfolio?loadQuotes=true&account=account_id",
        "body": "",
        "status": 200,
        "response": [
            {
                "quote": {
                    "symbol": "RIDE",
                    "companyName": "LORDSTOWN MOTORS CORP",
                    "isin": "US54405Q1004",
                    "cusip": "54405Q100",
                    "country": "USA",
                    "mic": "XNGS",
                    "currency": "USD",
                    "source": "DELAYED",
                    "identType": "ExchangeSymbol",
                    "exchange": "NASDAQ",
                    "bidRegion": {},
                    "askRegion": {},
                    "tradeRegion": {},
                    "updateTime": "01/14/2022 20:00:00 EST",
                    "tradeTime": "01/14/2022 16:00:01 EST",
                    "vwap": 0,
                    "vwap1": 0,
                    "yesterdayClose": 3.09,
                    "openingPrice": 3.05,
                    "strikePrice": 0,
                    "dayHigh": 3.13,
                    "dayLow": 2.99,
                    "ask": 3.15,
                    "bid": 3.1,
                    "askYield": 0,
                    "bidYield": 0,
                    "lastPrice": 3.11,
                    "change": 0.02,
  [...]
[...]
