[
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/place/equity",
        "body": {
            "requireNbbo": false,
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "quote": {
                    "symbol": "XXII"
                },
                "transaction": "BUY",
                "marketTime": "CORE_MARKET",
                "fillType": "ANY",
                "validity": "DAY",
                "quantity": 2700,
                "orderType": "LIMIT",
                "limitPrice": 1.1
            }
        },
        "status": 200,
        "response": {
            "orderRef": "AC0709521"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/api/orders/status/AC0709521",
        "body": "",
        "status": 200,
        "response": {
            "quote": {
                "symbol": "XXII",
                "country": "USA",
                "currency": "USD",
                "identType": "ExchangeSymbol",
                "exchange": "UNDEFINED",
                "bidRegion": {},
                "askRegion": {},
                "tradeRegion": {},
                "vwap": 0,
                "vwap1": 0,
                "yesterdayClose": 0,
                "openingPrice": 0,
                "strikePrice": 0,
                "dayHigh": 0,
                "dayLow": 0,
                "ask": 0,
                "bid": 0,
                "askYield": 0,
                "bidYield": 0,
                "lastPrice": 0,
                "change": 0,
                "openInterest": 0,
                "high52week": 0,
                "low52week": 0,
                "priceEarningRatio": 0,
                "changePercent": 0,
                "marketCap": 0,
                "calendarYearHigh": 0,
                "calendarYearLow": 0,
                "dividendYield": 0,
                "dividendAmount": 0,
                "dividendRate": 0,
                "beta": 0,
                "totalCashAmount": 0,
                "estimatedCashAmount": 0,
                "intradayValue": 0,
                "nav": 0,
                "tradePrice": 0,
                "navPrice": 0,
                "navChange": 0,
                "navYesterdayPrice": 0,
                "yesterdayVolume": 0,
                "askSize": 0,
                "bidSize": 0,
                "askSizeDouble": 0,
                "bidSizeDouble": 0,
                "minAskSize": 0,
                "minBidSize": 0,
                "volume": 0,
                "contractSize": 0,
                "averageVolume30": 0,
                "imbalanceVolume": 0,
                "sharesOutstanding": 0,
                "increment": 0,
                "tradeSize": 0,
                "putOrCall": "\u0000",
                "indicator": 0,
                "subMarket": 0,
                "bidTick": 0,
                "precision": 2,
                "delayed": false,
                "notFound": false,
                "option": false,
                "notPermissioned": false,
                "halted": false,
                "paused": false,
                "mini": false,
                "corpAct": false,
                "jumbo": false,
                "mutualFund": false,
                "bond": false,
                "nbbo": false,
                "crypto": false,
                "fx": false,
                "marketCapClassification": "Nano",
                "dividentSoon": false,
                "symbolChange": false,
                "marketDescription": "",
                "symbolMarket": "",
                "atTheMoney": false,
                "inTheMoney": false,
                "call": false,
                "put": false,
                "trailing12MonthsEps": 0
            },
            "orderType": "LIMIT",
            "validity": "DAY",
            "marketTime": "CORE_MARKET",
            "execTime": "01/17/2022 08:23:00 EST",
            "symbol": "XXII",
            "ourRef": "AC0709521",
            "status": "E",
            "transType": "B",
            "openClose": "",
            "handlingRequest": "B",
            "pendingRequest": "",
            "market": "U",
            "tradeCurrency": "USD",
            "accountCurrency": "USD",
            "pegType": "",
            "theirRef": "SIMS014856",
            "clientRef": "",
            "contraOid": 0,
            "accountId": 31233,
            "userId": 300,
            "modelId": 0,
            "maxFloor": 0,
            "aon": 0,
            "margin": 0,
            "requestState": 0,
            "accountType": 1,
            "optionFlag": 0,
            "legRef": 1,
            "noLegs": 1,
            "orderSource": 7,
            "expectedValue": 770,
            "quantity": 2700,
            "execQty": 700,
            "maxQty": 0,
            "remainingQty": 2000,
            "unallocatedQty": 2700,
            "limitPx": 1.1,
            "stopPx": 0,
            "execPx": 1.1,
            "expectedPx": 1.1,
            "volumeRate": 0,
            "pegDifference": 0,
            "commission": 0,
            "markup": 0,
            "fee1": 0,
            "fee2": 0,
            "fee3": 0,
            "cost": 0,
            "fees": 0,
            "replaceable": true,
            "createDate": "01/17/2022 08:23:00 EST",
            "executedDate": "01/17/2022 08:23:00 EST",
            "option": false,
            "transaction": "BUY",
            "source": "API",
            "mutualFund": false,
            "multilegOrderType": "UNKNOWN",
            "startTimeModifiable": false,
            "translatedStatus": "P",
            "gainPercent": -1,
            "gain": -770.0000000000001,
            "fractional": false,
            "allocation": false,
            "cancelable": true,
            "actualTransaction": "B",
            "marketBuywriteValue": 0,
            "marketSpreadPrice": 0,
            "executedSpreadPrice": 0,
            "expectedSpreadPx": 0,
            "algoOrder": false
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/cancel",
        "body": {
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "orderRef": "AC0709521"
            }
        },
        "status": 200,
        "response": {
            "market": "U",
            "orderRef": "AC0709521"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    }
]