[
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/c2c/jws.action",
        "body": "",
        "status": 200,
        "response": {
            "success": true,
            "token": "token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8",
            "Content-Language",
            "en-US"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/preview/equity",
        "body": {
            "requireNbbo": false,
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "quote": {
                    "symbol": "AMZN"
                },
                "transaction": "BUY",
                "marketTime": "CORE_MARKET",
                "fillType": "ANY",
                "validity": "DAY",
                "quantity": 90000,
                "orderType": "MARKET"
            }
        },
        "status": 500,
        "response": {
            "id": "cfce465a-f68d-468c-aed6-57dcd83918f5",
            "error": "ERR_ORDER_EXCEEDS_VALUE_LIMIT: 1500000.0;",
            "lmid": "7016554ac84df5e6ccfa9108db91f745",
            "timestamp": "01/17/2022 08:22:52 EST"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/preview/equity",
        "body": {
            "requireNbbo": false,
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "quote": {
                    "symbol": "AMZN"
                },
                "transaction": "BUY",
                "marketTime": "CORE_MARKET",
                "fillType": "ANY",
                "validity": "DAY",
                "expectedValue": 100000000000000,
                "orderType": "Notional"
            }
        },
        "status": 500,
        "response": {
            "id": "742b70c4-e438-4baa-bbc0-287de820928b",
            "error": "ERR_ORDER_EXCEEDS_SHARE_LIMIT: 100000;",
            "lmid": "7016554ac84df5e6ccfa9108db91f745",
            "timestamp": "01/17/2022 08:22:54 EST"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "POST",
        "path": "/api/orders/v2/preview/equity",
        "body": {
            "requireNbbo": false,
            "account": {
                "accountNumber": "accountNumber"
            },
            "order": {
                "quote": {
                    "symbol": "AMZN"
                },
                "transaction": "BUY",
                "marketTime": "CORE_MARKET",
                "fillType": "ANY",
                "validity": "DAY",
                "quantity": 2,
                "orderType": "MARKET"
            }
        },
        "status": 200,
        "response": {
            "expectedQty": 2,
            "expectedPx": 3242,
            "orderFeesCharges": {
                "commission": 0,
                "sec": 0,
                "orf": 0,
                "taf": 0,
                "ess": 0,
                "pef": 0,
                "secApplied": false,
                "orfApplied": false,
                "tafApplied": false
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ],
        "responseIsBinary": false
    }
]