[
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/c2c/jws.action",
        "body": "",
        "status": 200,
        "response": {
            "success": true,
            "token": "token"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=UTF-8",
            "Content-Language",
            "en-US"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://trade-api-uat.extend.apexclearing.com:443",
        "method": "GET",
        "path": "/api/orders/status/INVALIDDD",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]