# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build Files
**/dependency-check-report.html
target

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings

# OS specific files
.DS_Store
test-output/
*.bak

*.log
bin
