.select {
  appearance: none;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 8px;
  right: 15px;
}

.required::after {
  content: '*';
  display: inline;
  color: red;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
}
