.conversations {
  header {
    padding: 20px;
    display: flex;

    .logo {
      background: #212121;
      width: 33px;
      height: 33px;
      border-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      padding: 2px;
      position: relative;

      img {
        width: 30px;
        height: 30px;
        position: absolute;
      }
      #showDrawer {
        position: absolute;
        padding: 3px;
        color: #fff;
        display: none;
      }
      &:hover {
        img {
          display: none;
        }
        #showDrawer {
          display: block;
        }
      }
    }
    .search {
      flex: 1;
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 2px 0 rgba(0,0,0,0.3);
      font-family: 'Roboto', sans-serif;

      .icon {
        position: absolute;
        color: #9e9e9e;
        font-size: 17px;

        &.loupe {
          left: 10px;
          top: 9px;
        }

        &.clear {
          cursor: pointer;
          left: 10px;
          top: 9px;

          &:hover {
            color: #888;
          }
        }
        &.addContact {
          right: 10px;
          top: 9px;
          &.inactive {
            color: #e0e0e0;
          }
        }
      }

      .searchInput {
        padding: 8px;
        border: 0;
        width: 100%;
        font-size: 14px;
        color: #00000038;
        padding-left: 37px;
        padding-right: 37px;
        background: #fff;

        &::placeholder {
          color: #00000038;
        }
      }
    }
  }
}
