%tr
  %td#templateHeader(align="center" valign="top")
    %table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:900px;" width="900")
      %tr
        %td(align="center" style="width:900px;" valign="top" width="900")
          %table.templateContainer(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
          %tr
            %td.headerContainer(valign="top" align="center" style="text-align: center;")
              %span.boldText(style="font-size:22px; line-height:150px; font-family: 'Roboto', Helvetica;")
                Hello #{@passenger_name}, Thanks for using Gett Business Solutions powered by One Transport!

