---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/flight/TK/5/departing/2018/8/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - cb1f0b57
      Appkey:
      - ed9ba54c15ce2ea6d448432ab39e70ae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"request":{"carrier":{"requestedCode":"TK","fsCode":"TK"},"codeType":{},"flightNumber":{"requested":"5","interpreted":"5"},"departing":true,"date":{"year":"2018","month":"8","day":"22","interpreted":"2018-08-22"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/flight/TK/5/departing/2018/8/22"},"scheduledFlights":[{"carrierFsCode":"TK","flightNumber":"5","departureAirportFsCode":"IST","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"I","arrivalTerminal":"5","departureTime":"2018-08-22T14:00:00.000","arrivalTime":"2018-08-22T17:35:00.000","flightEquipmentIataCode":"77W","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"SQ","flightNumber":"6205","serviceType":"J","serviceClasses":["J","Y"],"trafficRestrictions":["Q"],"referenceCode":3501077},{"carrierFsCode":"PK","flightNumber":"5005","serviceType":"J","serviceClasses":["J","Y"],"trafficRestrictions":[],"referenceCode":10870915}],"referenceCode":"590-3581304--"}],"appendix":{"airlines":[{"fs":"TK","iata":"TK","icao":"THY","name":"Turkish
        Airlines","phoneNumber":"+90 212 444 0 849","active":true},{"fs":"PK","iata":"PK","icao":"PIA","name":"Pakistan
        International Airlines","phoneNumber":"+92 111-786-786","active":true},{"fs":"SQ","iata":"SQ","icao":"SIA","name":"Singapore
        Airlines","phoneNumber":"+1 800 7423333","active":true}],"airports":[{"fs":"ORD","iata":"ORD","icao":"KORD","faa":"ORD","name":"O''Hare
        International Airport","street1":"10000 West O''Hare","city":"Chicago","cityCode":"CHI","stateCode":"IL","postalCode":"60666","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/Chicago","weatherZone":"ILZ014","localTime":"2018-08-22T10:36:14.539","utcOffsetHours":-5.0,"latitude":41.976912,"longitude":-87.904876,"elevationFeet":668,"classification":1,"active":true},{"fs":"IST","iata":"IST","icao":"LTBA","name":"Istanbul
        Ataturk Airport","city":"Istanbul","cityCode":"IST","countryCode":"TR","countryName":"Turkey","regionName":"Europe","timeZoneRegionName":"Europe/Istanbul","localTime":"2018-08-22T18:36:14.539","utcOffsetHours":3.0,"latitude":40.976667,"longitude":28.815278,"elevationFeet":158,"classification":1,"active":true}],"equipments":[{"iata":"77W","name":"Boeing
        777-300ER","turboProp":false,"jet":true,"widebody":true,"regional":false}]}}'
  recorded_at: Wed, 22 Aug 2018 15:36:14 GMT
recorded_with: VCR 4.0.0
