---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/flight/PRK/949/departing/2018/8/22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - cb1f0b57
      Appkey:
      - ed9ba54c15ce2ea6d448432ab39e70ae
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"request":{"carrier":{"requestedCode":"PRK","error":"BAD_AIRLINE_CODE"},"codeType":{},"flightNumber":{"requested":"949","interpreted":"949"},"departing":true,"date":{"year":"2018","month":"8","day":"22","interpreted":"2018-08-22"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/flight/PRK/949/departing/2018/8/22"},"scheduledFlights":[],"appendix":{},"error":{"httpStatusCode":400,"errorCode":"BAD_AIRLINE_CODE","errorId":"76985df5-0163-4291-bcee-71fa18df08a2","errorMessage":"The
        given airline code was invalid. Invalid airline code: ''PRK''"}}'
  recorded_at: Wed, 22 Aug 2018 15:54:42 GMT
recorded_with: VCR 4.0.0
