<div class="item item-switch --label">
    Map
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="map-view-switch">
        <input type="checkbox"
               id="map-view-switch"
                {% if map_view %} checked {% endif %}
               class="mdl-switch__input">
        <span class="mdl-switch__label"></span>
    </label>
</div>