.icon {
  margin-left: 6px;
}

.message {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #97ADC6;
  margin: 5px 0px;
}

.tip {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #1A344B;
  margin: 5px 0px;
}
