.ant-btn {
  border-radius: 6px;
  border: none;
  background: $btn-primary-bg;
  font-weight: 500;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  box-shadow: none;

  &:hover {
    color: $btn-secondary-bg;
  }

  &:focus, &:active {
    color: $btn-secondary-bg;
  }

  &[disabled] {
    pointer-events: all;
  }

  &.ant-btn-primary {
    &:hover {
      color: $btn-primary-color;
      background: $btn-primary-bg-hover;
    }

    &:focus, &:active {
      color: $btn-primary-color;
      background: $btn-primary-bg-hover;
    }

    &[disabled] {
      color: $btn-disabled-color;
      background: $btn-disabled-bg;

      &:hover {
        background: $btn-disabled-bg-hover;
        border-color: $btn-disabled-bg;
      }
    }
  }

  &.ant-btn-secondary, .ant-confirm-btns &:not([class*="ant-btn-primary"]) {
    color: $btn-secondary-color;
    background: $btn-secondary-bg;
    border: solid 2px $btn-secondary-bg-outline;

    &:hover {
      color: $btn-primary-color;
      background: $btn-secondary-bg-hover;
      border: solid 2px $btn-primary-bg;
    }

    &:focus, &:active {
      color: $btn-primary-color;
      background: $btn-secondary-bg-hover;
      border: solid 2px $btn-primary-bg;
    }

    &[disabled] {
      color: $btn-disabled-color;
      background: $btn-disabled-bg;

      &:hover {
        background: $btn-disabled-bg-hover;
        border-color: $btn-disabled-bg;
      }
    }
  }

  &.ant-btn-danger {
    color: $btn-danger-color;
    background: $btn-danger-bg;
    border: solid 2px $btn-danger-bg-outline;

    &:hover {
      color: $btn-danger-color-hover;
      background: $btn-danger-bg-hover;
      border-color: $btn-danger-bg-outline-hover;
    }

    &:focus, &:active {
      color: $btn-danger-color-hover;
      background: $btn-danger-bg-hover;
      border-color: $btn-danger-bg-outline-hover;
    }

    &[disabled] {
      color: $btn-disabled-color;
      background: $btn-disabled-bg;
      border-color: $btn-disabled-bg;

      &:hover {
        background: $btn-disabled-bg-hover;
        border-color: $btn-disabled-bg;
      }
    }
  }

  &.width-auto {
    min-width: auto;
  }

  &.ant-btn-edit {
    min-width: 80px;
  }

  &.ant-btn-sm {
    padding: 0;
    font-size: 10px;
    min-width: 100px;
  }

  @media(--phone) {
    &.mobile {
      padding: 0;
      min-width: 34px;
    }
  }
}

.message {
  .ant-btn.ant-btn-primary {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }
  }
}
