body {
  font-size: 14px;
}

label {
  display: block;
}

iframe {
  width: 100%;
  max-width: 100%;
}

pre {
  font-family: inherit !important;
  font-size: inherit !important;
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $light-grey-text;
}

::-webkit-scrollbar-track {
  background: $white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

[disabled] {
  pointer-events: none;
  opacity: .5;
}

.wrap-break-word {
  max-width: 100%; /*Fix for FF*/
  word-wrap: break-word;
  word-break: break-word;
}

.relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.auto-block {
  display: block;
  width: auto;
}

.inline-block {
  display: inline-block;
}

.scroll-box {
  overflow: auto;
}

.hidden-overflow {
  overflow: hidden;
}

.required:after {
  display: inline-block;
  content: "*";
  line-height: 1;
  font-size: 12px;
}

.border-top {
  border-top: 1px solid $light-grey;
}

.border-bottom {
  border-bottom: 1px solid $light-grey;
}

.sand-border-bottom {
  border-bottom: 2px solid $sand;
}

.border-right {
  border-right: 1px solid $light-grey;
}

.border-left {
  border-left: 1px solid $light-grey;
}

.border-block {
  border: 2px solid $light-grey;
}

.half-width {
  width: 50%;
}

.w-50 {
  width: 50px;
}

.w-60 {
  width: 60px;
}

.w-70 {
  width: 70px;
}

.w-100 {
  width: 100px;
}

.w-120 {
  width: 120px;
}

.w-125 {
  width: 125px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-170 {
  width: 170px;
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-400 {
  width: 400px;
}

.w-430 {
  width: 430px;
}

.w-500 {
  width: 500px;
}

.h-80 {
  height: 80px;
}

.h-290 {
  height: 290px;
}

.h-320 {
  height: 320px;
}

.br-2 {
  border-radius: 2px;
}

.br-4 {
  border-radius: 4px;
}

.br-5 {
  border-radius: 5px;
}

.br-6 {
  border-radius: 6px;
}

.br-9 {
  border-radius: 9px;
}

.br-15 {
  border-radius: 15px;
}

.br-50 {
  border-radius: 50%;
}

.white-bg {
  background: #fff;
}

.sand-bg {
  background: $sand;
}

.light-grey-bg {
  background: $light-grey-bg;
}

.extra-light-grey-bg {
  background: $extra-light-grey;
}

.yellow-bg {
  background: $yellow;
}

.orange-bg {
  background: $orange;
}

.green-bg {
  background: $green;
}

.lilac-bg {
  background: $lilac;
}

.blue-bg {
  background: $blue;
}

.pale-blue-bg {
  background: $pale-blue;
}

.deep-cyan-bg {
  background: $deep-cyan;
}

.pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.fade {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.error {
  color: $red;
  font-size: 12px;

  &:not(.static) {
    position: relative;
  }
}

.decimal {
  list-style-type: decimal;
}

.twitter-timeline {
  display: block !important;
}

.recharts-wrapper {
  overflow: hidden;
}

.recharts-tooltip-wrapper {
  z-index: 10;
}

.float-left {
  float: left;
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
  background: #fff;
}

@media(--tablet) {
  body {
    font-size: 12px;
  }

  .sm-black-bg {
    background: #000;
  }

  .sm-table-fixed table {
    table-layout: fixed;
  }

  .sm-h-150 {
    height: 150px;
  }

  .sm-w-300 {
    width: 300px;
  }

  .sm-w-50 {
    width: 50px;
  }

  .sm-w-30 {
    width: 30px;
  }
}

.full-height {
  height: 100%;
}

@media(--phone) {
  .xs-border-0 {
    border-width: 0;
  }
}

.separator {
  text-align: center;
  height: 0;
}

.separator-label {
  background: #fff;
  position: relative;
  top: -12px;
  width: 110px;
  display: inline-block;
}
