.ant-modal, .ant-modal-confirm {
  .ant-modal-content {
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, .2);
  }
  .ant-modal-header {
    padding: 0;
    border-bottom: none;
    .ant-modal-title {
      font-size: 24px;
      font-weight: 300;
      color: $black;
      word-break: break-all;
    }
  }

  .ant-modal-body {
    padding: 20px 0 0;
  }
  .ant-modal-confirm-body {
    .ant-modal-confirm-title {
      font-weight: 300;
      font-size: 22px;
    }
    .ant-modal-confirm-content {
      margin-left: 0;
      color: $grey-text;
    }
    > i.anticon-question-circle {
      display: none;
    }
  }

  .ant-modal-footer,
  .ant-modal-confirm-btns {
    padding: 40px 0 0;
    border: none;
    text-align: center;
    & button + button {
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
  .ant-modal-confirm-btns {
    width: 100%;

    .ant-btn {
      min-width: 80px;
    }
  }
}

.ant-modal.no-top-padding {
  .ant-modal-body, .ant-modal-content {
    padding-top: 0;
  }
}

@media(--tablet) {
  .ant-modal, .ant-modal-confirm {
    top: 0;
    .ant-modal-body {
      font-size: 12px;
      padding: 0;
      padding-top: 20px;
    }

    .ant-modal-title {
      font-size: 16px;
    }
  }
}

@media(--phone) {
  .ant-modal, .ant-modal-confirm {
    margin: 0;
    .ant-modal-content {
      padding: 40px 30px;
    }
  }
}
