@import './variables';
@import './indents';
@import './buttons';
@import './table';
@import './modal';

a, .link {
  color: $primary-color;

  &:hover, &:focus, &:active {
    color: $primary-color;
    text-decoration: none;
  }
}

.block {
  display: block;
  width: 100%;
}

.collapse {
  width: 0;
  height: 0;
  overflow: hidden;
}

.ant-select-auto-complete.ant-select .ant-select-selection--single {
  height: 100%;
}

.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border-right: none;
}


.ant-select-auto-complete.ant-select {
  .ant-select-selection__placeholder,
  .ant-input {
    border: none;
    margin-left: 10px;
  }
}

.ant-select-selection__rendered {
  overflow: hidden;
  .ant-select-selection__placeholder {
    margin-left: 0;
  }

  .ant-select-search__field__wrap,
  .ant-select-search.ant-select-search--inline {
    line-height: 30px;
  }

  .ant-input.ant-select-search__field {
    height: 30px;
  }

  .ant-select-search__field {
    padding: 0;
  }
}

.with-icon {
  input:not(.ant-select-search__field),
  .ant-select-selection__rendered {
    padding-left: 50px;
  }

  .ant-select-selection__placeholder {
    padding-left: 50px;
    width: calc(100% - 100px);
    margin-left: 0;
  }

  .ant-select-selection--multiple {
    .ant-select-search--inline {
      width: 100px !important;
      &:first-child {
        .ant-select-search__field {
          margin-left: 0;
        }
      }
    }
  }

  .ant-select-allow-clear
  .ant-select-selection--multiple
  .ant-select-selection__rendered {
    margin-right: 32px;
  }

  .ant-select-selection__rendered {
    margin-left: 0;

    .ant-select-search.ant-select-search--inline {
      .ant-select-search__field {
        width: calc(100% - 135px);
      }
    }
  }

  .icon, .iconError {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .iconError {
    top: 28%;
    transform: translateY(-28%);
  }
}

.ant-select-selection--multiple {
  .ant-select-search__field {
    vertical-align: top;
  }
}

.bottom-location > div > .ant-spin {
  bottom: 50vh;
  transform: translateY(50%);
}

.not-allowed {
  cursor: not-allowed;

  * {
    cursor: not-allowed;
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.ant-select-dropdown-menu-item {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  &:hover, &-selected, &-active {
    color: $black;
    background: $sand;
  }
  &-active {
    background: $primary-color;
  }
  &-disabled {
    .ant-empty{
      .ant-empty-image {
        display: none;
      }
      .ant-empty-description {
        color: $dark-grey-text;
        text-align: left;
        visibility: hidden;
        position: relative;
        &:after {
          visibility: visible;
          position: absolute;
          left: 0;
          content: 'Not Found';
        }
      }
    }
  }
}

.overflow-visible {
  overflow: visible;
}

.notification-arrow {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-bottom-width: 0;
  border-top-color: hsla(0, 0%, 85%, .7);

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    left: -9px
  }
}

@media(--tablet) {
  .ant-btn {
    min-width: 100px;
  }

  .ant-card-head-title {
    font-size: 14px;
  }

  .ant-notification {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

.ant-tabs-bar {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  height: 60px;
}

.ant-tabs-nav-scroll {
  text-align: center;
}

.ant-tabs-nav {
  .ant-tabs-tab {
    height: 60px;
    line-height: 37px;
    font-weight: 500;
    color: $dark-grey;
    font-size: 13px;
    &.ant-tabs-tab-active {
      background-color: #fff;
      transition: background-color 1s ease-in;
      animation-delay: 1s;
      color: $black;
    }
  }
}

.ant-tabs-ink-bar {
  height: 4px;
  background-color: $primary-color;
}

.ant-select-selection--multiple .ant-select-selection__clear {
  top: 50%;
  right: 12px;
}

.ant-select-selection--single {
  z-index: 1;
}

.ant-select-selection__clear {
  opacity: 1;
  font-size: 20px;
  width: 13px;
  height: 20px;
  line-height: 1;
  margin-top: 0;
  transform: translateY(-50%);
  color: $light-grey-text;
}

/*fix for IE*/
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane-inactive {
  visibility: hidden;
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

.public-DraftEditor-content {
  min-height: 150px;
}

.rte-container {
  word-wrap: break-word;
  ol, ul {
    margin-left: 20px;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
}

.ant-select-combobox {
  height: 34px;
  .ant-select-search__field {
    height: 30px;
  }
}

.ant-calendar-range {
  .ant-calendar-input-wrap {
    padding: 0 10px;
    width: 50%;
    border-radius: 4px;
    margin-top: 3px;
    margin-left: 3px;
    &::before{
      content: url('/assets/images/date.svg');
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      color: $primary-color;
    }
    .ant-calendar-date-input-wrap .ant-calendar-input {
      height: 20px;
      z-index: 1;
    }
  }
  .ant-calendar-range-middle {
    color: #000;
    margin-left: -125px;
    margin-top: 4px;
  }
  .ant-calendar-input-wrap {
    line-height: 32px;
  }
  .ant-calendar-range-right {
    .ant-calendar-input-wrap {
      left: -35%;
    }
    .ant-calendar-date-input-wrap {
      margin-left: 0;
    }
  }
  .ant-calendar-in-range-cell:before {
    background: $sand;
  }
  .ant-calendar-selected-start-date, .ant-calendar-selected-end-date {
    .ant-calendar-date {
      color: $black;
    }
  }
  .ant-calendar-decade-panel {
    top: 37px;
  }
  .ant-calendar-date {
    &:hover, &:active {
      background: $yellow;
    }
  }
  .ant-calendar-today .ant-calendar-date {
    color: $black;
  }
  .ant-calendar-month-panel {
    top: 40px;
  }
}

.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: $input-border-focus-color;
}

.ant-calendar-picker-icon.datepicker-icon {
  font-size: 30px;
  margin-top: -15px;
  color: $light-grey;
}

.ant-select-arrow:before {
  content: url('../assets/images/arrow_grey.svg');
  transition: transform 0.3s;
}

.ant-select-open .ant-select-arrow:before {
  content: url('../assets/images/arrow_grey.svg')
}

.ant-input,
.ant-select {
  border-radius: 4px;
  border: solid 2px $input-border-color;
  line-height: 20px;
  &:focus, &:hover, &-open {
    border-color: $input-border-focus-color;
    box-shadow: none;
  }

  .ant-select-selection {
    min-height: 30px;
  }
}

.ant-input:hover, .ant-input:focus {
  border-right-width: 2px !important;
}

.ant-input-group-addon {
  border-width: 2px;
  border-color: $input-border-color;
}

.ant-input-search {
  .ant-input:not(.ant-input-disabled):hover {
    border-color: $input-border-color;
  }
}

.ant-input-search-icon {
  display: none;
}

.ant-select {
  &-selection {
    height: 100%;
    border: none;
    &:focus, &:hover {
      border: none;
      .ant-select-arrow::before {
        color: $input-border-focus-color;
      }
    }
    &__rendered {
      height: 100%;
      line-height: 30px;
    }
  }
  &-dropdown-menu-item {
    height: 34px;
    line-height: 34px;
  }
}
.ant-input-affix-wrapper {
  .ant-input-prefix {
    top: 50%;
    color: $light-grey;
    left: 2px;
  }
}

.ant-checkbox-wrapper {
  font-size: 12px;
  font-weight: 500;
  color: #595959;

  .ant-checkbox-inner {
    width: 20px;
    height: 20px;
    border: 2px solid #d9d9d9;
  }

  &:hover, &:focus {
    .ant-checkbox-inner {
      border-color: $input-border-focus-color;
    }
  }
}

.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $input-border-focus-color;
}

.ant-checkbox {
  + span {
    margin-left: 5px;
    color: $black;
  }
  .ant-checkbox-inner {
    border-color: $dark-grey;
  }

  &:hover {
    .ant-checkbox-inner {
      border-color: $input-border-focus-color;
    }
  }

  input[disabled] {
    opacity: 0;
  }
}

.ant-checkbox.ant-checkbox-checked {
  .ant-checkbox-inner {
    border-color: $dark-grey;
    background-color: $dark-grey;
    &:after{
      top: 2px;
      left: 6px;
    }
    &:hover {
      border-color: $dark-grey;
    }
  }

  &.ant-checkbox-disabled {
    .ant-checkbox-inner {
      background-color: $light-grey;
      border-color: $light-grey !important;
      &:after {
        border-color: $dark-grey;
      }
    }
  }

  input[disabled] {
    opacity: 0;
  }
}

.ant-checkbox.ant-checkbox-indeterminate .ant-checkbox-inner {
  border-color: $dark-grey;

  &:after {
    left: 8px;
    top: 8px;
    background-color: $dark-grey;
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.ant-calendar {
  border: none;
  &-date {
    font-weight: bold;
  }
  &-picker-icon {
    width: 30px;
    height: 30px;
    margin-top: -14px;
    right: 6px;
  }
  &-input-wrap {
    border: 2px solid $input-border-focus-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 3px 0;
    //line-height: 32px;
  }
  &-header {
    border-bottom: none;
    .ant-calendar-prev-month-btn, .ant-calendar-prev-year-btn,
    .ant-calendar-next-month-btn, .ant-calendar-next-year-btn {
      font-size: 28px;
      color: $light-grey;
    }
  }
  &-column-header &-column-header-inner {
    color: #6e7a87;
  }
  &-disabled-cell &-date {
    color: #a9b1ba;
    background: none;
    border: none;
  }
  &-date:hover {
    background: $primary-color;
  }
  &-today &-date {
    border-color: $primary-color;
    font-weight: normal;
    color: $black;
  }
  &-selected-date &-date,
  &-selected-start-date &-date,
  &-selected-end-date &-date {
    background: $primary-color;
    font-weight: normal;
    color: $black;
    &:hover {
      background: $primary-color;
    }
  }
  &-disabled-cell &-date {
    color: #a9b1ba;
    background: none;
  }

  &-footer {
    border-top: none;
  }
  &-today-btn:only-child, &-clear-btn:only-child {
    color: $blue;
  }
}

.ant-select-selection--multiple > ul > li,
.ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  margin-top: 4px;
  height: 23px;
  line-height: 23px;
  &:not(.ant-select-search) {
    color: $black;
    background: $sand;
    border-color: $sand;
    box-shadow: none;
  }
}

.ant-select-selection--multiple .ant-select-selection__choice__remove:before {
  color: $black;
}

.ant-slider, .ant-slider:hover {
  .ant-slider-track {
    background-color: $primary-color;
    height: 5px;
    border-radius: 4px;
  }
  .ant-slider-rail {
    height: 5px;
    border-radius: 4px;
  }
  .ant-slider-handle, .ant-slider-handle:not(.ant-tooltip-open) {
    background-color: $primary-color;
    border-color: $primary-color;
    width: 15px;
    height: 15px;
  }
}

.ant-switch {
  height: 20px;
  min-width: 36px;
  line-height: 20px;
  border: 2px solid #e6e6e6;
  background-color: #fff;

  &:after {
    width: 12px;
    height: 12px;
    left: 3px;
    top: 2px;
    box-shadow: none;
    background-color: #e6e6e6;
  }

  &:active:after {
    width: 12px;
  }

  &-checked {
    border-color: $grey;
    background-color: $grey;

    &:after {
      left: 32px;
      background-color: #fff;
    }
  }
}

/* Collapse */
.ant-collapse {
  .ant-collapse-item.ant-collapse-no-arrow {
    .ant-collapse-header {
      padding-left: 0;
    }
  }
}

.ant-collapse-content {
  .ant-collapse-content-box {
    padding: 0;
  }
}

.ant-collapse-borderless {
  .ant-collapse-item {
    border-bottom: none;
  }
}

.ant-tabs.scrollable-tabs {
  overflow: visible;
  .ant-tabs-bar {
    width: 100%;
    .ant-tabs-nav-container-scrolling {
      padding: 0;
      height: 59px;
      .ant-tabs-tab-arrow-show {
        display: none;
      }
    }
    .ant-tabs-nav-scroll {
      overflow: auto;
    }
    @media(max-width: 1025px) {
      width: calc(100% + 20px);
      margin-left: -10px;
    }
  }
}

.ant-radio-button-wrapper {
  color: $dark-grey-text;
  border: 2px solid $input-border-color;
  border-right: none;
  padding: 0;
  box-shadow: none;

  &-checked {
    background-color: $primary-color;
    color: $black;

    &:hover, &:focus {
      color: $black;
      border-color: $input-border-color;
      box-shadow: none;
    }
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 2px;
    border-color: $input-border-color;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 2px solid $input-border-color;
  }

  &:not(:first-child)::before {
    display: none;
  }
}

.ant-radio-wrapper-checked  .ant-radio-checked:after,
.ant-checkbox-checked:after {
  animation: none;
  content: none;
}

.ant-col-md-12 {
  // Overrided to change layout on 1024, not on 1025
  @media(--desktop) {
    display: block;
    box-sizing: border-box;
    width: 50%;
  }
}

