.widget {
  width: 255px;
  height: 420px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.title {
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #808080;
  border-bottom: 1px solid #e2e2e2;

  .titleName {
    padding: 20px;
  }
}

.content {
  height: 100%;
  padding: 20px 15px;
}

.widget50 {
  width: calc(50% - 10px);

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.widget25 {
  width: calc(25% - 10px);

  @media (max-width: 1279px) {
    min-width: 200px;
    width: calc(50% - 10px);

    &:nth-child(3), &:nth-child(4) {
      margin-top: 20px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;

    &:nth-child(2) {
      margin-top: 20px;
    }
  }

}
