<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>UnitedHealthcare</title>
    </head>
    <body style="background:#f8f9fb;margin:0px;padding:0px;font-family:Arial,Helvetica,sans-serif;">
        <table width="600" bgcolor="#f8f9fb" style="margin:auto;">
            <tr>
                <td style="width:100%;text-align:right;float:left;"><img src="https://s3-us-west-2.amazonaws.com/benrevo-static-uhc/logo.jpg" alt="UnitedHealthcare" /></td>
            </tr>
            <tr>
                <td>
                    <table width="600" bgcolor="#fff" style="margin:auto;padding:0 30px;">
                        <tr>
                            <td><p style="color:#000;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:25px;margin-top:0px;">Hello,<br /><br />
                            This email is to confirm the broker has viewed the medical quote you issued within BenRevo. Below is an overview of the client and your medical quote:
                            </p></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" style="font-family:Arial,Helvetica,sans-serif;line-height:25px;margin:0 0 15px 25px;width:540px;">
                                    <tr>
                                        <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                        <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">Employer Group Name:</td>
                                        <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!client_name</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                        <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">Effective Date:</td>
                                        <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!effective_date</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                        <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">Eligible Employees:</td>
                                        <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!eligible_employees</td>
                                    </tr>
                                    #if($!submittedByGA)
                                        <tr>
                                            <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                            <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">GA Brokerage Name:</td>
                                            <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!ga_broker_name</td>
                                        </tr>
                                    #end
                                    <tr>
                                        <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                        <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">Brokerage Name:</td>
                                        <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!brokerage_name</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="width:2%;text-align:right;vertical-align:text-top;font-size:16px;font-weight:bold;">&bull;&nbsp;&nbsp;</td>
                                        <td valign="top" style="width:40%;vertical-align:text-top;font-size:15px;">Broker Name:</td>
                                        <td valign="top" style="width:58%;vertical-align:text-top;font-size:15px;">$!user_name</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td> <br />
				<p style="color:#000;font-family:Arial,Helvetica,sans-serif;font-size:15px;line-height:25px;margin-top:0px;">
				Thank you.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
