{% extends 'AppBundle:email/layout:base.email.twig' %}

{% block html_content %}
    <h2>Welcome to Luxury Affair's!</h2>
    <p>
        Your account was created, e-mail: {{ email }}<br/>
        If you think that user was created occasionally, click on the link below to remove: {{ link }}<br/>
    </p>

    <p>
        Get ready to Indulge yourself in some of the world's most amazing homes,
        gain market insights from those in the know and read about the latest design trends,
        inspirations, and must have accessories.
    </p>
    <br/>


    <h2>Right, what's next?</h2>
    <p>
        Simply click the button below to personalize your own luxury lifestyle newsfeed.
        Follow, like or comment on any member, location or tag that interest you.
    </p>
    <br/>


    <h2>Industry professional?</h2>
    <p>
        Publishing content on Luxury Affair's is exclusively for industry brand professionals
        only due to strict, its free and have plenty of mutual benefits,
        not only to our the affluent audience reached as well as SEO values.
        <br/>
        <br/>
        Our members include – real estate agents, expert bloggers, seasoned
        journalists, authors, executives, lifestyle authorities, world travelers,
        chefs, luxury business founders and automotive experts.
    </p>
    <br/>


    <h2>How does it work?</h2>
    <p>
        Publishing on Luxury Affair's is very easy and with our easy to use in-page
        WYSIWYG editor works like any other social posting platform or you may
        import existing from your own blog, all in matter of minutes.
    </p>
    <br/>


    <h2>Okay, sounds great, what do I do?</h2>
    <p>
        Its very simple, get in touch with us at – contributor@luxuryaffairs.co.uk,
        include your basic details about yourself and a brief on what your specialty
        is and we will contact you as soon as possible.
    </p>
{% endblock %}
