<div class="register-manual-form" style="display: none">
    <div class="introduction">
        <h2>Join Us with Email.</h2>
        <p>
            Enter the email and password for your new user,
            and we’ll send a confirmation to your inbox.
        </p>
    </div>
    <div class="form-block">
        <div class="sign-up-manual">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="email mdl-textfield__input"
                       name="email"
                       type="email"
                       id="email_register"
                       value="">
                <label class="mdl-textfield__label" for="email_register">
                    E-mail
                </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="password mdl-textfield__input"
                       name="password"
                       type="password"
                       id="password_register"
                       value="">
                <label class="mdl-textfield__label" for="password_register">
                    Password
                </label>
            </div>

            <div class="actions">
                <div class="actions">
                    <button
                            type="submit"
                            class="mdl-button
                               mdl-js-button
                               --email
                               mdl-button--raised
                               mdl-js-ripple-effect
                               button
                               button-auth
                               button-switch-view-to-manual
                               __manual
                               --wide">
                        Register
                    </button>
                </div>
            </div>
        </div>

        <p class="auth-information">
            <a class="button-switch-view" href="#"> ← Return</a>
        </p>
    </div>
</div>
