<div class="login-manual-form" style="display: none">
    <div style="position: absolute; top: -999px; left: -999px;">
        <input name="email" type="email">
        <input name="password" type="password">
    </div>
    <div class="introduction">
        <h2>Sign In with Email.</h2>
        <p>
            Enter the email and password for your existing user,
            and you’ll get authorized in seconds.
        </p>
    </div>
    <div class="form-block">
        <div class="sign-up-manual">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="email mdl-textfield__input"
                       name="email"
                       type="email"
                       id="email_login"
                       autocomplete="nope"
                       value="">
                <label class="mdl-textfield__label" for="email_login">
                    E-mail
                </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="password mdl-textfield__input"
                       name="password"
                       type="password"
                       id="password_login"
                       autocomplete="nope"
                       value="">
                <label class="mdl-textfield__label" for="password_login">
                    Password
                </label>
            </div>

            <div class="actions">
                <button
                        type="submit"
                        class="
                        mdl-button
                       mdl-js-button
                       --email
                       mdl-button--raised
                       mdl-js-ripple-effect
                       button
                       button-auth
                       button-switch-view-to-manual
                       __manual
                       --wide">
                    Sign In
                </button>
            </div>
        </div>

        <p class="auth-information">
            <a class="button-switch-view" href="#"> ← Return</a>
        </p>
    </div>
</div>
