---
http_interactions:
- request:
    method: get
    uri: https://rides.gett.com/sandbox/api/v1/business/eta?business_id=UK-3836&latitude=51.5141693&longitude=-0.1088909
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 2de11ec0b97f8ccdc8644aac53c149e30cb14c04607a5c729cde9d00b4540952
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000000'
      X-Rate-Limit-Remaining:
      - '999972'
      X-Rate-Limit-Reset:
      - '2018-08-09T20:28:25Z'
    body:
      encoding: ASCII-8BIT
      string: '{"etas":[{"product_id":"5178cd83-20bf-4991-b559-c1128dfae662","display_name":"Business
        Class","eta":150},{"product_id":"00407fdc-4385-4a22-9035-9d2d3e0a031a","display_name":"Business
        Class XL","eta":144},{"product_id":"c4522291-783f-4d50-9d98-888e8cd42457","display_name":"PBv1","eta":0},{"product_id":"f6cc0e3a-1e55-445e-8e75-e9367920cb27","display_name":"PBv2","eta":0}]}'
  recorded_at: Thu, 09 Aug 2018 20:27:56 GMT
recorded_with: VCR 4.0.0
