!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    -# NAME: SELL PRODUCTS
    <!--[if gte mso 15]>
    <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    <![endif]-->
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = render 'layouts/mailer_styles'

  %body
    %center
      %table#bodyTable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "100%"}
        = render 'layouts/mailer_header'
        %tr
          %td#bodyCell{:align => "center", :valign => "top"}
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td#templateBody{:align => "center", "data-template-container" => "", :valign => "top"}
                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:600px;", :width => "600"}
                    %tr
                      %td{:align => "center", :style => "width:600px;", :valign => "top", :width => "600"}
                        %table.templateContainer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tr
                            %td.bodyContainer{:valign => "top"}
                              = yield
                              %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:100%;", :width => "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{:style => "padding-top:9px;", :valign => "top"}
                                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:100%;", :width => "100%"}
                                        %tr
                                          %td{:style => "width:600px;", :valign => "top", :width => "600"}
                                            %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width:100%; min-width:100%;", :width => "100%"}
                                              %tbody
                                                %tr
                                                  %td.mcnTextContent{:style => "padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;", :valign => "top"}
                                                    %span{:style => "font-size:13px"}
                                                      %span{:style => "font-family:open sans,helvetica neue,helvetica,arial,sans-serif"} Thank you, 
                                                    %br/
                                                    %br/
                                                    %span{:style => "font-size:13px"}
                                                      %span{:style => "font-family:open sans,helvetica neue,helvetica,arial,sans-serif"} One Transport
                                                    %span{:style => "font-size:13px"}
                                                      %span{:style => "font-family:open sans,helvetica neue,helvetica,arial,sans-serif"} Fleet Team
