body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1720px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1720px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:481px;
  width:21px;
  height:21px;
}
#u161_img.mouseOver {
}
#u161.mouseOver {
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:481px;
  width:21px;
  height:21px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:704px;
  width:21px;
  height:21px;
}
#u163_img.mouseOver {
}
#u163.mouseOver {
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:704px;
  width:21px;
  height:21px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:895px;
  width:21px;
  height:21px;
}
#u165_img.mouseOver {
}
#u165.mouseOver {
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:895px;
  width:21px;
  height:21px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:418px;
  width:79px;
  height:31px;
}
#u168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:418px;
  width:79px;
  height:31px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:418px;
  width:79px;
  height:31px;
}
#u170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:418px;
  width:79px;
  height:31px;
}
#u171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:641px;
  width:79px;
  height:31px;
}
#u172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:642px;
  width:79px;
  height:31px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:641px;
  width:79px;
  height:31px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:642px;
  width:79px;
  height:31px;
}
#u175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:833px;
  width:79px;
  height:31px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:832px;
  width:79px;
  height:31px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:833px;
  width:79px;
  height:31px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:832px;
  width:79px;
  height:31px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
  background-color:#F3F6F6;
  font-family:'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6E7881;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:51px;
  background:inherit;
  background-color:rgba(37, 153, 199, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:988px;
  width:222px;
  height:51px;
}
#u180_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:51px;
  background:inherit;
  background-color:rgba(12, 124, 180, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180.mouseOver {
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
