<div class="video-3d-wrapper">
    <div id="video-3d-overlay">
        <a href="#" class="video-3d-close">
            <span></span>
        </a>
        <iframe id="property-video-3d" src="">
        </iframe>
        <div class="powered-by">
            Powered by
            <a target="_blank" href="https://matterport.com/">Matterport</a>
        </div>
    </div>
</div>
