<div class="video-wrapper">
    <div id="video-overlay">
        <a href="#" class="video-close">
            <span></span>
        </a>
        <video id="property-video-wellcomemat" src="">
        </video>
        <iframe id="property-video-youtube" src="" frameborder="0">
        </iframe>
        <div class="powered-by-wellcomemat">
            Powered by
            <a target="_blank" href="http://www.wellcomemat.com/">WellcomeMat</a>
        </div>
    </div>
</div>