/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/debug/*
/app/spool/
!app/cache/.gitkeep
!app/logs/.gitkeep
app/bootstrap.php.cache
/build/
/vendor/
/bin/
/composer.phar
.sass-cache

/db/*
/.idea/*

/tmp
/translations.zip
/fresque.ini
dump.rdb
influxdb.log
node_modules/*
.ruby-gemset
.php_cs.cache
property.xml


# ====== Frontend ======
web/bundles/
web/assets/images/sprites-*.png
web/build/assets/stylesheets/*
web/bower_components/*
web/build/*
web/sitemaps/sitemap*
!web/listhub/reports/.gitkeep
!web/sitemaps/.gitkeep
