<div class='movableContent'>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           class="container">
        <tr>
            <td width="100%" colspan="2" style="padding-top:25px; padding-bottom: 5px;">
                <hr/>
            </td>
        </tr>
        <tr>
            <td width="100%" height="70" valign="middle"
                style="padding-bottom:20px;">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" align='left'>
                        {% if email_user_to is defined %}
                            <span style="font-size:12px;color:#919191;font-family:Helvetica, Arial, sans-serif;">
                                Sent to {{ email_user_to }}
                                by <a href="http://luxuryaffairs.co.uk/">{{ app_name }}</a>
                            </span>
                        {% endif %}
                        <br/>
                        <span style="font-size:10px;color:#919191;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
                            2nd floor, Quayside Tower, Broad Street, Birmingham, B1 2HF
                        </span>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
