.partner-networks-caps {
  .tree-capabilities {
    height: calc(100vh - 190px);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .rst__tree {
      margin: 0;
      .ReactVirtualized__List {
        padding: 10px 0;
      }
    }
  }
}

table.bu-tags {
  th,
  td {
    min-width: 250px;
  }
}
