.funnel-grid {
  margin-top: 30px;

  .four.wide.column {
    padding: 0;
    margin: 30px 0;

    .funnel-info {
      margin-top: 13px;
      p {
        margin-top: 8px;
      }
    }
  }

  .funnel-label {
    height: 34px;
    color: #6e7881;
    font-weight: 600;
    font-size: 11px;
  }

  .sub-text {
    font-size: 10px;
    font-weight: 500;
  }

  .funnel-padding {
    padding-left: 5px;
  }

  canvas:hover {
    opacity: .9;
  }
}
