@import "../../../../styles/tools/mixins.scss";

.ProductDescription {
    @include spacingBottom;
    @include defaultText;
    @include marginXauto;
    // max-width: 800px;
    // margin-bottom: 45px;

    @include media-query($small) {
        padding: 0 20px;
    }
    h1, h2 {
        font-family: var(--font-heading);
        font-weight: normal;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--black-pearl);
        margin-bottom: 0;
        text-align: center;
        padding: 30px 5px;
        @include media-query($small) {
            font-size: 24px;
            line-height: 28px;
            padding: 30px 5px;
        }
    }

    margin-bottom: 10px;
    @include media-query($small) {
        padding-bottom: 0;
    }
    h2 {
        // @include spacingTopMedium;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        @include media-query($small) {
            font-size: 18px;
            line-height: 30px;
        }
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        font-family: var(--font-heading);
        font-weight: normal;
        text-transform: uppercase;
        color: var(--black-pearl);
        margin-bottom: 0;
        @include media-query($small) {
            font-size: 18px;
            line-height: 30px;
        }
    }

    p {
        @include spacingBottomMedium;

        @include media-query($small) {
            font-size: 14px;
            line-height: 22px;
            text-align: left;
        }
    }


    li {
        padding-left: 30px;
        margin-bottom: 30px;
        font-family: var(--font-body);
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        color: #535059;
        background-image: url("./video_drop_pin.svg");
        background-repeat: no-repeat;
        background-position: 0 4px;
        background-size: 11px;
        list-style: none;
        @include media-query($small) {
            font-size: 14px;
            line-height: 22px;
            background-size: 8px;
            padding-left: 20px;
        }
    }
}
