.backButton {
  position: absolute;
  top: -20px;
  right: 0;
}

.chart :global {
  .recharts-cartesian-axis-tick-value:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .recharts-bar-cursor,
  .recharts-bar-rectangle {
    cursor: pointer;
  }
}
