$PRESENTATION_NEXT_BORDER_COLOR: #c4c5c5;
$PRESENTATION_NEXT_BORDER_DIVIDER_COLOR: #d6d9db;
$PRESENTATION_NEXT_BORDER_COLOR_ALT_COLOR: #aaafb2;

$PRESENTATION_NEXT_BORDER_DIVIDER_DARK_COLOR: #777777;
$PRESENTATION_NEXT_BORDER_DIVIDER_LIGHT_COLOR: #dddddd;
$PRESENTATION_NEXT_SELECTED_BORDER_COLOR: #0099cc;
$PRESENTATION_NEXT_MATCH_CORNER_COLOR: #21bdc3;
$PRESENTATION_NEXT_ALT_BORDER_COLOR: #6e7880;
$PRESENTATION_NEXT_SELECTED_BORDER: 2px solid $PRESENTATION_NEXT_SELECTED_BORDER_COLOR;
$PRESENTATION_NEXT_SELECTED_MATCH_BORDER: 2px solid $PRESENTATION_NEXT_MATCH_CORNER_COLOR;

$PRESENTATION_NEXT_COST_COLOR: #096c79;
$PRESENTATION_NEXT_COST_BACKGROUND_COLOR: #f2f6f7;
$PRESENTATION_NEXT_COST_VALUE_COLOR: #6e7881;

$PRESENTATION_WARNING_COLOR: #f9f3d8;
$PRESENTATION_WARNING_BORDER_COLOR: #b8a86d;
$PRESENTATION_WARNING_BLOCK_BORDER_COLOR: #ddcd93;

$PRESENTATION_NEXT_CURRENT_CORNER_COLOR: #3a444d;
$PRESENTATION_NEXT_HEADER_ROW_HEIGHT: 240px;
$PRESENTATION_NEXT_UHC_HEADER_ROW_HEIGHT: 170px;
$PRESENTATION_NEXT_HEADER_LOGO_ROW_HEIGHT: 75px;
$PRESENTATION_NEXT_SELECTED_INDENT_TOP: 10px;
$PRESENTATION_NEXT_SELECTED_INDENT_BOTTOM: 20px;
$PRESENTATION_NEXT_TOTAL_LAST_ROW_HEIGHT: 70px;
$PRESENTATION_NEXT_COLUMN_BORDER_RADIUS: 5px;
$PRESENTATION_NEXT_TEXT_COLOR_DARK: #3f4951;
$PRESENTATION_NEXT_TEXT_COLOR_LIGHT: #999999;
$PRESENTATION_NEXT_NEW_ROW_BACKGROUND: #3a444d;
$PRESENTATION_NEXT_FIRST_COLUMN_WIDTH: 127px;

$PRESENTATION_DARK_COLOR: #333333;

$PRESENTATION_SHORT_TABLE_BORDER: 1px solid $PRESENTATION_NEXT_BORDER_DIVIDER_COLOR;
$PRESENTATION_SHORT_TABLE_ALT_BORDER: 1px solid $PRESENTATION_NEXT_BORDER_COLOR_ALT_COLOR;

$PRESENTATION_NEXT_MATCH_BORDER: 2px solid $PRESENTATION_NEXT_MATCH_CORNER_COLOR;

$PRESENTATION_NEXT_FAVOURITE_COLOR: #f5a623;
$PRESENTATION_NEXT_UNFAVOURITE_COLOR: #aaafb2;

$PRESENTATION_SHORT_DIVIDER_COLOR: #979797;
$PRESENTATION_NEXT_BOX_SHADOW: rgba(0, 0, 0, 0.5);
$PRESENTATION_NEXT_GRAY_TITLE_COLOR: #9b9b9b;

$PRESENTATION_NEXT_EMPTY_BACK_COLOR: #f2f2f2;

$FONT_COLOR: #3A444D;
$HEADER_SUB_COLOR2: #6E7881;
$BACKGROUND_COLOR: #F2F2F2;
$PRESENTATION_MODAL_DIVIDER_COLOD: #d6d9db;
$PRESENTATION_NAVIGATION_BG_COLOR: #2b343c;

