@import '../../variables-theme';

.rfp-products {
  .radio-label {
    margin-right: 20px;
  }

  .pageFooterActions {
    .ui.loader {
      float: right;
      margin-right: 20px;
      margin-top: 7px;
    }
  }
}
