---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?channel=channel_name&components=&input=221B%20Baker%20london%20uk&key=AIzaSyBmgcuoNZLqQG7I51V9dk_mUoadHi438P8&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "221b Baker Street, London, UK",
                 "id" : "de1ca3815dc4c1d3a57ec502dfe35a5c3b23be5f",
                 "matched_substrings" : [
                    {
                       "length" : 10,
                       "offset" : 0
                    },
                    {
                       "length" : 2,
                       "offset" : 27
                    }
                 ],
                 "place_id" : "Eh0yMjFiIEJha2VyIFN0cmVldCwgTG9uZG9uLCBVSw",
                 "reference" : "CjQhAAAA6b4h5UZkr9BireWXE1o7xBjlId1FuwStnRqWpvu2nX_SDMhgGdL10Jh9JdWgX0uKEhCxgPSLES6_Ivgmcbzq_eD5GhQlMUGmz__Wq3Fy6t9Mx-0kjvsBJA",
                 "structured_formatting" : {
                    "main_text" : "221b Baker Street",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 10,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "London, UK",
                    "secondary_text_matched_substrings" : [
                       {
                          "length" : 2,
                          "offset" : 8
                       }
                    ]
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "221b Baker Street"
                    },
                    {
                       "offset" : 19,
                       "value" : "London"
                    },
                    {
                       "offset" : 27,
                       "value" : "UK"
                    }
                 ],
                 "types" : [ "route", "geocode" ]
              },
              {
                 "description" : "<%= input || '221b Baker Passage, London, UK' %>",
                 "id" : "ba3891b35d74b52853ae7dd8b277595ba8ce532a",
                 "matched_substrings" : [
                    {
                       "length" : 10,
                       "offset" : 0
                    },
                    {
                       "length" : 2,
                       "offset" : 28
                    }
           [...]
