<div class="gallery-toolbar">
    <ul>
        <li class="details">
            <a target="_blank" href="%PROPERTY_URL%">
                <i class="material-icons">subject</i>
                <span>Details</span>
            </a>
        </li>

        %PROPERTY_VIDEO%

        <li class='counter-wrapper'>
        </li>

        <li class="share"
            data-title="Share this property"
            data-url="%PROPERTY_ABSOLUTE_URL%">
            <i class="material-icons share-icon">share</i>
        </li>
    </ul>
</div>
