%tr
  %td.mcnTextContent(style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top")
    %span(style="font-family: 'Roboto',open sans,helvetica neue,helvetica,arial,sans-serif") The Gett Affiliate Team
