:css
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f8ff;
    font-family: Roboto;
    font-size: 14px;
  }

  .boldText {
    font-weight: bold;
    color: #000000;
  }

  .templateContainer {
    max-width: 900px !important;
  }

  .textContentTable td {
    padding-bottom: 10px;
  }

  .iconHolder img {
    vertical-align: middle;
  }

  .headerContainer {
    border-bottom: none;
  }

  @media only screen and (min-width:768px) {
    .templateContainer {
      width: 900px !important;
    }
  }
