%tr
  %td.mcnTextContent(style="padding:35px 0; border-top: 1px solid #d8d8d8;" valign="top")
    %p(style="color:#373737;font-weight:bold;margin:0 0 5px 0;font-size:20px;font-family: 'Roboto',open sans,helvetica neue,helvetica,arial,sans-serif;")
      - if @thank_you
        Thank you!
      - else
        Kind regards!
    %span(style="font-family: 'Roboto',open sans,helvetica neue,helvetica,arial,sans-serif;line-height:30px;color:#808080;")
      Your Gett Business Solutions powered by One Transport
