:css
  /* Email styles need to be inline */
  p {
    margin: 10px 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
  }

  img, a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
  }

  body, #bodyTable, #bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f8ff;
  }

  #bodyTable {
    max-width: 900px;
    margin: 100px auto;
  }

  img {
    -ms-interpolation-mode: bicubic;
  }

  table {
    mso-table-lspace: 0;
    mso-table-rspace: 0;
  }

  p, a, li, td, blockquote {
    mso-line-height-rule: exactly;
  }

  a[href^=tel], a[href^=sms] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }

  p, a, li, td, body, table, blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  .templateContainer {
     max-width: 600px !important;
  }

  a.mcnButton {
    display: block;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    height: 40px;
    width: 160px;
    background-color: #fdb924;
    line-height: 3.5;
    border-radius: 6px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #373737;
  }

  .mcnImage {
    vertical-align: bottom;
  }

  .mcnTextContent {
    word-break: break-word;
  }

  .mcnTextContent img {
    height: auto !important;
  }

  #templateHeader {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .headerContainer {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #d8d8d8;
  }

  .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p,
  .cardInformationHolder .mcnTextContent, .cardInformationHolder .mcnTextContent p,
  .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p, td {
    font-family: 'Roboto', Helvetica;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }

  .bodyContainer .mcnTextContent a, .bodyContainer .mcnTextContent p a, 
  .cardInformationHolder .mcnTextContent a, .cardInformationHolder .mcnTextContent p a,
  .headerContainer .mcnTextContent a, .headerContainer .mcnTextContent p a {
    color: #1875f0;
    font-weight: normal;
    text-decoration: underline;
  }

  .cardInformationHolder {
    background: #fff;
  }

  #templateBody {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    color: #373737;
  }

  .bodyContainer {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  #templateFooter {
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footerContainer {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
    color: #FFFFFF;
    font-family: 'Roboto', Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
  }

  .footerContainer .mcnTextContent a, .footerContainer .mcnTextContent p a {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: underline;
  }

  .avatarHolder {
    overflow: hidden;
    border-radius: 50%;
  }

  #grayBackground #templateFooter,
  #grayBackground #templateBody,
  #grayBackground #templateHeader {
    background-color: transparent;
  }

  @media only screen and (min-width:768px) {
    .templateContainer {
      width: 600px !important;
    }
  }

  @media only screen and (max-width: 480px) {
    body, table, td, p, a, li, blockquote {
      -webkit-text-size-adjust: none !important;
    }

    body {
      width: 100% !important;
      min-width: 100% !important;
    }

    .mcnImage {
      width: 100% !important;
    }

    .mcnTextContentContainer {
      max-width: 100% !important;
      width: 100% !important;
    }

    .mcnTextContent {
      padding-right: 18px !important;
      padding-left: 18px !important;
    }

    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
      font-size: 16px !important;
      line-height: 150% !important;
    }

    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
      font-size: 16px !important;
      line-height: 150% !important;
    }

    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
      font-size: 14px !important;
      line-height: 150% !important;
    }
  }
