!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml")
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")
    %meta(content="IE=edge" http-equiv="X-UA-Compatible")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    = render 'layouts/mailer_styles'

  %body
    %center
      %table#bodyTable#grayBackground(align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%")
        %tr
          %td#bodyCell(align="center" valign="top")
            %table(border="0" cellpadding="0" cellspacing="0" width="600px" bgcolor="#f8f8f9")
              %tr
                %td#templateBody(align="center" valign="top" bgcolor="#f8f8f9")
                  %table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;" width="600")
                    %tr
                      %td(align="center" style="width:600px;" valign="top" width="600")
                        %table.templateContainer(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
                          %tr
                            %td.bodyContainer(valign="top" style="padding-left:25px; padding-right:25px;")
                              = yield
