.btn {
  color: #2a99f5;
  &:hover,
  &:global(.ant-select-dropdown-menu-item-active) {
    background-color: transparent;
  }
  &:after {
    display: none !important;
  }
}

.select {
  display: block;
  /* fix foe IE scroll arrows */
  -ms-overflow-style: none;

  :global {
    .ant-select-selection {
      max-height: 108px; // 3 rows
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &.ant-select-selection--multiple .ant-select-selection__rendered {
        margin-left: 15px;
        transform: translate3d(0, 0, 0);
      }
    }
    .ant-select-selection__clear {
      display: flex;
    }
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}

.clearIcon {
  & path {
    fill: #808080;
  }
  & circle {
    fill: #e2e2e2;
  }
  &:hover {
    & path {
      fill: #fff;
    }
    & circle {
      fill: grey;
    }
  }
}
