$dark-grey: #989898;

.table {
  width: auto !important;
}

.filterBtns > :global(.ant-btn) {
  border-color: #d9d9d9;
  height: 38px;
}

.w225 {
  width: 100%;
  max-width: 225px;
}

.journey {
  position: relative;
  padding-left: 20px;
  border-left: 1px solid $dark-grey;

  .start:before,
  .end:before {
    content: '';
    position: absolute;
    left: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    background: #fff;
  }

  .start:before {
    top: 0;
    background: #fff;
  }

  .end:before {
    bottom: 0;
    background: $dark-grey;
  }
}
