#error {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;

  i {
    font-size: 55px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    color: #424242;
  }
  .subtitle {
    color: #757575;
    margin-top: 15px;
    font-size: 16px;
  }
  a {
    margin-top: 30px;
  }
}