{
  "extends": [
    "plugin:shopify/esnext",
    "plugin:shopify/es5",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true,
    "amd": true,
    "node": true
  },
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": ["error", {"ignore": ["^jquery"]}],
    "no-alert": 0,
    "no-console": 0,
    "no-new": 0,
    "node/shebang": 0,
    "func-style" :"off",
    "prefer-template": 0,
    "object-curly-spacing":["error", "never"]
  },
  "globals": {
    "document": true,
    "window": true,
    "Shopify": true,
    "theme": true
  }
}
