---
http_interactions:
- request:
    method: get
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.one-transport.co.uk/OTWebservice\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://www.one-transport.co.uk/OTWebservice\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.one-transport.co.uk/OTWebservice\">\r\n
        \     <s:element name=\"SimpleAddressLookup\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"Request\" nillable=\"true\" type=\"tns:SimpleAddressLookupRequestStructure\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:complexType name=\"SimpleAddressLookupRequestStructure\">\r\n        <s:sequence>\r\n
        \         <s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"Header\" nillable=\"true\"
        type=\"tns:RequestHeaderStructure\" />\r\n         [...]
