<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%- htmlWebpackPlugin.options.faviconHtml %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900,bold" rel="stylesheet">
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.googlePlacesSrc %>"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="https://js.paymentsos.com/v2/latest/secure-fields.min.js"></script>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.renderLivePersonScript) { %>
      <% include src/_livePersonScript %>
    <% } %>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.options.renderDownloadForm) { %>
      <form id="contentDownloadForm" target="_blank">
        <input class="token" type="hidden" name="token" />
        <input class="downloadToken" type="hidden" name="download_token" />
        <div class="data" />
      </form>
    <% } %>
  </body>
</html>
