---
http_interactions:
- request:
    method: get
    uri: https://sandbox.carey.com/CSIOTAProxy_v2/CareyReservationService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-b05-RC1. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.opentravel.org/OTA/2003/05" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.opentravel.org/OTA/2003/05" name="CareyReservationService">
        <types>
        <xsd:schema>
        <xsd:import namespace="http://www.opentravel.org/OTA/2003/05/alpha" schemaLocation="https://sandbox.carey.com:443/CSIOTAProxy_v2/CareyReservationService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
        <xsd:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="https://sandbox.carey.com:443/CSIOTAProxy_v2/CareyReservationService?xsd=2"/>
        </xsd:schema>
        </types>
        <message name="rateInquiry">
        <part name="rateInquiryRQ" element="tns:OTA_GroundAvailRQ"/>
        </message>
        <message name="rateInquiryResponse">
        <part xmlns:ns1="http://www.opentravel.org/OTA/2003/05/alpha" name="rateInquiryRS" element="ns1:OTA_GroundAvailRS"/>
        </message>
        <message name="addReservation">
        <part name="addReservationRQ" element="tns:OTA_GroundBookRQ"/>
        </message>
        <message name="addReservationResponse">
        <part name="addReservationRS" element="tns:OTA_GroundBookRS"/>
        </message>
        <message name="cancelReservation">
        <part name="cancelReservationRQ" element="tns:OTA_GroundCancelRQ"/>
        </message>
        <message name="cancelReservationResponse">
        <part name="cancelReservationRS" element="tns:OTA_GroundCancelRS"/>
        </message>
        <message name="modifyReservation">
        <part name="modifyReservationRQ" element="tns:OTA_GroundModifyRQ"/>
        </message>
        <message name="modifyReservationResponse">
        <part name="modifyReservationRS" element="tns:OTA_GroundBookRS"/>
        </message>
        <message name="findReservation">
        <part name="findReservationRQ" element="tns:OTA_GroundResRetrieveRQ"/>
        </message>
        <message name="findReservationResponse">
        <part name="findReservationRS" element="tns:OTA_GroundResRetrieveRS"/>
        </message>
        <portType name="CareyReservationPortType">
        <operation name="rateInquiry">
        <input message="tns:rateInquiry"/>
        <output message="tns:rateInquiryResponse"/>
        </operation>
        <operation name="addReservation">
        <input message="tns:addReservation"/>
        <output message="tns:addReservationResponse"/>
        </operation>
        <operation name="cancelReservation">
        <input message="tns:cancelReservation"/>
        <output message="tns:cancelReservationResponse"/>
        </operation>
        <operation name="modifyReservation">
        <input message="tns:modifyReservation"/>
        <output message="tns:modifyReservationResponse"/>
        </operation>
        <operation name="findReservation">
        <input message="tns:findReservation"/>
        <output message="tns:findReservationResponse"/>
        </operation>
        </portType>
        <binding name="CareyReservationPortBinding" type="tns:CareyReservationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="rateInquiry">
        <soap:operation soapAction="rateInquiry"/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        </operation>
        <operation name="addReservation">
        <soap:operation soapAction="addReservation"/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        </operation>
        <operation name="cancelReservation">
        <soap:operation soapAction="cancelReservation"/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        </operation>
        <operation name="modifyReservation">
        <soap:operation soapAction="modifyReservation"/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        </operation>
        <operation name="findReservation">
        <soap:operation soapAction="findReservation"/>
        <input>
        <soap:body use="literal"/>
        </input>
        <output>
        <soap:body use="literal"/>
        </output>
        </operation>
        </binding>
        <service name="CareyReservationService">
        <port name="CareyReservationPort" binding="tns:CareyReservationPortBinding">
        <soap:address location="https://sandbox.carey.com:443/CSIOTAProxy_v2/CareyReservationService"/>
        </port>
        </service>
        </definitions>
  recorded_at: Wed, 22 Aug 2018 19:55:01 GMT
recorded_with: VCR 4.0.0
