$MAIN_FONT: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
$SECOND_FONT: 'Montserrat' !important;

$ELEM_ORANGE_COLOR: #E17C26;
$ELEM_ORANGE_COLOR_HOVER: #c36225;
$ELEM_ACTIVE_COLOR: #0099CC;
$ELEM_ACTIVE_COLOR_HOVER: #05b5e0;
$ELEM_GREEN_COLOR: #25B79F;
$ELEM_GREEN_COLOR_HOVER: #249882;

$SUB_HEADER_COLOR: #9E9E9E;

$DIVIDER_COLOR: #A3A3A3;

$VIOLET_COLOR: #A471B0;
$VIOLET_COLOR_HOVER: #9768a8;

$LINK_COLOR: #0099cc;
$BUTTON_COLOR: #357dc0;
$BUTTON_DISABLED_COLOR: #D2D2D2;
$BUTTON_TOGGLE_ATIVE_COLOR: #D1D1D1;
$LINK_COLOR_HOVER: #6cc0e5;
$BUTTON_GREY_COLOR: #748287;
$BUTTON_GREY_HOVER_COLOR: #94a3a8;
$BUTTON_BORDER_COLOR: #979797;
$BUTTON_TEAL_COLOR: #21bdc3;

$INPUT_BACKGROUND: #f5f8f9;
$INPUT_MIN_WIDTH: 170px;
$INPUT_BACKGROUND_FOCUS: #ffffff;
$INPUT_COLOR: #676767;
$INPUT_BORDER_COLOR: #bdc0c2;
$INPUT_BORDER_COLOR_DARK: #989898;
$INPUT_BORDER: 1px solid $INPUT_BORDER_COLOR;

$POPUP_BG_COLOR: #494F5C;

$NOTE_COLOR: #F4ECD9;
$ERROR_COLOR: #F16060;
$WARNING_COLOR: #F8991D;
$WARNING_GREY_COLOR: $BUTTON_GREY_COLOR;
$INFO_COLOR: #3AC0C3;
$SUCCESS_COLOR: #8DC63F;

$SECOND_COLOR: $INFO_COLOR;

$PRESENTATION_NAVIGATION_COLOR: #aaafb2;
$PRESENTATION_NAVIGATION_ACTIVE_BG: #2b343c;
