---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:VehicleLocation><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>1</tns:MaxReply></tns:Header><tns:OTConfirmationNumber>AD13109</tns:OTConfirmationNumber></tns:Request></tns:VehicleLocation></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/VehicleLocation"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><VehicleLocationResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><VehicleLocationResult><Header><Version>3</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-17T15:07:52.7041841Z</Time><Result><Message>No
        records found for that Confirmation Number</Message><Code>1600</Code></Result></Header><VehicleAvailabilities><VehicleAvailabiltyStructure><Distance_To_Pickup_Miles>0</Distance_To_Pickup_Miles><Distance_To_Pickup_KM>0</Distance_To_Pickup_KM><Distance_To_Destination_Miles>0</Distance_To_Destination_Miles><Distance_To_Destination_KM>0</Distance_To_Destination_KM><ETA
        /><ETA_Destination /><VehicleState>None</VehicleState><Location><Latitude>0</Latitude><Longitude>0</Longitude><GRN>0</GRN><GRE>0</GRE><URN>0</URN></Location><Vehicle><VehicleRef
        /><DriverRef /><RegNo /><Make /><Colour /><DriverName /><Description /><VendorName
        /><V_Class>None</V_Class><V_Type>None</V_Type><DriverMobileNumber /><VendorPhoneNumber
        /></Vehicle></VehicleAvailabiltyStructure></VehicleAvailabilities></VehicleLocationResult></VehicleLocationResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Aug 2018 15:08:04 GMT
recorded_with: VCR 4.0.0
