@import '../variables-theme';

.admin-page-wrapper {
  .table-block {

    a {
      cursor: pointer;
    }

    .add-icon {
      margin-right: 12px;
    }
    .list-item {
      float: left;
    }
    .emails {
      float: left;
      margin-right: 24px;

      .address {
        float: left;
        margin-right: 12px;
      }
      .delete-icon {
        float: left;
        margin-top: 3px;
      }
    }
  }

  .DraftEditor-root {
    overflow-y: scroll;
  }
  .ui.grid.gridSegment {
    min-height: 450px;
    margin-bottom: 25px !important;
  }

  h1.ui.header.page-heading {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .ui.form {
    margin-bottom: 20px;
  }

  .disclosure-read {
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 1px solid $DIVIDER_COLOR;
    border-bottom: 1px solid $DIVIDER_COLOR;
    padding: 30px 30px 60px;
    white-space: pre-wrap;

    .modify {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 0;
      line-height: 100%;
    }
  }

  .modify {
    font-size: 13px;
    color: $SUB_HEADER_COLOR;
    margin-bottom: 0;
  }

  .ui.loader {
    top: 320px;
  }

  .button-edit {
    width: 65px;
    float: right;
  }

  .DraftEditor-editorContainer {
    height: 150px;
  }

  .sent-to-list-history {
    margin-top: -60px;

    .divider {
      height: 1px;
      background-color: $TABLE_BORDER_COLOR;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .header {
      font-weight: bold;
      small {
        font-size: 16px;
        margin-left: 45px;
      }
    }

    .table-block {
      position: relative;

      .table {
        border: none;
        border-bottom: 1px solid $TABLE_BORDER_COLOR;

        thead {
          border: none;
          border-radius: 0;

          th {
            border: none;
            font-weight: 100;
            border-bottom: 1px solid $TABLE_BORDER_COLOR;
            background: none;
            font-size: 11px;

            &.carrier-cell {
              width: 30%;
            }

            .arrow-text {
              font-size: 13px;
              position: absolute;
              right: 50px;
              top: 0;
              font-weight: 400;

              img {
                position: relative;
                left: 20px;
                top: 7px;
                width: 16px;
              }
            }
          }
        }

        tbody {
          tr {
            border-left: 1px solid $TABLE_BORDER_COLOR;
            border-right: 1px solid $TABLE_BORDER_COLOR;
            td {
              .enter-hint {
                color: #7A8791;
                font-style: italic;
                font-size: 13px;
              }

              .emails {
                float: left;
                display: flex;
                flex-direction: column;
                .email-item {
                  float: left;
                  margin-right: 10px;
                  margin-bottom: 4px;
                }
              }

              &:first-child {
                border-left: 1px solid $TABLE_BORDER_COLOR;
              }
              &:last-child {
                border-right: 1px solid $TABLE_BORDER_COLOR;
                width: 75px !important;
                text-align: center;
              }

              .add-icon {
                width: 20px;
                float: left;
              }
              .delete-icon {
                width: 12px;
                float: left;
              }
            }
          }
        }
      }
    }
  }
}

.add-email-modal {
  .header {
    border-bottom: none !important;
    background-color: transparent !important;
  }
  .content {
    min-height: 200px;
  }
  .actions {
    border-top: none !important;
    background-color: transparent !important;
  }
  .new-row-block {
    padding: 0;
    img {
      margin-right: 5px;
    }
  }
  .input-block {
    padding-right: 0 !important;
  }
  .input {
    width: 100%;
    input {
      background-color: $INPUT_BACKGROUND_GRAY_COLOR !important;
    }
  }
  img {
    width: 16px;
  }
  .delete-icon {
    line-height: 38px;
  }
  .button {
    width: 120px !important;
  }
  .cancel-modal-button {
    float: left;
  }
}
