page-forgotpassword {
.scroll-content
{
  padding: 50px !important;
  letter-spacing: 1px;
}

.label{
  font-size: 14px;
  color: #676767;
  font-weight: 300;
}

ion-item
{
  padding-left: 0!important;
}

.loginbtn
{
  background-color: #f66565;
  margin: 40px 0;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 14px;
}

.back-button-text
{
  display:none;
}

.back-button-icon
{
      color: #f66565;
}

}
