.goBack {
  position: absolute;
  left: 50px;
  top: 5px;
  color: #8794a0;
}

.circle {
  width: 40px;
  height: 40px;
  background: #d2dadc;
  line-height: 40px;
  border-radius: 50%;
  color: #74818f;
}

.tabs {
  max-width: 800px;

  :global {
    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-nav-scroll {
      display: flex;
      justify-content: center;
    }
  }
}

.service :global {
  ol {
    list-style-type: decimal;
    padding-left: 40px;
  }

  ul {
    list-style-type: disc;
    padding-left: 40px;
  }

  li {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .goBack {
    left: 20px;
  }

  .circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .tabs :global(.ant-tabs-tab) {
    font-size: 12px;
    margin-right: 0;
  }
}
