<div class="search-wrapper">
    <div class="search-results" style="display: none">
        <div class="search-results-business">
        </div>
        <div class="search-results-agent">
        </div>
        <div class="search-results-id">
        </div>
        <div class="search-results-zip">
        </div>
        <div class="search-results-mls">
        </div>
        <div class="search-results-ref">
        </div>
        <div class="search-results-guid">
        </div>
        <div class="search-results-location">
        </div>
        <div class="search-results-article">
        </div>
        <div class="search-results-tag">
        </div>
    </div>

    {% include 'AppBundle:layout/search:popular.html.twig' %}

    {% include 'AppBundle:layout/search:google_credit.html.twig' %}
</div>
