---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ClientLookup><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>100</tns:MaxReply></tns:Header><tns:ClientNumber>D25</tns:ClientNumber><tns:ClientName>Demo_admin</tns:ClientName></tns:Request></tns:ClientLookup></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/ClientLookup"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ClientLookupResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><ClientLookupResult><Header><Version>3</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-17T16:53:21.6863145Z</Time><Result><Message
        /><Code>0</Code></Result></Header><General><ClientNumber>D25</ClientNumber><ClientName>DEMONSTRATIONS</ClientName><References
        /><Requirements><RequirementsStructure><OTRequirementID>001</OTRequirementID><Description>Wheelchair
        User (Ramps Required)</Description></RequirementsStructure><RequirementsStructure><OTRequirementID>002</OTRequirementID><Description>Ambulant
        Wheelchair User</Description></RequirementsStructure><RequirementsStructure><OTRequirementID>003</OTRequirementID><Description>Passenger
        Needs Assistance</Description></RequirementsStructure><RequirementsStructure><OTRequirementID>004</OTRequirementID><Description>Passenger
        With Guidedog</Description></Requirement[...]
