<div data-react-component-placeholder="PageContactUs" data-is-sent={{contact.form.posted_successfully?|json}}
    data-is-sent2={{contact.form.posted_successfully|json}} data-is-sent3="{{contact.form.posted_successfully}}"
    data-errors={{form.errors|json}}></div>