<div style="margin-top:30px" class="section-header text-center">
  <h1>{{ page.title }}</h1>
  <div style="max-width:1000px; margin:auto; text-align:left">
    <div data-react-component-placeholder="Translate">{{ page.content }}</div>
  </div>
</div>