{%comment%} this page is a hack for payments not via Shopify {%endcomment%}
<div style="max-width: 80%; margin:auto">
        {{- page.content -}}
        <div class="text-center"><img src="{{'martini.svg' | asset_url }}" /></div>
</div>
