@import "../../variables";
@import "../../variables-theme";

.presentation-final {
  h1 {
    color: $RFP_HEADING_COLOR;
    font-size: 32px;
  }

  .remove-button {
    cursor: pointer;
    font-weight: 600;
    &:focus {
      outline: none;
    }
  }

  .ui.table {
    border-color: $SECOND_COLOR;
    margin-bottom: 40px;
    font-size: 15px;

    thead {
      tr.headerTop {
        th {
          padding: 10px 20px;
          font-size: 19px;
          line-height: 40px;
          position: relative;

          img.section-icon {
            width: 40px;
            height: 40px;
            float: left;
          }

          img.carrier-logo {
            display: inline-block;
            height: 65px;
            position: absolute;
            top: -3px;
            margin-left: 20px;
            left: 320px;

            &.clear-value-logo {
              height: 80px;
              top: -10px;
            }

            &.kaiser-logo {
              height: 75px;
              top: -7px;
            }
          }

          span {
            text-transform: uppercase;
            margin-left: 20px;
            font-weight: normal;
          }

          a {
            float: right;
            font-size: 15px;
          }
        }
      }

      tr.headerBottom {
        th {
          color: $PRESENTATION_OPTIONS_DESCRIPTION_COLOR;
          border-left: none;
          padding: 10px 15px;
          font-weight: normal;
        }
      }
    }

    tbody {
      td {
        padding: 20px 15px;

        &.plan-name {
          color: $BUTTON_COLOR;
          font-weight: 600;
        }
      }

      tr.empty-option {
        td {
          padding: 22px 15px;
          line-height: 40px;

          .add-option {
            float: right;
            font-weight: bold;
            img {
              width: 25px;
              height: 25px;
              display: inline-block;
              margin-right: 5px;
            }

            span.blue {
              margin-right: 5px;
            }

            span.blue {
              color: $LINK_COLOR;
            }

            .red {
              color: $PRESENTATION_FINAL_RED;
              margin-right: 30px;

              span {
                margin-left: 5px;
                font-style: italic;
              }
            }
          }
        }
      }


      &.stripedBack {
        tr:not(.empty-option):nth-child(odd) {
          background: $PRESENTATION_TABLE_STRIPEDBACK_COLOR !important;
        }
      }
    }

    tfoot {
      th {
        padding: 15px 15px;

        span {
          font-weight: 600;
        }

        .total-row {
          margin-bottom: 30px;
        }

        .total-row-title {
          text-transform: capitalize;
          font-size: 14px;
        }

        .total-row-sum {
          width: 130px;
          display: inline-block;
          font-size: 14px;
        }

        .table-footer-wrap {
          font-size: 12px;
          &:not(:first-child) {
            margin-top: 15px;
          }

          .table-footer-title {
            text-transform: capitalize;
            color: #666666;
            // margin-right: 50px;
          }

          .table-footer-sum {
            display: inline-block;
           // width: 100px;
            margin-left: 10px;

            &.red {
              color: $PRESENTATION_FINAL_RED;
            }
          }
        }
      }
    }

    &.celled.table-total {
      width: 55%;
      float: right;
      margin-top: 0;

      tfoot {
        tr {
          th {
            font-size: 14px;
            padding: 15px 20px;
            border-bottom: none;
            font-weight: 600;
            border-left: none !important;

            &.red {
              color: $PRESENTATION_FINAL_RED;
            }
          }

          &:first-child {
            th {
              padding-top: 20px;
            }
          }

          &:last-child {
            th {
              padding-bottom: 20px;
            }
          }

          &.summaryBundleDiscount {

          }
        }
      }

      tr.showAction, tr.showAction-false {
        background-color: #e7f7f7;
        height: 70px;
      }
    }

  }

  .external-products {
    border: 1px solid $INFO_COLOR;
    margin-bottom: 40px;

    .external-products-header {
      padding: 10px 10px 10px 50px;
      color: #ffffff;
      background: $INFO_COLOR url(../../img/svg/alert-info-triangle.svg) no-repeat 15px;
      background-size: 23px;
    }

    .external-products-inner {
      padding: 15px 25px 25px;

      .ui.form {
        margin-left: 10px;
        margin-top: 20px;
      }
    }
  }

  .discounts-cell {
    position: relative;

    .allow-kaiser-note {
      position: absolute;
      bottom: 13px;
      left: 13px;
    }
  }
}

.presentation-renewal-modal {
  padding: 36px 50px 50px 50px;
  text-align: center;

  .close-modal {
    @include lineCloseButton();
    font-size: 28px;
  }

  .ui.header.presentation-renewal-modal-header {
    font-weight: 200;
    font-size: 24px !important;
    text-align: center;
    margin-bottom: 25px;
  }
}

.send-modal {
  padding: 40px;
  .content {
    padding: 10px 0!important;

    .presentation-options-header {
      margin-top: 35px;

      .note {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }

    .ui.form .inline.fields {
      &.buttons {
        float: right;
        margin-top: 80px;

        .ui.button {
          float: right;
          width: 200px;
          margin-left: 10px;
        }
      }
    }
  }
}
