.advertisement {
  z-index: 1;

  margin-top: 40px;
  margin-bottom: 80px;
}

.blog {
  .recommended-editorials {
    position: relative;

    .story-card {
      max-width: 700px;
      position: relative;

      .tag {
        font-size: 12px;
        color: #f7f7f7;
        display: block;
      }
      .title {
        position: relative;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        color: #f7f7f7;
        display: block;
      }
      .short-details {
        display: inline-block;
        padding-top: 20px;
        color: #f7f7f7;
        font-size: 16px;
        line-height: 1.4;
      }
    }

    &.\--fullheight {
      height: 100vh !important;
    }
    &.\--fullheight-top {
      height: calc(100vh - #{$header_height});
    }

    &.\--fullheight,
    &.\--fullheight-top {
      .story-card {
        margin-top: 130px;

        .tag {
          padding-left: 40px;
        }
        .title {
          padding-left: 40px;
          font-size: 46px;
          font-weight: 700;

          &:after {
            content: '';

            border-left: 1px solid #f7f7f7;
            position: absolute;

            left: 10px;
            top: 13px;
            bottom: 12px;
          }
        }
        header {
          margin-left: 20px;
          margin-top: 20px;
        }
        .item-navigation {
          margin-left: 80px;
          color: #f7f7f7;

          i {
            margin-right: 5px;
          }
          a,
          i,
          .share-button,
          .comments-counter,
          .like-counter {
            color: #f7f7f7;
          }
        }
        .short-details {
          font-size: 18px;
          line-height: 1.3;
        }
      }
      .row {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 10;
      }
    }
    &.\--inline {
      height: 500px !important;
      margin: 60px 0;
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      font-size: 0;
      white-space: nowrap;
      padding-top: 60px;
      padding-bottom: 60px;

      > * {
        font-size: initial;
        white-space: normal;
      }
      .article-actions {
        top: 0;
      }
      .story-card {
        display: inline-block;
        width: 50%;
        max-width: 100%;
        padding-right: 20px;
        vertical-align: top;

        .tag {
          color: #757575;
          @include transition(color 0.3s);

          &:hover {
            color: #212121;
          }
        }
      }
      .main-image {
        display: inline-block;
        width: 50%;
        height: 100%;
        max-height: 400px;
        vertical-align: top;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        &:hover {
          .fullscreen {
            opacity: 0.8;
          }
        }
      }
      .title {
        color: $color_1;
      }
      .short-details {
        color: #616161;
      }
    }
  }
}

@media screen and (max-width: $desktop_width) {
  .blog {
    .recommended-editorials {
      padding: 0 10px;

      .story-card .title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .short-details {
        line-height: 1.2;
      }
    }
  }
}

@media only screen and (max-width: $tablet_width - 1px) {
  .blog {
    .recommended-editorials {
      height: calc(100vh - #{$mobile_header_height}) !important;

      .story-card {
        .tag,
        .title,
        .short-details {
          padding-left: 0 !important;
          border: 0 !important;
          margin-top: 0;
          padding-top: 0;
        }
        .title {
          &:after {
            display: none;
          }
        }
        .tag {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      &.\--inline {
        height: 100% !important;
        min-height: initial !important;
        white-space: normal;
        padding: 40px 0 60px;
        margin: 0 0 60px;
        border-top: 0;

        .article-actions {
          display: none;
        }
        .story-card {
          display: block;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          padding: 0 20px;
        }
        .main-image {
          width: 100%;
          height: 300px;
          border-radius: 0;
        }
      }

      &.\--fullheight,
      &.\--fullheight-top {
        > .row {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }

        .story-card {
          margin-top: 40px;
          margin-bottom: 40px;
          padding: 20px;

          header {
            margin-left: 0;
            padding-left: 0;
            padding-top: 0;
          }
          .item-navigation {
            margin-left: 50px;
          }
        }
        .short-details {
          display: none;
        }
        .story-card .title {
          font-size: 28px;
        }
        .row {
          left: 0;
          -webkit-transform: none;
          transform: none;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile_width) {
  .advertisement {
    display: block;
    margin: 0;
    padding: 0;
  }
  .personalize-feed {
    margin-bottom: 30px;
  }
  .blog {
    .recommended-editorials {
      &.\--fullheight,
      &.\--fullheight-top {
        .story-card .title {
        }
      }
    }
  }
}
