$MAIN_FONT: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

$HEADER_COLOR: #6B6C72;
$DARK_COLOR: #424950;

$ELEM_ACTIVE_COLOR: #0db0d8;
$ELEM_ACTIVE_COLOR_HOVER: #05b5e0;

$LINK_COLOR: #0099CC;
$LINK_HOVER_COLOR: #1678c2;
$BUTTON_COLOR: #357dc0;
$BUTTON_TOGGLE_ATIVE_COLOR: #D1D1D1;
$LINK_COLOR_HOVER: #6cc0e5;

$REMOVE_BUTTON_COLOR: #B2B2B2;
$REMOVE_BUTTON_COLOR_HOVER: #959595;

$INPUT_BACKGROUND: #f5f8f9;
$INPUT_MIN_WIDTH: 170px;
$INPUT_BACKGROUND_FOCUS: #ffffff;
$INPUT_COLOR: #676767;
$INPUT_BORDER_COLOR: #BEC1C3;
$INPUT_BORDER_COLOR_DARK: #989898;
$INPUT_BACKGROUND_COLOR: #f5f8f9;
$INPUT_BORDER: 1px solid $INPUT_BORDER_COLOR;

$HEADER3_COLOR: #94989B;

$TABLE_HEADER_COLOR: $HEADER3_COLOR;
$TABLE_BORDER_COLOR: #E3E8E8;
$TABLE_BORDER: 1px solid $TABLE_BORDER_COLOR;

$POPUP_BG_COLOR: #494F5C;

$SECOND_COLOR: #39bfc2;
$ERROR_COLOR: #ff5e5c;
$ERROR__BACKGROUND_COLOR: rgba(255, 94, 92, 0.34);

$SUB_MENU_HEADING_COLOR: #686c6b;
$SUB_NAVIGATION_BOLD_COLOR: $SUB_MENU_HEADING_COLOR;

$TABLE_STRIPPED_ROW_COLOR: #F9FAFB;

$SUB_NAV_ITEM_COLOR: #A4B1BA;

$FORM_HEADING_COLOR: #333333;

/* Responsive Navigation */

$MENU_BORDER_COLOR: #42c2c5;
$MENU_BORDER_COLOR_NON_ACTIVE: #d6d8d9;
$MENU_NAVIGATION_ITEM_COLOR: #9baaae;

@mixin lineCloseButton() {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 28px;
  color: $INPUT_BORDER_COLOR_DARK;

  &:hover {
    color: $INPUT_BORDER_COLOR_DARK;
  }

  &:focus {
    outline: none;
  }
}
