.icon {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.form {
  border-top: 2px solid #f5f5f5;
}

.textArea {
  padding-right: 40px;
  border-radius: 0;
  transform: translateZ(0); /* to prevent invisible text in ios  */

  textarea {
    border: none;
  }
}

.wrapper {
  overflow: hidden;
}

.messageText {
  color: #808a94;
}

.messages {
  will-change: margin-left;
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
