---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:ProfileLookup><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>1</tns:MaxReply></tns:Header><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber></tns:Request></tns:ProfileLookup></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/ProfileLookup"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ProfileLookupResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><ProfileLookupResult><Header><Version>3</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-03T18:09:52.4838212Z</Time><Result><Message
        /><Code>0</Code></Result></Header><Profile><General><PersonID>D250122642</PersonID><Username>Demo_admin</Username><PassengerType><Name
        /><Type>None</Type></PassengerType><Title>Mrs</Title><FirstName>Demo</FirstName><LastName>Admin</LastName><MobilePhone>0000000000</MobilePhone><HomePhone>0000000000</HomePhone><WorkPhone>0000000000</WorkPhone><Email>otdemo@one-transport.co.uk</Email><ClientNumber>D25</ClientNumber><StaffNumber
        /><Notification /><SpecialRequirements /><Flags><FlagsStructure><Label>active_flag</Label><Value>Y</Value></FlagsStructure><FlagsStructure><Label>active_date</Label><Value>30/10/2013
        10:21:08</Value></FlagsStructure><FlagsStructure><Label>allow_travel_arranger</Label><Value>Y</Value></FlagsStructure><FlagsStructure><Label>allow_view_home</Label><Value>Y</Value></FlagsStructure><FlagsStructure><Label>area_group</Label><Value
        /></FlagsStructure><FlagsStructure><Label>car_type</Label><Value /></FlagsStructure><FlagsStructure><Label>comments</Label><Value
        /></FlagsStruct[...]
