---
http_interactions:
- request:
    method: get
    uri: http://publicapi.scrum27.gett.io/v1/business/products?business_id=UK-3613&latitude=51.528308&longitude=-0.3817961
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 1aa4e5ccd97d06391c97603e817ec2782d1819acd66e56113641a86b9cee60cd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000000'
      X-Rate-Limit-Remaining:
      - '999995'
      X-Rate-Limit-Reset:
      - '2018-08-07T21:36:10Z'
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":"319a1f5c-68ce-45e4-93ea-d7703cc0e55b","display_name":"Affiliate
        Class","image_url":"http://static.gett.com/services/media/media_files/4552/BlackTaxi_Selection.png","messages":{"price":"Pay
        by the meter","description":"Traditional Black Cabs - a comfortable ride that
        takes bus lanes to get you there quicker"}}]}'
  recorded_at: Tue, 07 Aug 2018 21:35:38 GMT
recorded_with: VCR 4.0.0
