---
http_interactions:
- request:
    method: get
    uri: http://publicapi.scrum27.gett.io/v1/business/products?business_id=UK-3836&latitude=51.528308&longitude=-0.3817961
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 17612220fde7fc97ef32da9a3dd5d3c37705eeaa47a0b01037dc606b86f53f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000000'
      X-Rate-Limit-Remaining:
      - '999897'
      X-Rate-Limit-Reset:
      - '2018-08-03T19:29:57Z'
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":"00407fdc-4385-4a22-9035-9d2d3e0a031a","display_name":"Business
        Class XL","image_url":"http://static.gett.com/services/media/media_files/883/6seater_Selection.png","messages":{"price":"Pay
        by the meter","description":"Traditional 6-Seater Black Taxis - a comfortable
        ride that takes bus lanes to get you there quicker"}},{"id":"c4522291-783f-4d50-9d98-888e8cd42457","display_name":"PBv1","image_url":"http://static.gett.com/services/media/media_files/4539/BlackTaxi_Selection.png","messages":{"price":"Fixed
        prices","description":"Artemis project test class"}},{"id":"f6cc0e3a-1e55-445e-8e75-e9367920cb27","display_name":"PBv2","image_url":"http://static.gett.com/services/media/media_files/4090/BlackTaxi_Selection.png","messages":{"price":"Fixed
        prices","description":"Artemis project test class"}},{"id":"5178cd83-20bf-4991-b559-c1128dfae662","display_name":"Business
        Class","image_url":"http://static.gett.com/services/media/media_files/438/BlackTaxi_Selection.png","messages":{"price":"Best
        black cab fares. Add your destination to get a fixed fare now! ","description":"Traditional
        Black Cabs - a comfortable ride that takes bus lanes to get you there quicker"}}]}'
  recorded_at: Fri, 03 Aug 2018 19:29:40 GMT
recorded_with: VCR 4.0.0
