.verify {
  min-width: auto !important;
}

.verified {
  background: #89c587 !important;
  border-color: #89c587 !important;
  color: #fff !important;
}

.w360 {
  width: 360px;
  max-width: 100%;
}

.green {
  color: #489A3E;
}

.red {
  color: #f55656;
}

.amber {
  color: #FFB71A;
}

.blue {
  color: #0076BB;
}

.w210 {
  width: 210px;
}

.editButtons {
  height: 28px;
}

.modalForm :global(.ant-modal) {
  top: 10px;
}

.vehicleType {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);

  :global(.ant-checkbox) {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.checkboxGroup :global(.error) {
  position: static;
  flex: none;
  width: 100%;
}
