---
http_interactions:
- request:
    method: get
    uri: http://publicapi.scrum27.gett.io/v1/business/rides/593/receipt?business_id=UK-3950
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 7a9c66e860f08f3b8379a941248a455cf688e6db52abf809318dc304fab3e548
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '1000000'
      X-Rate-Limit-Remaining:
      - '999989'
      X-Rate-Limit-Reset:
      - '2018-08-21T17:16:45Z'
    body:
      encoding: ASCII-8BIT
      string: '{"ride_id":"593","charges":[{"name":"Sub Total","description":"","amount":0,"type":"subtotal"},{"name":"Total","description":"","amount":0,"type":"total"}],"currency_code":"GBP","duration":"00:00:00","distance":0,"distance_label":"miles"}'
  recorded_at: Tue, 21 Aug 2018 17:16:29 GMT
recorded_with: VCR 4.0.0
