# {{application_domain}} https configuration
server {
    listen 443 ssl;
    server_name {{application_domain}};
    root /home/{{application_user}}/{{application_name}}/current/public;
    client_max_body_size 50M;

    ssl_session_cache    shared:SSL:10m;
    ssl_session_timeout  10m;
    ssl_certificate      /gett/ssl/gett.com.cer;
    ssl_certificate_key  /gett/ssl/gett.com.key;
    ssl_dhparam          /gett/ssl/gett.com.dhparam.pem;
    ssl_protocols        TLSv1.2;
    ssl_ciphers          AES256+EECDH:AES256+EDH:!aNULL;
    ssl_prefer_server_ciphers on;

    location /api {
        proxy_pass http://unix:/home/{{application_user}}/{{application_name}}/shared/tmp/sockets/puma.sock;
        proxy_set_header Host $host;
        proxy_buffer_size 128k;
        proxy_buffers 4 256k;
        proxy_busy_buffers_size 256k;
    }

    location ~ ^/static/(assets|uploads|ui|images)/ {
        expires 1y;
        add_header Cache-Control public;
        add_header Last-Modified "";
        add_header ETag "";
        break;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
