---
http_interactions:
- request:
    method: post
    uri: https://sandbox.carey.com/CSIOTAProxy_v2/CareyReservationService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.opentravel.org/OTA/2003/05"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:OTA_GroundBookRQ
        SequenceNmbr="15349678998361022897"><tns:POS><tns:Source><tns:RequestorID
        MessagePassword="carey123" ID="testarranger@testnone.com" Type="TA"></tns:RequestorID><tns:BookingChannel
        Type="TA"><tns:CompanyName Code="3dfb7b39fa5615fc105f62cf7dbc9bb0" CompanyShortName="PM54006"
        CodeContext="54006">CSI - Gett</tns:CompanyName></tns:BookingChannel></tns:Source></tns:POS><tns:GroundReservation><tns:Location><tns:Pickup
        DateTime="2018-08-22T17:59:00"><tns:Address Latitude="40.6892494" Longitude="-74.0445004"><tns:AddressLine>New
        York</tns:AddressLine><tns:CityName>New York</tns:CityName><tns:PostalCode>10004</tns:PostalCode><tns:CountryName
        Code="US"></tns:CountryName></tns:Address></tns:Pickup></tns:Location><tns:Passenger><tns:Primary><tns:PersonName><tns:GivenName>adsfasd</tns:GivenName><tns:Surname>adfs</tns:Surname></tns:PersonName><tns:Telephone
        PhoneNumber="3112222222" PhoneUseType="1" CountryAccessCode="1"></tns:Telephone><tns:Email>com@fakemail.com</tns:Email></tns:Primary></tns:Passenger><tns:Service><tns:ServiceLevel
        Code="AsDirected" Description="Premium"></tns:ServiceLevel><tns:VehicleType
        Code="ES03"></tns:VehicleType></tns:Service><tns:RateQualifier AccountID="WA831732"></tns:RateQualifier></tns:GroundReservation></tns:OTA_GroundBookRQ></env:Body></env:Envelope>
    headers:
      App-Id:
      - 89e6c8c7
      App-Key:
      - 3dfb7b39fa5615fc105f62cf7dbc9bb0
      X-Soap-Method:
      - AddReservation
      Soapaction:
      - '"addReservation"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><OTA_GroundBookRS
        xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:ns2="http://www.opentravel.org/OTA/2003/05/alpha"
        EchoToken="1" PrimaryLangID="1534967925Gb6l7DyCI0" RetransmissionIndicator="false"
        SequenceNmbr="15349678998361022897" TimeStamp="2018-08-22T15:58:51Z" Version="1"><Reservation><Confirmation
        ID="WA10706729-1" Instance="Booked"><TPA_Extensions><NumberOfPassenger>1</NumberOfPassenger><SVCCity
        svcCityId="WA_GC_89408" svcType="Premium"/></TPA_Extensions></Confirmation><Passenger><Primary><PersonName><GivenName>adsfasd</GivenName><Surname>adfs</Surname></PersonName><Telephone
        CountryAccessCode="1" PhoneNumber="3112222222" PhoneUseType="1"/><Email EmailType="com@fakemail.com">com@fakemail.com</Email><CustomerID
        ID="WA_PS_4125711" Instance=""><TPA_Extensions><IsGuestBooking>false</IsGuestBooking></TPA_Extensions></CustomerID></Primary></Passenger><Service><Locations><Pickup
        DateTime="2018-08-22T17:59:00"><Address Latitude="40.6892494" Longitude="-74.0445004"><AddressLine>New
        York</AddressLine><AddressLine></AddressLine><CityName>New York</CityName><PostalCode>10004</PostalCode><County>US</County><StateProv
        StateCode="NY">New York</StateProv><CountryName Code="US">United States</CountryName><LocationName></LocationName></Address></Pickup><Dropoff><Address><AddressLine></AddressLine><AddressLine></AddressLine><CityName></CityName><LocationName></LocationName></Address></Dropoff></Locations><ServiceType
        DisabilityVehicleInd="false" MaximumBaggage="4" MaximumPassengers="3"><ServiceLevel
        Code="AsDirected" Description="Premium"/><VehicleType Code="ES03">Executive
        Sedan</VehicleType></ServiceType><VehicleMakeModel Name="Sedan"/></Service><RateQualifier
        AccountID="WA831732" AccountName="TestAccount"/><TotalCharge RateTotalAmount="187.00"/><Payment/></Reservation><TPA_Extensions><Arranger
        AgencyNumber=""><Name><GivenName>admin</GivenName><Surname>admin</Surname><TPA_Extensions><ArrangerId>WA_AA_911602</ArrangerId></TPA_Extensions></Name><ContactInformation><Phone/><Mobile
        CountryCode="1" CountryName="United States of America">15555555555</Mobile><Email>testarranger@testnone.com</Email></ContactInformation></Arranger><IsModifyAllowed>true</IsModifyAllowed><IsReturnTripAllowed>true</IsReturnTripAllowed><CityTimeZone>America/New_York</CityTimeZone><ChargeDetails><Charges
        BillingType="HOURLY" ReadBack="USD 84.94/hr  + Incidentals + Taxes and Government
        Fees USD 8.56/hr"><Items><ItemFixed ReadBack="$ 0.00" SequenceNumber="4"><ItemName>Fuel
        Surcharge</ItemName><ItemDescription>Fuel Surcharge</ItemDescription><ItemPrice
        Currency="USD">0.00</ItemPrice></ItemFixed><ItemVariable ReadBack="$ 10.54/hr"
        SequenceNumber="1"><ItemName>STC</ItemName><ItemDescription>STC</ItemDescription><ItemUnit
        Unit="hr">1</ItemUnit><ItemUnitPrice Currency="USD">10.54</ItemUnitPrice></ItemVariable><ItemVariable
        ReadBack="$ 6.44/hr" SequenceNumber="2"><ItemName>NY Sales Tax</ItemName><ItemDescription>NY
        Sales Tax</ItemDescription><ItemUnit Unit="hr">1</ItemUnit><ItemUnitPrice
        Currency="USD">6.44</ItemUnitPrice></ItemVariable><ItemVariable ReadBack="$
        2.12/hr" SequenceNumber="3"><ItemName>NY State Surcharge</ItemName><ItemDescription>NY
        State Surcharge</ItemDescription><ItemUnit Unit="hr">1</ItemUnit><ItemUnitPrice
        Currency="USD">2.12</ItemUnitPrice></ItemVariable><ItemVariable ReadBack="$
        12.40/hr" SequenceNumber="5"><ItemName>Gratuity</ItemName><ItemDescription>Suggested
        Gratuity</ItemDescription><ItemUnit Unit="hr">1</ItemUnit><ItemUnitPrice Currency="USD">12.40</ItemUnitPrice></ItemVariable><ItemVariable
        ReadBack="$ 62.00/hr" SequenceNumber="0"><ItemName>Base</ItemName><ItemDescription>Garage
        to Garage</ItemDescription><ItemUnit Unit="hr">1</ItemUnit><ItemUnitPrice
        Currency="USD">62.00</ItemUnitPrice><ItemUnitMinimum Unit="Hour">2</ItemUnitMinimum></ItemVariable></Items></Charges><AdditionalInfo><DisplayMessage
        DisplayCode="P" Order="0">A minimum of 2.0 hours will be billed.</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="16">STC is a surcharge based upon various overhead
        expense items, some of which may not relate to the specific trip. The STC
        is always calculated as a flat percentage of the base rate.</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="18">The entire amount of all collected gratuities is
        paid to your professional chauffeur. For your convenience, a suggested gratuity,
        which is a percentage of the Base Rate, has been added to your bill. The amount
        of any gratuity you pay is at your discretion.</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="20">Estimate includes surcharge, fuel and airport fee.
        Wait time, tolls, parking and local taxes that cannot be calculated prior
        to service may apply and are excluded.  Additional service may change rate.</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="24">Where hourly rates apply billing is garage to garage.</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="26">Taxes and government fees include taxes imposed
        by all levels of taxing authorities and government fees and surcharges.</DisplayMessage></AdditionalInfo></ChargeDetails><CancelPolicy>Changes
        or cancellations must be made at least 2 hours prior to scheduled pick up
        time to avoid fees</CancelPolicy><TermsAndConditions><DisplayMessage DisplayCode="P"
        Order="100">We invite you to visit www.carey.com to confirm chauffeur services
        worldwide, change reservations, view credit card receipts and explore the
        multitude of services Carey offers.</DisplayMessage><DisplayMessage DisplayCode="H"
        Order="108">Change, Cancellation and No Show Policies</DisplayMessage><DisplayMessage
        DisplayCode="P" Order="116">For reservations in the United States, Canada
        and Puerto Rico, a change fee or late c[...]
