body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

label {
  display: block;
}

iframe {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $dusty-grey-brown;
}

::-webkit-scrollbar-track {
  background: $light-grey;
}

.relative {
  position: relative;
}

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.scroll-box {
  overflow: auto;
}

.required:after {
  display: inline-block;
  margin-left: 4px;
  content: "*";
  line-height: 1;
  font-size: 12px;
  color: $red;
}

.border-top {
  border-top: 1px solid $light-grey;
}

.border-bottom {
  border-bottom: 1px solid $light-grey;
}

.border-right {
  border-right: 1px solid $light-grey;
}

.border-left {
  border-left: 1px solid $light-grey;
}

.border-block {
  border: 1px solid $light-grey;
}

.br-2 {
  border-radius: 2px;
}

.br-5 {
  border-radius: 5px;
}

.br-15 {
  border-radius: 15px;
}

.br-50 {
  border-radius: 50%;
}

.white-bg {
  background: #fff;
}

.sand-bg {
  background: $sand;
}

.light-grey-bg {
  background: $light-grey;
}

.dark-grey-brown-bg {
  background: $dark-grey-brown;
}

.yellow-bg {
  background: $yellow;
}

.orange-bg {
  background: $orange;
}

.deep-cyan-bg {
  background: $deep-cyan;
}

.lilac-bg {
  background: $lilac;
}

.pointer {
  cursor: pointer;
}

.error {
  position: absolute;
  color: $red;
  font-size: 12px;
}

.decimal {
  list-style-type: decimal;
}

.full-height {
  height: 100%;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}

.w-400 {
  width: 400px;
}

.w-500 {
  width: 500px;
}

.h-320 {
  height: 320px;
}

.br-2 {
  border-radius: 2px;
}

.br-5 {
  border-radius: 5px;
}

.br-15 {
  border-radius: 15px;
}

.br-50 {
  border-radius: 50%;
}
