$i: 0;

@while $i <= 40 {
  .m-#{$i} {
    margin: #{$i}px;
  }

  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }

  $i: $i + 5;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
