.header {
  height: 140px;
  margin-left: 200px;
  border-bottom: 2px solid #5b6573;
  &.collapsed {
    margin-left: 50px;
  }

  .title {
    height: 50px;
    background: $sand;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background: $dark-navy-blue;
  overflow: auto;
  &.collapsed {
    width: 50px;
    overflow: hidden;
  }
}

.content {
  margin-left: 200px;
  height: calc(100vh - 140px);
  overflow: auto;
  &.collapsed {
    margin-left: 50px;
  }
}
