<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      a {
        text-decoration: none;
        color: #303030;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
