---
http_interactions:
- request:
    method: delete
    uri: https://test.api.get-e.com/api/v2/transfers/3253362110
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - X-Api-Key 8197323302846fe8ad92aab1fda5f71c045476bd6d5f9f8254191c5ad7e96b95
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "status": 200,
            "href": "https://test.api.get-e.com/api/v2/transfers/3253362110",
            "meta": {
                "method": "DELETE",
                "ip": "96.90.79.254"
            },
            "data": {
                "Unid": 3253362110,
                "Status": "Cancelled"
            }
        }
  recorded_at: Wed, 22 Aug 2018 18:49:39 GMT
recorded_with: VCR 4.0.0
