.button:global(.ant-btn) {
  width: 130px;
  background: #fff;
  border-radius: 17px;
  border: 2px solid #e2e2e2;
  color: #808080;

  &:hover, &:active {
    color: #808080;
  }

  &.active {
    color: #373737;
    border-color: #fdb924;

    &:hover, &:active {
      color: #373737;
    }
  }
}

.clear {
  position: absolute;
  top: 20px;
  right: 20px;
}

.addressValue {
  :global(.ant-select-selection-selected-value) {
    width: calc(100% - 70px);
  }
}
