---
http_interactions:
- request:
    method: post
    uri: https://rest.nexmo.com/sms/json
    body:
      encoding: UTF-8
      string: '{"from":"OT-Enterpr.","text":"hi","api_key":"c302dc5a","type":"text","timestamp":1535404843,"to":"3112222222","sig":"27cdd406dcf8c093aea78ed5639b9639"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="api.txt"
      X-Nexmo-Trace-Id:
      - 0ed0ea2d45628009ccff9451490f84f1
    body:
      encoding: UTF-8
      string: |-
        {
            "message-count": "1",
            "messages": [{
                "to": "3112222222",
                "message-id": "0D000000A949F54C",
                "status": "0",
                "remaining-balance": "-32792.72664360",
                "message-price": "0.07950000",
                "network": "NL-UNKNOWN"
            }]
        }
  recorded_at: Mon, 27 Aug 2018 21:20:43 GMT
recorded_with: VCR 4.0.0
