:root {
  --purplish-grey: #66636c;
  --black-pearl: var(--purplish-grey);
  --cool-grey: #b2b1b5;
  --lavender-mid: #dec2e0;
  --lavender-pale: #f5edf6;
  --silver: #e8e8e9;
  --rosemary-mid: #a8d6d0;
  --rosemary: #52aea2;
  --rosemary-pale: #e5f3f1;
  --lavender: #bd86c1;
  --rose: #fb6ea4;
  --rose-mid: #fdb6d1;
  --rose-pale: #fff3fa;
  --white: hsl(0, 0%, 100%);
  --light-grey: #f9f9f9;

  --font-heading: "Pathway Gothic One", "Yanone Kaffeesatz";
  --font-body: "Raleway", "Open Sans", "arial", sans-serif;
}
