#import-article {
  margin-top: 70px;
  margin-bottom: 150px;

  .note {
    text-align: left;
    color: #aaa;
    line-height: 1.4;
    font-size: 13px;
  }

  #importing-spinner {
    float: right;
    margin-right: 14px;
    margin-top: 5px;
  }
}
