<div style="display: none;" data-gallery-content="">
<!--
{% spaceless %}
    <div class="modal-carousel"
        {% if app.user %}
            data-liked="{{ is_liked_by_user(app.user, article) }}"
        {% endif %}
    >

        <div class="gallery-wrapper">
            <div class="carousel" data-id="{{ article.id }}">
                {% for image in article.images %}
                    {% include "AppBundle:article/carousel:_cell.html.twig" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endspaceless %}
-->
</div>