---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=da55a7c475854e72b47bedc8ded8c51f&base=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e965d67f740c4290e931f77ef14aed4"
      Last-Modified:
      - Fri, 24 Aug 2018 15:00:00 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1535122800,
          "base": "GBP",
          "rates": {
            "AED": 4.72318,
            "AFN": 93.446809,
            "ALL": 139.30577,
            "AMD": 620.447221,
            "ANG": 2.372084,
            "AOA": 346.538212,
            "ARS": 39.229777,
            "AUD": 1.754574,
            "AWG": 2.305479,
            "AZN": 2.189109,
            "BAM": 2.170923,
            "BBD": 2.571641,
            "BDT": 107.732734,
            "BGN": 2.162997,
            "BHD": 0.485127,
            "BIF": 2295.832126,
            "BMD": 1.28582,
            "BND": 1.942489,
            "BOB": 8.883668,
            "BRL": 5.248847,
            "BSD": 1.28582,
            "BTC": 0.000197547488,
            "BTN": 89.921768,
            "BWP": 13.674058,
            "BYN": 2.640361,
            "BZD": 2.584117,
            "CAD": 1.676641,
            "CDF": 2076.599767,
            "CHF": 1.26355,
            "CLF": 0.030062,
            "CLP": 851.611636,
            "CNH": 8.74442,
            "CNY": 8.76608,
            "COP": 3803.430699,
            "CRC": 730.681169,
            "CUC": 1.28582,
            "CUP": 32.788417,
            "CVE": 122.730904,
            "CZK": 28.487493,
            "DJF": 228.940302,
            "DKK": 8.249022,
            "DOP": 64.239582,
            "DZD": 152.122184,
            "EGP": 22.971179,
            "ERN": 19.283662,
            "ETB": 35.649368,
            "EUR": 1.105822,
            "FJD": 2.731416,
            "FKP": 1,
            "GBP": 1,
            "GEL": 3.187635,
            "GGP": 1,
            "GHS": 6.287661,
            "GIP": 1,
            "GMD": 61.687228,
            "GNF": 11681.677326,
            "GTQ": 9.67431,
            "GYD": 268.57284,
            "HKD": 10.093535,
            "HNL": 30.898363,
            "HRK": 8.223849,
            "HTG": 86.756209,
            "HUF": 357.676199,
            "IDR": 18439.333607,
            "ILS": 4.660427,
            "IMP": 1,
            "INR": 89.768195,
            "IQD": 1530.769054,
            "IRR": 55502.701103,
            "ISK": 138.225668,
            "JEP": 1,
            "JMD": 176.285962,
            "JOD": 0.912297,
            "JPY": 143.01737611,
            "KES": 129.559252,
            "KGS": 87.612556,
            "KHR": 5241.003498,
            "KMF": 547.877436,
            "KPW": 1157.23826,
            "KRW": 1431.728746,
            "KWD": 0.389705,
            "KYD": 1.071432,
            "KZT": 463.783082,
            "LAK": 10943.61648,
            "LBP": 1942.167256,
            "LKR": 206.912827,
            "LRD": 198.337736,
            "LSL": 18.31651,
            "LYD": 1.791,
            "MAD": 12.140008,
            "MDL": 21.55079,
            "MGA": 4243.206954,
            "MKD": 68.296345,
            "MMK": 1986.210827,
            "MNT": 3140.18745,
            "MOP": 10.394908,
            "MRO": 459.037843,
            "MRU": 46.225239,
            "MUR": 43.917192,
            "MVR": 19.878776,
            "MWK": 935.025516,
            "MXN": 24.199411,
            "MYR": 5.262991,
            "MZN": 76.828927,
            "NAD": 18.438663,
            "NGN": 465.466945,
            "NIO": 41.031741,
            "NOK": 10.709734,
            "NPR": 143.862687,
            "NZD": 1.922825,
            "OMR": 0.494951,
            "PAB": 1.28582,
            "PEN": 4.234034,
            "PGK": 4.259603,
            "PHP": 68.604942,
            "PKR": 157.448694,
            "PLN": 4.726769,
            "PYG": 7460.06797,
            "QAR": 4.6818,
            "RON": 5.129648,
            "RSD": 130.574234,
            "RUB": 86.709505,
            "RWF": 1112.23455,
            "SAR": 4.821282,
            "SBD": 10.143978,
            "SCR": 17.474458,
            "SDG": 23.144765,
            "SEK": 11.71749,
            "SGD": 1.755296,
            "SHP": 1,
            "SLL": 10788.032225,
            "SOS": 742.561217,
            "SRD": 9.589648,
            "SSP": 167.495323,
            "STD": 27067.288076,
            "STN": 27.233674,
            "SVC": 11.247776,
            "SYP": 662.216723,
            "SZL": 18.432234,
            "THB": 41.984818,
            "TJS": 12.110986,
            "TMT": 4.506773,
            "TND": 3.533308,
            "TOP": 2.970937,
            "TRY": 7.774154,
            "TTD": 8.665207,
            "TWD": 39.432155,
            "TZS": 2934.2419,
            "UAH": 35.828097,
            "UGX": 4824.393625,
            "USD": 1.28582,
            "UYU": 41.03812,
            "UZS": 10029.398255,
            "VEF": 319489.964576,
            "VES": 77.315088,
            "VND": 29718.219485,
            "VUV": 139.510993,
            "WST": 3.328388,
            "XAF": 725.371416,
            "XAG": 0.08677881,
            "XAU": 0.00106614,
            "XCD": 3.474994,
            "XDR": 0.918668,
            "XOF": 725.371416,
            "XPD": 0.00136867,
            "XPF": 131.959617,
            "XPT": 0.00162241,
            "YER": 321.904182,
            "ZAR": 18.327053,
            "ZMW": 13.08065,
            "ZWL": 414.490613
          }
        }
  recorded_at: Fri, 24 Aug 2018 15:32:00 GMT
recorded_with: VCR 4.0.0
