.main-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  tr > td {
    padding: 0;
  }
}

.pdf-header {
  border-bottom: 2px solid #284784;

  .logo-ot {
    font-size: 63px;
    svg {
      width: 220px;
    }
  }
}

.header-container {
  background: #fdb924;
  width: 100%;
  padding: 0.5cm 1cm;
  color: #000;

  .header {
    display: table;
    width: 100%;
    height: 4cm;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      width: 5cm;
    }
  }
}

.invoice-container {
  padding: 1.5cm 1cm;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    thead {
      color: #a9a9a9;
    }

    tbody tr {
      border-top: 1px solid #cecece;
    }

    th, td {
      padding: 5mm 0;
    }

    td:not(:first-of-type) {
      text-align: center;
    }

    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }
  }
}

.footer-container {
  page-break-inside: avoid;
  page-break-after: auto;
  padding: 1.5cm 1cm;

  .contacts-container {
    display: table;
    width: 100%;

    & > div {
      padding-top: 5mm;
      border-top: 1px solid #cecece;
      display: table-cell;
    }
  }
}
