page-resetpassword {
  .scroll-content
  {
    padding: 50px !important;
    letter-spacing: 1px;
  }

  .loginbtn
  {
    background-color: #f66565;
    margin: 40px 0;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
  }

  .logo
  {
    width: 130px;
    display: block;
    margin: 30px auto 50px auto;
  }

  .bottom
  {
    font-size: 12px;
    line-height: 14px;
    color: #9e9d9d;
    letter-spacing: 0.4px;
  }
}
