$dark-grey: #d8d8d8;
$blue-color: #1875f0;

.w90 {
  width: 90px;
}

.lineHeight15 {
  line-height: 15px;
}

.lineHeight16 {
  line-height: 16px;
}

.lineHeight20 {
  line-height: 20px;
}

.w240 {
  width: 240px;
}

.w120 {
  width: 120px;
  min-width: 120px;
}

.container {
  max-width: 1060px;
}

@media(min-width: 1025px) {
  .driverMessage {
    max-width: 400px;
  }
}

.point {
  min-width: 100px;
  text-align: center;
}

:global {
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($blue-color, .4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba($blue-color, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba($blue-color, 0);
    }
  }
}

.pointMarker {
  height: 20px;
  position: relative;
  display: inline-block;
  transition: 0.3s all;

  &:before {
    content: '';
    position: absolute;
    left: -5px;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    background-color: #fff;
  }

  &:before {
    top: -1px;
    left: -12px;
    display: block;
    width: 22px;
    height: 22px;
  }

  &.creating {
    &:before,
    &:after {
      background-color: #989898;
      border: 1px solid #989898;
    }
  }

  &.passed {
    &:before,
    &:after {
      border: 1px solid $blue-color;
      background-color: $blue-color;
    }
  }

  &.active {
    &:before {
      box-shadow: 0 0 0 rgba($blue-color, 0.4);
      animation: pulse 2s infinite;
    }
  }

  &.interrupted {
    &:before,
    &:after {
      background-color: #f55656;
      border-color: #f55656;
    }
  }

  &.outside:before {
    top: -4px;
    left: -14px;
    display: block;
    width: 28px;
    height: 28px;
  }
}

.pointLine {
  width: 100%;
  height: 28px;
  border-bottom: 2px solid $dark-grey;
  margin: -17px -40px 0;
  font-size: 10px;
  padding-bottom: 2px;
  text-align: center;
}

.vehicle {
  margin: -14px auto 0;
}

.animatedVehicle {
  animation: animatedVehicle 15s linear infinite;
}

.customer_care,
.order_received,
.locating,
.on_the_way,
.in_progress,
.cancelled,
.rejected {
  width: 110px;
}

.creating .pointMarker {
  &:before,
  &:after{
    background-color: $dark-grey;
    border: 1px solid $dark-grey;
  }
}

.completed .pointMarker.passed {
  &:before,
  &:after{
    animation: none;
    background-color: #489a3e;
    border: 1px solid #489a3e;
  }
}

.arrived {
  width: 30%;
  min-width: 100px;
}

.completed {
  flex: 1;
  min-width: 100px;
}

.mobilePoint {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid $dark-grey;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-bottom: -2px;

  &:not(.first):before {
    content: '';
    position: absolute;
    display: block;
    height: 33px;
    left: 50%;
    bottom: 106%;
    border-left: 1px solid $dark-grey;
  }

  &.first.passed {
    border: 1px solid $dark-grey;
    background-color: $dark-grey;
    z-index: 1;
    margin-top: 0;
  }

  &.outside {
    width: 26px;
    height: 26px;
  }

  &.passed {
    background-color: $blue-color;
    border: 1px solid $blue-color;
    z-index: 10;
  }

  &.completed {
    min-width: auto;
    &.passed {
      animation: none;
      background-color: #489a3e;
      border: 1px solid #489a3e;
    }
  }

  &.active {
    box-shadow: 0 0 0 rgba($blue-color, 0.4);
    animation: pulse 2s infinite;
  }

  &.interrupted {
    background-color: #f55656;
    border-color: #f55656;
  }
}

.intervalSpace:not(.first) {
  margin-top: 20px;
  &.outside {
    margin-top: 23px;
  }

}

.alertItems {
  min-width: 50px;
}

.clearAlert {
  position: absolute;
  right: 5px;
  top: 5px;
}

.journey {
  position: relative;
  padding-left: 10px;

  .startIcon, .endIcon  {
    position: absolute;
    left: -15px;
    transform: scale(0.7);
  }

  .startIcon {
    top: -10px;
  }

  .endIcon {
    bottom: -10px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    height: calc(100% - 36px);
    width: 1px;
    border-left: 1px dotted rgba(#b3b3b3, .5);
  }
}

.interval {
  margin-top: -1.5em;
}

:global {
  @keyframes animatedVehicle {
    from {
      margin-left: 0;
    }
    to {
      margin-left: calc(100% - 80px);
    }
  }
}

.warningAlert {
  color: #ffb71a;
}

.errorAlert {
  color: #eb2e2e;
}

.adminTable {
  .journey {
    padding-left: 15px;
  }

  :global {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 16px 4px;

      @media(max-width: 1366px) {
        padding: 16px 2px;
      }
    }

    .ant-tag {
      padding: 0 4px;
      font-size: 12px;
    }
  }
}

.activeIcon {
  color: #fdb924 !important;
}

.journeyPath {
  border-left: 1px dotted $dark-grey;
  margin-left: 14px;
}

.journeyPoint, .journeyStopPoint {
  position: relative;
}

.journeyPoint {
  margin-left: -8px;
}

.journeyIcon, .journeyEndIcon {
  background-color: #fff;
  line-height: 28px;
  margin-left: -8px;
}

.journeyIcon {
  height: 30px;
}

.alertItems {
  height: 50px;
  border-radius: 5px;
}

.etaItem {
  border: 1px solid $dark-grey;
  max-width: 110px;
}

.critical {
  background-color: #ce0000;
  color: #fff;
}

.warning {
  background-color: #f6b530;
  color: #4d4d4d;
}

.mapContainer {
  @media(max-width: 480px) {
    width: calc(100% + 33px);
    margin-left: -17px;
  }
}
