<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <style type="text/css" rel="stylesheet" media="all">
    /* Media Queries */
    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
</head>


<body style="margin:0;padding:0;width:100%;background-color:#f2f4f6">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="width:100%;margin:0;padding:0;background-color:#f2f4f6" align="center">
          <table width="100%" cellpadding="0" cellspacing="0">

            <tbody>
              <tr>
                <td style="padding:0 0;text-align:center">
                  <a style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;font-size:16px;font-weight:bold;color:#2f3133;text-decoration:none"
                    href="https://Driverfly.com" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://Driverfly.com&amp;source=gmail&amp;ust=1483533888130000&amp;usg=AFQjCNHhjDbNXDIGARctcCJcOXfDs0KRsg">
                    <h2>Driverfly</h2>
                  </a>
                </td>
              </tr>
              <tr>
                <td
                  style="width:100%;margin:0;padding:0;border-top:1px solid #edeff2;border-bottom:1px solid #edeff2;background-color:#fff"
                  width="100%">
                  <table style="width:auto;max-width:670px;margin:0 auto;padding:0" align="center" width="670"
                    cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;padding:35px;">

                          <!-- <h1 style="margin-top:0;color:#2f3133;font-size:22px;font-weight:bold;text-align:left">
                            New user signup
                          </h1>
                          <p style="margin-top:0;color:#74787e;font-size:16px;line-height:1.5em">
                            {{userName}} has just registered on Driverfly
                          </p> -->


                          <p style="margin-top:0;color:#2f3133;font-size:16px;line-height:2em;font-weight:bold">
                            A new user has just registered with the following info:
                          </p>
                          <p style="margin-top:0;color:#74787e;font-size:16px;line-height:1.5em">
                            Full Name: {{userName}}
                          </p>
                          <p style="margin-top:0;color:#74787e;font-size:16px;line-height:1.5em">
                            Email: {{userEmail}}
                          </p>


                          <p style="margin-top:40px;color:#74787e;font-size:16px;line-height:1.5em">

                            Driverfly Admin
                            <br>
                            <br>
                            <span style="font-size:14px;">We are social, @Driverfly on most social media platforms.
                              Use the hashtag #Driverfly.</span>
                          </p>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="width:auto;max-width:670px;margin:0 auto;padding:0;text-align:center" align="center"
                    width="670" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td
                          style="font-family:Arial,'Helvetica Neue',Helvetica,sans-serif;color:#aeaeae;padding:35px;text-align:center">
                          <p style="margin-top:0;color:#74787e;font-size:12px;line-height:1.5em">
                            © <?php echo date('Y'); ?>
                            <a style="color:#3869d4" href="https://Driverfly.com" target="_blank">
                              Driverfly
                            </a>.
                            All rights reserved.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
