<div class="profile-section">
    <h2>
        Downgrade your plan
    </h2>

    <p class="info">
        Downgrade anytime, but you’ll lose access to premium features.

        <div class="field-footer">
            <button
                    type="submit"
                    class="
                            user-downgrade-button
                            white
                            mdl-button
                            mdl-js-button
                            mdl-js-ripple-effect
                        ">
                Downgrade to Free
            </button>
        </div>
    </p>
</div>
