/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.ruby-gemset
.byebug_history
.DS_Store

config/database.yml
config/secrets.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

.idea
.env
public/system/uploads
public/system/spec_uploads
public/uploads/tmp
erd.pdf
