{% extends 'AppBundle:layout:root.html.twig' %}

{% block body %}

    <div class="one-column --margin-bottom">
        <div id="error">
            <i class="material-icons">
                cloud_off
            </i>

            <p class="title">
                Access denied
            </p>
            <p class="subtitle">
                We could not fetch the page you requested.
            </p>

            <a href="{{ path('ha_homepage') }}" class="black mdl-button mdl-js-button">
                Show Homepage
            </a>
        </div>
    </div>

{% endblock %}
