page-resetconfirmpassword {
  .scroll-content
  {
    padding: 50px !important;
    letter-spacing: 1px;
  }

  ion-item
  {
    padding-left: 0!important;
        margin-bottom: 10px!important;
  }

  ion-item .label
  {
    color:#929292;
    font-size: 14px!important;
  }

  .loginbtn
  {
    background-color: #f66565;
    margin: 40px 0;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
  }

  .back-button-text
  {
    display:none;
  }

  .back-button-icon
  {
        color: #f66565;
  }

}
