.chart :global {
  .recharts-cartesian-axis-tick-value:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .recharts-bar-cursor,
  .recharts-bar-rectangle {
    cursor: pointer;
  }
}

.lightGreyBorderRight {
  border-right: 1px solid #e2e2e2;
}

.chart {
  &:global(.recharts-wrapper) {
    overflow: visible;
  }
}

.legendItem + .legendItem {
  margin-left: 30px;
}

.title {
  color: #666;
  border-bottom: 2px solid #f5f5f5;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.tooltip {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}
