.rgs/k8s
Dockerfile

# Docker
docker-compose.override.yml

# Dependencies
node_modules/

# Compiled output
build/
storybook-static/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editors and IDEs
.idea/
.vscode/
.history/

# Examples for debugging pipeline
ch_report.html
ch_report.txt

# Misc
.DS_Store