---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:JobStatus><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>1</tns:MaxReply></tns:Header><tns:ExternalReferences><tns:string>AD13109</tns:string></tns:ExternalReferences><tns:ExternalReferences><tns:string>AD13109</tns:string></tns:ExternalReferences><tns:ExternalReferences><tns:string>AD13109</tns:string></tns:ExternalReferences></tns:Request></tns:JobStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/JobStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><JobStatusResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><JobStatusResult><Header><Version>3</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-17T15:07:48.5113259Z</Time><Result><Message
        /><Code>0</Code></Result></Header><JobStates><JobStatusStructure><OTConfirmationNumber>1000314920</OTConfirmationNumber><ExternalReference>AD13109   </ExternalReference><JobState>Prebooked</JobState><JobChargeState>Estimated</JobChargeState><VendorID
        /><VendorName /><Charges><Charges /><VehicleType>None</VehicleType><VehicleClass>None</VehicleClass><MaxNumPassengers>0</MaxNumPassengers><DistanceMeters>0</DistanceMeters><CalculateType>None</CalculateType></Charges></JobStatusStructure><JobStatusStructure><OTConfirmationNumber>1000314920</OTConfirmationNumber><ExternalReference>AD13109   </ExternalReference><JobState>Prebooked</JobState><JobChargeState>Estimated</JobChargeState><VendorID
        /><VendorName /><Charges><Charges /><VehicleType>None</VehicleType><VehicleClass>None</VehicleClass><MaxNumPassengers>0</MaxNumPassengers><DistanceMeters>0</DistanceMeters><CalculateType>None</CalculateType></Charges></JobStatusStructure><JobStatusStructure><OTConfirmationNumber>1000314920</OTConfirmationNumber><ExternalReference>AD13109   </ExternalReference><JobState>Prebooked</JobState><JobChargeState>Estimated</JobChargeState><VendorID
        /><VendorName /><Charges><Charges /><VehicleType>None</VehicleType><VehicleClass>None</VehicleClass><MaxNumPassengers>0</MaxNumPassengers><DistanceMeters>0</DistanceMeters><CalculateType>None</CalculateType></Charges></JobStatusStructure></JobStates></JobStatusResult></JobStatusResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Aug 2018 15:07:59 GMT
recorded_with: VCR 4.0.0
