.infoNotification {
  padding: 10px 0 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);

  :global {
    .ant-notification-notice-with-icon {
      display: flex;
      flex-direction: column;
    }

    .ant-notification-notice-icon {
      width: 60px;
      position: absolute;
      top: 28px;
      margin-left: 0;

      &:after {
        content: '';
        display: block;
        height: 30px;
        width: 30px;
        border: 2px solid #f5f5f5;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      div {
        vertical-align: top;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .ant-notification-notice-description, .ant-notification-notice-message {
      font-size: 12px;
      font-weight: 500;
      color: #373737;
      padding-right: 50px;
      display: flex;
      align-items: center;
      margin: 0 0 0 60px;
    }

    .ant-notification-notice-description {
      line-height: 16px;
      margin-top: 10px;
    }

    .ant-notification-notice-close {
      top: 7px;
      right: 5px;
    }

    .ant-notification-notice-close-x:after {
      font-size: 20px;
      color: #d2dadc;
    }

    .ant-progress-text {
      width: 20px;
      margin-left: 15px;

      .anticon {
        font-size: 16px;
      }
    }
  }
}

.success {
  :global {
    .ant-notification-notice-icon {
      div {
        color: #6bc11a;
        font-size: 20px;
      }

      &:after {
        border-color: #6bc11a;
      }
    }
  }
  background: #f7fcf3;
}

.info {
  :global {
    .ant-notification-notice-icon  {
      div {
        color: #1875f0;
        font-size: 14px;
      }

      &:after {
        border-color: #1875f0;
      }
    }
  }
  background: #edf2f8;
}

.infoDownload {
  padding: 7px 0 9px;

  :global {
    .ant-notification-notice-icon  {
      div {
        color: #1875f0;
        font-size: 14px;
      }

      &:after {
        border-color: #1875f0;
      }
    }
  }
  background: #edf2f8;
}

.warning {
  :global {
    .ant-notification-notice-icon {
      div {
        color: #f9ad3d;
        font-size: 20px;
      }

      &:after {
        border: none;
      }
    }
  }
  background: #fef8e9;
}

.error {
  :global {
    .ant-notification-notice-icon {
      div {
        color: #f00;
        font-size: 20px;
      }

      &:after {
        border-color: #f00;
      }
    }
  }
  background: #faeded;
}
