<!DOCTYPE html
        PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
        'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>BenRevo Sign Up Request</title>
    <style>.tablebordered tr {
        border: 0;
    }

    .tablebordered tr td {
        border: 1px solid #ddd;
        padding: 8px 10px;
    }

    .tablebordered {
        border: 0;
        padding: 10px 15px;
    }
    </style>
</head>
<body style="background:#f8f9fb; margin:0px;padding:0px; font-family:Arial, Helvetica, sans-serif;">
<table bgcolor="#f8f9fb" style="margin:auto;" width="600">
    <tr>
        <td>
            <table bgcolor="#fff" style="margin:auto;padding:0 30px;" width="600">
                <tr>
                    <td>
                        <h3 style="font-family:Arial, Helvetica, sans-serif;color:#2d67b2;font-weight:bold;font-size:24px;">
                            Hello, we have received a contact request below:</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table bgcolor="#fff" cellpadding="0" cellspacing="0" style="margin:0;padding:0" width="600">
                            <tr>
                                <td width="250">
                                    <ul style="color: #7f7e7e;font-family: Arial,Helvetica,sans-serif;font-size: 15px;line-height: 25px;margin-top:0px;">
                                        <li>Name:</li>
                                        <li>Company Name:</li>
                                        <li>Email Address:</li>
                                        <li>Phone Number:</li>
                                        <li>Message:</li>
                                    </ul>
                                </td>
                                <td width="350">
                                    <ul style="list-style: none;color: #7f7e7e;font-family: Arial,Helvetica,sans-serif;font-size: 15px;line-height: 25px;margin-top:0px;">
                                        <li>$!name</li>
                                        <li>$!company</li>
                                        <li>$!email</li>
                                        <li>$!phone</li>
                                        <li>$!message</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="height:10px;float:left;width:100%;border-bottom:1px solid #d7d7d7;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="color:#989898; font-family: Arial,Helvetica,sans-serif;font-size: 14px;line-height: 25px;margin-top:0px;">
                            Good luck!

                            <br/>
                            <span style="color:#2E67B1;text-decoration:none;font-weight:bold;">Team BenRevo</span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
