---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:JobCancel><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>1</tns:MaxReply></tns:Header><tns:OTConfirmationNumber>1000314920</tns:OTConfirmationNumber><tns:PersonID>D250122642</tns:PersonID><tns:CancelReason>Cancel</tns:CancelReason></tns:Request></tns:JobCancel></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/JobCancel"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><JobCancelResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><JobCancelResult><Header><Version>3</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-17T15:31:52.3623113Z</Time><Result><Message
        /><Code>0</Code></Result></Header><Notification>Success</Notification></JobCancelResult></JobCancelResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Aug 2018 15:32:03 GMT
recorded_with: VCR 4.0.0
