---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:JobModify><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>1</tns:MaxReply></tns:Header><tns:Job><tns:General><tns:OTConfirmationNumber>1000314920</tns:OTConfirmationNumber><tns:State>None</tns:State><tns:Client><tns:ClientNumber>D25</tns:ClientNumber><tns:ClientName></tns:ClientName></tns:Client><tns:ExternalReference>AD13109</tns:ExternalReference><tns:QuoteID></tns:QuoteID><tns:ActivationCode></tns:ActivationCode><tns:PaymentReference><tns:PaymentMethod><tns:PaymentName></tns:PaymentName><tns:PaymentID>Account</tns:PaymentID><tns:PaymentType>Client</tns:PaymentType><tns:Client><tns:ClientNumber>D25</tns:ClientNumber><tns:ClientName></tns:ClientName></tns:Client></tns:PaymentMethod><tns:Amount>0.0</tns:Amount><tns:Notes></tns:Notes></tns:PaymentReference><tns:Booker><tns:PersonID>D250122642</tns:PersonID><tns:Username>Demo_admin</tns:Username><tns:PassengerType><tns:Name></tns:Name><tns:Type>None</tns:Type></tns:PassengerType><tns:Title>Mrs</tns:Title><tns:FirstName>Demo</tns:FirstName><tns:LastName>Admin</tns:LastName><tns:MobilePhone>0000000000</tns:MobilePhone><tns:WorkPhone>0000000000</tns:WorkPhone><tns:Email>otdemo@one-transport.co.uk</tns:Email><tns:ClientNumber>D25</tns:ClientNumber><tns:StuffNumber></tns:StuffNumber><tns:Role></tns:Role></tns:Booker><tns:JobFlags><tns:WaitAndReturn>0</tns:WaitAndReturn><tns:VehicleType>Saloon</tns:VehicleType><tns:VehicleClass>Standard</tns:VehicleClass><tns:JourneyReason>Work
        to Home</tns:JourneyReason><tns:NumPassengers>1</tns:NumPassengers><tns:Origin>Web</tns:Origin><tns:JobChargeType>None</tns:JobChargeType><tns:Asap>false</tns:Asap><tns:Share>false</tns:Share></tns:JobFlags><tns:Date>2019-02-09T06:02:00+00:00</tns:Date></tns:General><tns:Stops><tns:StopStructure><tns:StopID>0</tns:StopID><tns:AddressDetails><tns:Address><tns:BuildingName></tns:BuildingName><tns:BusinessName></tns:BusinessName><tns:Apartment></tns:Apartment><tns:StreetNumber></tns:StreetNumber><tns:StreetName>221B
        Baker St, Marylebone, London NW1 6XE, UK</tns:StreetName><tns:Dst></tns:Dst><tns:Town></tns:Town><tns:Country>GB</tns:Country><tns:Postcode>NW1
        6XE</tns:Postcode></tns:Address><tns:Location><tns:Latitude>51.5237102</tns:Latitude><tns:Longitude>-0.1584593</tns:Longitude></tns:Location></tns:AddressDetails><tns:Passengers><tns:PassengerStructure><tns:Person><tns:PassengerType><tns:Name>Guest</tns:Name><tns:Type>Guest</tns:Type></tns:PassengerType><tns:Title></tns:Title><tns:FirstName>Nettie</tns:FirstName><tns:LastName>Olson</tns:LastName><tns:MobilePhone>44749383818</tns:MobilePhone><tns:HomePhone>44749383818</tns:HomePhone><tns:WorkPhone>44749383818</tns:WorkPhone><tns:Email></tns:Email><tns:Notification></tns:Notification><tns:ClientNumber></tns:ClientNumber><tns:StaffNumber></tns:StaffNumber><tns:Role></tns:Role><tns:SpecialRequirements></tns:SpecialRequirements><tns:Flags></tns:Flags></tns:Person><tns:Action>Pickup</tns:Action></tns:PassengerStructure></tns:Passengers><tns:StopNotes>Hello
        there!</tns:StopNotes><tns:RequiredDateTime>2019-02-09T06:02:00+00:00</tns:RequiredDateTime><tns:AsDirected>false</tns:AsDirected></tns:StopStructure><tns:StopStructure><tns:StopID>1</tns:StopID><tns:AddressDetails><tns:Address><tns:BuildingName></tns:BuildingName><tns:BusinessName></tns:BusinessName><tns:Apartment></tns:Apartment><tns:StreetNumber></tns:StreetNumber><tns:StreetName>Mercedes-Benz
        of Glasgow, 135 Milton St, Glasgow G4 0DH, UK</tns:StreetName><tns:Dst></tns:Dst><tns:Town></tns:Town><tns:Country>GB</tns:Country><tns:Postcode>G4
        0DH</tns:Postcode></tns:Address><tns:Locatio[...]
