.widgetContainer, .mapWrapper {
  max-width: calc(50% - 10px);

  :global(.recharts-responsive-container) {
    top: 5px;
  }
}

.mapWrapper {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
}

.map {
  min-width: 100%;
}

.infoContainer {
  max-width: 200px;
}

.statsCountValue {
  height: 150px;
}

.twitterWidget {
  min-width: 260px;
  border-bottom: none;
}

@media (max-width: 1280px) {
  .widgetContainer {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 1023px) {
  .mapWrapper {
    min-width: 100%;
    margin-left: 0;
  }
}
