---
http_interactions:
- request:
    method: post
    uri: https://test.api.get-e.com/api/v2/quotes
    body:
      encoding: UTF-8
      string: Pickup[Place]&Pickup[Address][AddressLine]=48+Rue+Ernest+Renan%2C+33000+Bordeaux%2C+France&Pickup[Airport]&Pickup[Location][Latitude]=44.8482509&Pickup[Location][Longitude]=-0.5917695&Pickup[PickupTime]=2018-09-26T21%3A04%3A05&DropOff[Place]&DropOff[Address][AddressLine]=221B+Baker+St%2C+Marylebone%2C+London+NW1+6XE%2C+UK&DropOff[Airport]&DropOff[Location][Latitude]=51.5237102&DropOff[Location][Longitude]=-0.1584593
    headers:
      Authorization:
      - X-Api-Key 8197323302846fe8ad92aab1fda5f71c045476bd6d5f9f8254191c5ad7e96b95
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "status": 200,
            "href": "https://test.api.get-e.com/api/v2/quotes",
            "meta": {
                "method": "POST",
                "ip": "178.151.244.9"
            },
            "data": {
                "CarOptions": [
                    {
                        "Uuid": "7e6c531c-8b0e-300e-86e7-04c82d7daa9a",
                        "Details": {
                            "Name": "Comfort Sedan",
                            "Class": "Comfort",
                            "Type": "Sedan",
                            "CarThumbnail": "//d2jp0wcxc8urv0.cloudfront.net/images/vehicles/comfort.png",
                            "Attributes": [],
                            "Capacity": {
                                "Passengers": 3,
                                "Bags": 3
                            },
                            "FreeWaitingTime": 0,
                            "PickupDescription": "In case of any delay in meeting the driver please call +31 858 884 450 immediately."
                        },
                        "Pricing": {
                            "Price": {
                                "Amount": 12.73,
                                "IsoCurrency": "GBP"
                            },
                            "CancellationFee": [
                                {
                                    "ValidAfter": "2018-09-25T21:04:05+0200",
                                    "Price": {
                                        "Amount": 12.73,
                                        "IsoCurrency": "GBP"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "Predictions": {
                    "Duration": "43338",
                    "Distance": "1039137"
                }
            }
        }
  recorded_at: Wed, 26 Sep 2018 18:58:08 GMT
recorded_with: VCR 4.0.0
