.wrapper {
  width: 1000px;
  max-width: 100%;
}

.calendarWrapper {
  margin-left: 20px;
  @media(max-width: 1090px) {
    margin-left: 0px;
  }
}

.tabs {
  height: auto;

  @media(max-width: 480px) {
    width: 100%;
    margin: 0 auto !important;
  }

  :global {
    .ant-tabs-tab-prev-icon,
    .ant-tabs-tab-next-icon,
    .custom-next-icon,
    .custom-prev-icon {
      &:before {
        font-size: 50px;
        height: 40px;
        width: 40px;
        background-image: url('/assets/images/car-arrow.svg');
        background-size: 40px 40px;
        content: '';
      }

      &:hover:before {
        background-image: url('/assets/images/car-arrow-hover.svg');
      }
    }

    .custom-next-icon,
    .custom-prev-icon {
      display: none;
      position: absolute;
      width: 40px;
      height: 120px;
      z-index: 1;
      padding-top: 40px;
      &:before {
        display: block
      }
      @media(max-width: 480px) {
        display: block;
      }
    }

    .custom-next-icon {
      right: 0;

      &:before {
        background-image: url('/assets/images/car-arrow-right.svg');
      }
      &:hover:before {
        background-image: url('/assets/images/car-arrow-right-hover.svg');
      }
    }

    .custom-prev-icon {
      left: 0;
    }

    .ant-tabs-tab-prev,
    .ant-tabs-tab-next {
      @media(max-width: 480px) {
        display: none;
      }
    }

    .ant-tabs-nav-container-scrolling {
      padding-left: 40px;
      padding-right: 40px;
    }

    .ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
    .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
      width: 40px;
    }

    .ant-tabs-tab-prev-icon {
      left: 17px;
    }

    .ant-tabs-tab-next-icon {
      right: -13px;

      &:before {
        background-image: url('/assets/images/car-arrow-right.svg');
      }
      &:hover:before {
        background-image: url('/assets/images/car-arrow-right-hover.svg');
      }
    }

    .ant-tabs-tab-btn-disabled {
      .ant-tabs-tab-prev-icon:hover:before {
        background-image: url('/assets/images/car-arrow.svg');
      }
      .ant-tabs-tab-next-icon:hover:before {
        background-image: url('/assets/images/car-arrow-right.svg');
      }
    }

    .ant-tabs-tab-next,
    .ant-tabs-tab-prev {
      width: 50px;
    }

    .ant-tabs-tab-next {
      right: 0;
    }

    .ant-tabs-bar {
      border-bottom: none;
      box-shadow: none;
      height: auto;
    }

    .ant-tabs-nav .ant-tabs-tab {
      height: auto;
      vertical-align: bottom;
      line-height: 1;
    }

    .ant-tabs-nav .ant-tabs-tab {
      margin-right: 5px;
    }
  }
}

.tableSummary table tr:not(:global(.ant-table-expanded-row)) {
  cursor: default;
}

.radio {
  font-size: 12px;

  :global {
    .ant-radio-button-wrapper {
      padding: 0;
      color: #808080;
      border: 2px solid #ededed;
      &:not(:last-child){
         border-right: 0;
      }

      &.ant-radio-button-wrapper-checked {
        background: #fdb924;
        color: #373737;
        box-shadow: none;
      }
    }
  }

  &.scheduleRadioTabs {
    max-width: 690px;
    margin: 0 auto 20px;
  }
}

.width60 {
  width: 60px;
}

.width70 {
  width: 70px;
}

.width190 {
  width: 190px !important;
}

.width220 {
  width: 220px !important;
}

.datepicker {
  min-width: 130px;
}

.weekdays {
  overflow: hidden;

  :global {
    .ant-checkbox-wrapper {
      background-color: #fff;
    }

    .ant-checkbox {
      display: none;

      + span {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border: 2px solid #e2e2e2;
        border-radius: 4px;
        color: #808080;
      }

      &.ant-checkbox-checked + span {
        color: #373737;
        border-color: #fdb924;
        font-weight: bold;
      }
    }
  }
}

@media(max-width: 480px) {
  .wrapper {
    width: 100%;

    :global .ant-tabs-nav .ant-tabs-tab {
      width: calc(100vw - 148px);
      margin: 0;
    }
  }

  .radio :global(.ant-radio-button-wrapper) {
    text-transform: none;
  }
}

.optionList {
  list-style-type: square;
}

.filterContainer {
  width: 100%;
  padding: 0;
  overflow: auto;
}

.filterItem {
  height: 60px;
  padding: 15px;
}

.filterItem.active {
  border-bottom: 2px solid #fdb924;
  color: #fdb924;
}

.filterCount {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 20px;
  min-width: 20px;
  border-radius: 10px;
  background: #2b3238;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 0 6px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
}

.cabTabsAddress {
  padding-left: 20px;
  border-left: 2px solid #e2e2e2;
  margin-left: 2px;

  &:before, &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #6bc11a;
    position: absolute;
    left: -6px;
  }

  &:before {
    top: 0;
    background: #fff;
  }

  &:after {
    bottom: 0;
    background: #fff;
    border-color: #ff0000;
  }

  .inside {
    margin-bottom: 15px;
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #a0a0a0;
      position: absolute;
      left: -6px;
    }
  }
}

.cabTabsAddressAsDirected {
  padding-left: 20px;
  margin-left: 4px;

  &:before {
    top: 0;
    background: #fff;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #6bc11a;
    position: absolute;
    left: -6px;
  }
}

.cancelBtn:global(.ant-btn) {
  border-radius: 0 0 0 6px;
  height: 50px;
}

.saveBtn:global(.ant-btn) {
  border-radius: 0 0 6px 0;
  height: 50px;
}

.tooltip {
  :global(.ant-tooltip-inner) {
    width: 261px;
  }
}

.lastChartItem {
  max-width: calc((100% - 40px) / 3);

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.preBookBtn:hover {
  background-color: #1968d0;
}

.paymentSelect {
  max-width: 270px;
}


.scheduleTimePicker {
  :global(.error) {
    position: absolute;
    top: 34px;
  }
}
