
@import "../../../../../../../styles/tools/mixins.scss";

.HomePromoMain.newyear2020v1 {
  .container {
		background: url('./home-top-newyear_1000.png') no-repeat;
		background-size: contain;
		background-position: right top;
		padding-top: 25px;
		padding-bottom:25px;

		.content {
			max-width: 50%;
			margin-right: auto;
		}
		@media screen and (max-width: 992px) {
			background-size: 50%;
		}

		@media screen and (max-width: 576px) {
      background: url('./home-top-newyear_600.png') no-repeat;
      background-size: 250px;
      background-position: center 190px;
			.content {
				margin-left: auto;
				max-width: 90%;

				.subtitle {margin-bottom:170px; }
				h1, .subtitle {max-width: 280px !important; margin-left:auto; margin-right:auto;}

			}
		}
	}
}
