---
http_interactions:
- request:
    method: post
    uri: http://awsuat.one-transport.co.uk/OTWS/OTWebservice.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.one-transport.co.uk/OTWebservice"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:JobQuote><tns:Request><tns:Header><tns:Version>4</tns:Version><tns:Key>Demo123456</tns:Key><tns:Username>Demo_admin</tns:Username><tns:ClientNumber>D25</tns:ClientNumber><tns:Password>Demo4dmin</tns:Password><tns:MaxReply>10</tns:MaxReply></tns:Header><tns:General><tns:QuoteType>Fixed</tns:QuoteType><tns:Client><tns:ClientNumber>D25</tns:ClientNumber><tns:ClientName></tns:ClientName></tns:Client><tns:Flags><tns:WaitAndReturn>false</tns:WaitAndReturn><tns:JourneyReason>Work
        to Home</tns:JourneyReason><tns:NumPassengers>1</tns:NumPassengers><tns:Origin>Web</tns:Origin><tns:JobChargeType>Fixed</tns:JobChargeType></tns:Flags></tns:General><tns:Stops><tns:StopStructure><tns:StopID>0</tns:StopID><tns:AddressDetails><tns:Address><tns:BuildingName></tns:BuildingName><tns:BusinessName></tns:BusinessName><tns:Apartment></tns:Apartment><tns:StreetNumber></tns:StreetNumber><tns:StreetName>312
        Vauxhall Bridge Rd, Westminster, London SW1V 1AA, UK</tns:StreetName><tns:Dst></tns:Dst><tns:Town></tns:Town><tns:Country>GB</tns:Country><tns:Postcode>SW1V
        1AA</tns:Postcode></tns:Address><tns:Location><tns:Latitude>51.49564649999999</tns:Latitude><tns:Longitude>-0.1418553</tns:Longitude></tns:Location></tns:AddressDetails><tns:Passengers><tns:PassengerStructure><tns:Person><tns:PassengerType><tns:Name>Guest</tns:Name><tns:Type>Guest</tns:Type></tns:PassengerType><tns:Title></tns:Title><tns:FirstName>
        </tns:FirstName><tns:LastName> </tns:LastName><tns:MobilePhone></tns:MobilePhone><tns:HomePhone></tns:HomePhone><tns:WorkPhone></tns:WorkPhone><tns:Email></tns:Email><tns:Notification></tns:Notification><tns:ClientNumber></tns:ClientNumber><tns:StaffNumber></tns:StaffNumber><tns:Role></tns:Role><tns:SpecialRequirements></tns:SpecialRequirements><tns:Flags></tns:Flags></tns:Person><tns:Action>Pickup</tns:Action></tns:PassengerStructure></tns:Passengers><tns:StopNotes></tns:StopNotes><tns:RequiredDateTime>2018-08-15T18:23:34+00:00</tns:RequiredDateTime><tns:AsDirected>false</tns:AsDirected></tns:StopStructure><tns:StopStructure><tns:StopID>1</tns:StopID><tns:AddressDetails><tns:Address><tns:BuildingName></tns:BuildingName><tns:BusinessName></tns:BusinessName><tns:Apartment></tns:Apartment><tns:StreetNumber></tns:StreetNumber><tns:StreetName>167
        Fleet St, London EC4A 2EA, UK</tns:StreetName><tns:Dst></tns:Dst><tns:Town></tns:Town><tns:Country>GB</tns:Country><tns:Postcode>EC4A
        2EA</tns:Postcode></tns:Address><tns:Location><tns:Latitude>51.5141693</tns:Latitude><tns:Longitude>-0.1088909</tns:Longitude></tns:Location></tns:AddressDetails><tns:Passengers><tns:PassengerStructure><tns:Person><tns:PassengerType><tns:Name>Guest</tns:Name><tns:Type>Guest</tns:Type></tns:PassengerType><tns:Title></tns:Title><tns:FirstName>
        </tns:FirstName><tns:LastName> </tns:LastName><tns:MobilePhone></tns:MobilePhone><tns:HomePhone></tns:HomePhone><tns:WorkPhone></tns:WorkPhone><tns:Email></tns:Email><tns:Notification></tns:Notification><tns:ClientNumber></tns:ClientNumber><tns:StaffNumber></tns:StaffNumber><tns:Role></tns:Role><tns:SpecialRequirements></tns:SpecialRequirements><tns:Flags></tns:Flags></tns:Person><tns:Action>Setdown</tns:Action></tns:PassengerStructure></tns:Passengers><tns:StopNotes></tns:StopNotes><tns:RequiredDateTime>2018-08-15T18:23:34+00:00</tns:RequiredDateTime><tns:AsDirected>false</tns:AsDirected></tns:StopStructure></tns:Stops></tns:Request></tns:JobQuote></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.one-transport.co.uk/OTWebservice/JobQuote"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><JobQuoteResponse
        xmlns="http://www.one-transport.co.uk/OTWebservice"><JobQuoteResult><Header><Version>4</Version><SoftwareVersion>One
        Transport General Webservices version 2.13.0.0</SoftwareVersion><Time>2018-08-15T18:17:29.9867861Z</Time><Result><Message
        /><Code>0</Code></Result></Header><General><QuoteID>119083</QuoteID><QuoteType>Fixed</QuoteType><Client><ClientNumber>D25</ClientNumber><ClientName
        /><References /><Requirements /><JourneyReasons /><PassengerTypes /><VehicleTypes
        /><PreferredVendorReasons /><JobChargeTypes /><OutOfPolicyReasons /><BusinessRules
        /><DisclaimerNames /></Client><Flags><JobRequirements /><WaitAndReturn>false</WaitAndReturn><VehicleType>None</VehicleType><VehicleClass>None</VehicleClass><JourneyReason>Work
        to Home</JourneyReason><NumPassengers>1</NumPassengers><Origin>Web</Origin><JobChargeType>Fixed</JobChargeType><Asap>false</Asap><Share>false</Share><PreferredVendorReasonID>0</PreferredVendorReasonID><OutofPolicyReasonID>0</OutofPolicyReasonID><ExceptionReasons
        /></Flags><References /></General><Stops><StopStructure><StopID>0</StopID><AddressDetails><Address><BuildingName
        /><BusinessName /><Apartment /><StreetNumber /><StreetName>312 Vauxhall Bridge
        Rd, Westminster, London SW1V 1AA, UK</StreetName><Dst /><Town /><Dlo /><County
        /><Postcode>SW1V 1AA</Postcode><Country>GB</Country></Address><Airport /><Location><Latitude>51.495646499999992</Latitude><Longitude>-0.1418553</Longitude><GRN>17900</GRN><GRE>52900</GRE></Location></AddressDetails><FlightDetails><ScheduledArrival>0001-01-01T00:00:00</ScheduledArrival><ScheduledDeparture>0001-01-01T00:00:00</ScheduledDeparture></FlightDetails><Passengers><PassengerStructure><Person><PassengerType><Name>Guest</Name><Type>Guest</Type></PassengerType><Title
        /><FirstName> </FirstName><LastName> </LastName><MobilePhone /><HomePhone
        /><WorkPhone /><Email /><ClientNumber /><StaffNumber /><Role /><Notification
        /><SpecialRequirements /><Flags /></Person><Action>Pickup</Action></PassengerStructure></Passengers><StopNotes
        /><RequiredDateTime>2018-08-15T19:23:34+01:00</RequiredDateTime><AsDirected>false</AsDirected></StopStructure><StopStructure><StopID>1</StopID><AddressDetails><Address><BuildingName
        /><BusinessName /><Apartment /><StreetNumber /><StreetName>167 Fleet St, London
        EC4A 2EA, UK</StreetName><Dst /><Town /><Dlo /><County /><Postcode>EC4A 2EA</Postcode><Country>GB</Country></Address><Airport
        /><Location><Latitude>51.5141693</Latitude><Longitude>-0.1088909</Longitude><GRN>18110</GRN><GRE>53130</GRE></Location></AddressDetails><FlightDetails><ScheduledArrival>0001-01-01T00:00:00</ScheduledArrival><ScheduledDeparture>0001-01-01T00:00:00</ScheduledDeparture></FlightDetails><Passengers><PassengerStructure><Person><PassengerType><Name>Guest</Name><Type>Guest</Type></PassengerType><Title
        /><FirstName> </FirstName><LastName> </LastName><MobilePhone /><HomePhone
        /><WorkPhone /><Email /><ClientNumber /><StaffNumber /><Role /><Notification
        /><SpecialRequirements /><Flags /></Person><Action>Setdown</Action></PassengerStructure></Passengers><StopNotes
        /><RequiredDateTime>2018-08-15T19:23:34+01:00</RequiredDateTime><AsDirected>false</AsDirected></StopStructure></Stops><Quotes><QuoteStructure><OptionID>1</OptionID><Charges><ChargeStructure><Amount>285</Amount><DecimalPlaces>2</DecimalPlaces><Currency>Miles</Currency><ChargeSequence>1</ChargeSequence><ChargeType>NONE</ChargeType><ChargeName>MILEAGE</ChargeName></ChargeStructure><ChargeStructure><Amount>290</Amount><DecimalPlaces>2</DecimalPlaces><Currency>Miles</Currency><ChargeSequence>2</ChargeSequence><ChargeType>NONE</ChargeType><ChargeName>CHARGEABLE_MILEAGE</ChargeName></ChargeStructure><ChargeStructure><Amount>1665</Amount><DecimalPlaces>2</DecimalPlaces><Currency>GBP</Currency><ChargeSequence>3</ChargeSequence><ChargeType>FIXED</ChargeType><ChargeName>FARE_QUOTE</ChargeName></ChargeStructure><ChargeStructure><Amount>190</Am[...]
