.tabs__tab-item {
  padding: 11px 10px;

  background: $brand-disabled-blue;
  svg {
    vertical-align: middle;
    margin-right: 5px;
  }
  span {
    vertical-align: middle;
  }
  display: inline-block;
  vertical-align: top;
  border-radius: 8px 8px 0px 0px;
  min-width: 160px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.tabs__tab-item_active {
  background: $brand-blue;
}
