---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?channel=channel_name&key=AIzaSyBmgcuoNZLqQG7I51V9dk_mUoadHi438P8&language=en&place_id=Eh0yMjFiIEJha2VyIFN0cmVldCwgTG9uZG9uLCBVSw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "result" : {
              "address_components" : [
                 {
                    "long_name" : "221B",
                    "short_name" : "221B",
                    "types" : [ "street_number" ]
                 },
                 {
                    "long_name" : "Baker Street",
                    "short_name" : "Baker St",
                    "types" : [ "route" ]
                 },
                 {
                    "long_name" : "Marylebone",
                    "short_name" : "Marylebone",
                    "types" : [ "neighborhood", "political" ]
                 },
                 {
                    "long_name" : "London",
                    [...]
