$dark-grey: #989898;
$blue-color: rgb(107, 186, 230);

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

@media(min-width: 1025px) {
  .driverMessage {
    max-width: 400px;
  }
}

.point {
  width: 80px;
  text-align: center;
}


:global {
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba($blue-color, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba($blue-color, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($blue-color, 0);
    }
  }
}

.pointMarker {
  border-left: 1px solid $dark-grey;
  height: 60px;
  position: relative;
  display: inline-block;
  transition: 0.3s all;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    background-color: #fff;
  }

  &:before {
    top: -1px;
    left: -12px;
    display: block;
    width: 22px;
    height: 22px;
  }

  &:after {
    bottom: 0;
  }

  &.creating {
    &:before,
    &:after {
      background-color: $dark-grey;
      border: 1px solid $dark-grey;
    }
  }

  &.passed {
    &:before,
    &:after {
      border: 1px solid $blue-color;
      background-color: $blue-color;
    }
  }

  &.active {
    &:before {
      box-shadow: 0 0 0 rgba($blue-color, 0.4);
      animation: pulse 2s infinite;
    }
  }

  &.interrupted {
    &:before,
    &:after {
      background-color: #f55656;
      border-color: #f55656;
    }
  }

  &.outside:before {
    top: -4px;
    left: -14px;
    display: block;
    width: 28px;
    height: 28px;
  }
}

.pointLine {
  width: 100%;
  height: 15px;
  border-bottom: 2px solid $dark-grey;
  margin: -4px -40px 0;
  line-height: 12px;
  font-size: 12px;
  padding-bottom: 2px;
  text-align: center;
}

.vehicle {
  margin: -14px auto 0;
}

.animatedVehicle {
  animation: animatedVehicle 15s linear infinite;
}

.locating,
.on_the_way,
.in_progress {
  width: 110px;
}

.creating .pointMarker {
  &:before,
  &:after{
    background-color: $dark-grey;
    border: 1px solid $dark-grey;
  }
}

.completed .pointMarker.passed {
  &:before,
  &:after{
    animation: none;
    background-color: #489a3e;
    border: 1px solid #489a3e;
  }
}

.arrived {
  width: 30%;
  min-width: 100px;
}

.completed {
  flex: 1;
  min-width: 100px;
}

.mobilePoint {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid $dark-grey;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-bottom: -2px;

  &:not(.first):before {
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    left: 50%;
    bottom: 100%;
    border-left: 1px solid $dark-grey;
  }

  &.first.passed {
    border: 1px solid $dark-grey;
    background-color: $dark-grey;
    z-index: 1;
    margin-top: 0;
  }

  &.outside {
    width: 26px;
    height: 26px;
  }

  &.passed {
    background-color: $blue-color;
    border: 1px solid $blue-color;
  }

  &.completed {
    min-width: auto;
    &.passed {
      animation: none;
      background-color: #489a3e;
      border: 1px solid #489a3e;
    }
  }

  &.active {
    box-shadow: 0 0 0 rgba($blue-color, 0.4);
    animation: pulse 2s infinite;
  }

  &.interrupted {
    background-color: #f55656;
    border-color: #f55656;
  }
}

.intervalSpace:not(.first) {
  margin-top: 20px;
  &.outside {
    margin-top: 23px;
  }

}

.alertItems {
  min-width: 50px;
}

.journey {
  position: relative;
  padding-left: 20px;
  border-left: 1px solid $dark-grey;

  .start:before,
  .end:before {
    content: '';
    position: absolute;
    left: -5px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $dark-grey;
    border-radius: 50%;
    background: #fff;
  }

  .start:before {
    top: 0;
    background: #fff;
  }

  .end:before {
    bottom: 0;
    background: $dark-grey;
  }
}

.interval {
  margin-top: -1.5em;
}

:global {
  @keyframes animatedVehicle {
    from {
      margin-left: 0;
    }
    to {
      margin-left: calc(100% - 80px);
    }
  }
}

.warningAlert {
  color: #ffb71a;
}

.errorAlert {
  color: #eb2e2e;
}
