.wrapper {
  height: calc(100vh - 190px);
  margin-right: calc(25% + 30px);
  overflow: auto;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  background-color: #ffb71a;
  z-index: 10;
}

.list {
  overflow: auto;
}

.listItemWhite {
  background-color: #ffcd68;
}

.listItemGrey {
  background-color: #969696;
}

.radio {
  :global {
    .ant-radio-button-wrapper {
      text-align: center;
      margin: 0 5px;
      padding: 0 30px;
      border: 0;
      background-color: #e0e0e0;
      color: #fff;
      line-height: 35px;
      box-shadow: none;

      &:first-child,
      &:last-child {
        border-radius: 20px;
      }

      &.ant-radio-button-wrapper-checked {
        background: #fcb827;
      }
      &:not(:first-child):before {
        display: none;
      }
    }
  }
  &.carType :global .ant-radio-button-wrapper {
    padding: 0;
    width: 40px;
  }
}

.formHolder {
  max-width: 600px;
}

:global(.message ~ div) {
  .wrapper {
    height: calc(100vh - 220px);
  }
}

:global(.ant-btn).orderBtn {
  border-radius: 20px;
  padding: 0 40px;
  border: 0;
  background: #fcb827;
  color: #fff;
  line-height: 40px;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: #fcb827;
  }
}

.popover {
  z-index: 9 !important;
  top: calc(50vh - 170px) !important; //popover position from top = center(half viewPortHeight - 1/2 popover height)
  :global {
    .ant-popover-inner {
      width: 700px;
      background-color: #ffb71a;
      border-radius: 15px 0 0 15px;
    }
    .ant-popover-arrow {
      display: none;
    }
    .ant-popover-inner-content {
      color: #fff;
      padding: 15px;
    }
  }
}

.borderBlock {
  border: 1px solid #ffd787;
}

.borderBottom {
  border-bottom: 1px solid #ffd787;
}

.borderRight {
  border-right: 1px solid #ffd787;
}

.max175 {
  max-height: 175px;
}
