---
http_interactions:
- request:
    method: post
    uri: https://api.paymentsos.com/payments//authorizations
    body:
      encoding: UTF-8
      string: '{"payment_method_token":"Token1","reconciliation_id":"booking_AD13109"}'
    headers:
      Content-Type:
      - application/json
      X-Payments-Os-Env:
      - test
      App-Id:
      - com.gett.ot
      Private-Key:
      - 177aec50-6ad1-48c2-99cc-0abcf64a5fa6
      Api-Version:
      - 1.0.0
      Public-Key:
      - 23e7748c-dd38-46db-b3cb-a24167db670a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      L5d-Success-Class:
      - '1.0'
      X-Zooz-Request-Id:
      - 921d6532-bf98-44ea-bd15-81aa191a7f1d
    body:
      encoding: ASCII-8BIT
      string: '{"result": {"status": "Succeed"}}'
  recorded_at: Tue, 06 Nov 2018 15:58:27 GMT
recorded_with: VCR 4.0.0
