.wrapper {
  height: calc(100vh - 88px);
  min-height: 430px;
}

.formWrapper {
  height: calc(100vh - 128px);
  min-height: 390px;
}

.form {
  width: 340px;

  input {
    height: 44px;
    font-size: 16px;
    border-color: #565656;
    padding-left: 50px;
  }
}

.banner {
  position: relative;
  background: url('/assets/images/london-bg.jpg') no-repeat center/cover;
}

.text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50%;
  background: rgba(255, 255, 255, .88);
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 1;
}

.error {
  color: #f04134;
  border: 1px solid #f04134;
  border-radius: 4px;
}
