<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>BenRevo</title>
    <style type="text/css">
      table {
        border-collapse: collapse;
        width: 100%;
      }
      .maintble {
          max-width: 800px;
          width:100%;
          margin:0 auto;
          border:none;
      }
      a {
        text-decoration: none !important;
        color: #000;
      }
      td {
        padding: 5px 0;
      }
      .icon {
        width: 54px;
        height: 42px;
      }
      #section-text {
        margin-top: 18.3px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #333;
        with: 230px;
      }
      #logo {
        width: 200px;
        height: 47px;
      }

      .main-table td {
        font-size: 16px;
        color: #000;
        width: 146px;
      }
      tr.trBorder td{
        border-bottom: 1px solid #ccc;
      }
      tr.trMainBorder td{
        border-bottom: 1px solid #999;
      }
      .name {
        font-weight: bold;
      }

      .centered {
        text-align: center;
      }

      .centered td:first-child {
        text-align: left;
        padding-left: 20px;
      }

      .centered td {
        text-align: center;
      }

      .header-text {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #333;
      }
      tr .table-header {
        background-color: #e1f1f8;
        height: 18px;
        border-bottom: none !important;
        color: #898680;
      }

      .table-header > td {
        padding: 0;
      }

      .footer-table {
        font-size: 8px;
        color: #000;
        margin-top: 130px;
      }
      .greyColor{
        color: #666666 !important;
      }
    </style>
  </head>
  <body>
    <table class="maintble" border="0">
      <tr>
        <td>
          <table style="width: 100%; table-layout: fixed;">
            <tr>
              <td style="width: 54px;"><img src="$!{product_logo}" class="icon"></img></td>
              <td id="section-text">$!{full_product_name}</td>
              <td></td>
              #if($StringUtils.isNotBlank($!brokerage_logo))
                <td style="text-align: right;"><img id="logo" src="$!{brokerage_logo}"/></td>
              #end
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table class="main-table">
            <tr class="trMainBorder">
              <td class="header-text">COVERAGE</td>
              <td></td>
            </tr>
            <tr class="table-header">
              <td class="greyColor"><div style="background: #e1f1f8 !important;">CLASS</div></td>
              <td class="greyColor"><div style="background: #e1f1f8 !important;">NAME</div></td>
            </tr>
            #foreach($c in ${plan.getClasses()})
              <tr class="trBorder">
                <td>Class $foreach.count</td>
                <td>$!{c.name}</td>
              </tr>
            #end
          </table>
        </td>
      </tr>

      <tr><td><p></p></td></tr>
      <tr>
        <td>
          <table class="main-table">
            <tr>
              <td class="header-text" colspan="3">$!{rate_text}</td>
            </tr>
            <tr class="table-header">
              <td><div style="background: #e1f1f8 !important;">&nbsp;</div></td>
              <td class="centered greyColor"><div style="background: #e1f1f8 !important;">CURRENT RATES</div></td>
              <td class="centered greyColor"><div style="background: #e1f1f8 !important;">RENEWAL RATES</div></td>
            </tr>
            #foreach($c in ${plan.getRates().getAges()})
              <tr class="trBorder">
                <td>Age $!{c.from} to $!{c.to}</td>
                <td class="centered">#if(${c.getCurrentEmp()}) $$DecimalFormat.format(${c.getCurrentEmp()}) #else - #end</td>
                <td class="centered">#if(${c.getRenewalEmp()}) $$DecimalFormat.format(${c.getRenewalEmp()}) #else - #end</td>
              </tr>
            #end
          </table>
        </td>
      </tr>

      <tr><td><p></p></td></tr>
      <tr>
        <td>
          <table class="main-table">
            <tr>
              <td class="header-text">CARRIER HISTORY</td>
              <td class="header-text"></td>
              <td class="header-text"></td>
            </tr>
            <tr class="table-header">
              <td class="greyColor"><div style="background: #e1f1f8 !important;">CARRIER</div></td>
              <td class="greyColor"><div style="background: #e1f1f8 !important;">YEARS</div></td>
              <td><div style="background: #e1f1f8 !important;">&nbsp;</div></td>
            </tr>
            #if(${carrier_history.size()} == 0)
              <tr>
                <td class="centered" colspan="3">No carrier history</td>
             </tr>
            #else
              #foreach($history in ${carrier_history})
                  <tr class="trBorder">
                      <td>$history.name (#if($history.current)Current#{else}Previous#end)</td>
                      <td>$history.years</td>
                      <td></td>
                  </tr>
              #end
            #end
          </table>
        </td>
      </tr>

      <tr><td><p></p></td></tr>
      <tr>
        <td>
          <table class="main-table">
            <tr class="trMainBorder">
              <td class="header-text">ADDITIONAL INFO</td>
              <td class="header-text"></td>
              <td class="header-text"></td>
            </tr>
            <tr class="trBorder">
              <td>Broker of Record</td>
              <td>$!{broker_of_record}</td>
              <td></td>
            </tr>
            <tr class="trBorder">
              <td>Commissions</td>
              <td>$!{commissions}</td>
              <td></td>
            </tr>
            <tr class="trBorder">
              <td>Additional Requests</td>
              <td>$!{additional_requests}</td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
