<div class="actions">
    <div class="article-actions">
        <div class="item-navigation __details">
            {% include 'AppBundle:article/actions:navigation.html.twig' %}
        </div>
    </div>
</div>
