<div id="notifications"  data-heading="Notifications">
    <div class="content">
        {% include 'AppBundle:layout/sidebar/section/notification:_locations.html.twig' %}

        {% include 'AppBundle:layout/sidebar/section/notification:_collection.html.twig' %}
    </div>
</div>