//====
// Brand Colors
//====

$brand-white: #ffffff;
$brand-black: #1a344b;
$brand-blue: #0085ff;
$brand-green: #20bf55;
$brand-silver: #97adc6;
$brand-light-blue: #edf3f8;
$brand-red: #ff0c46;
$brand-disabled-blue: #abd7ff;
$brand-orange: #f6921d;
$brand-light-orange: #ffe4c0;
$brand-inactive-orange: #fcd6a7;
$brand-silver-2: #b0b3b7;
$brand-extra-dark: #1a344b;
$brand-orange-selected: #d27a12;
$brand-blue-selected: #0065c1;
$brand-yellow: #fff4e7;
$brand-light-purple: #DAB7E7;
$brand-purple: #9620BF;
