<div class="charts">
    <div class="header">
        <div class="item --first --active" data-type="impressions">
            <span class="number">0</span>
            <span class="title">Impressions</span>
            <span class="date">(30 days)</span>
        </div>
        <div class="item" data-type="views">
            <span class="number">0</span>
            <span class="title">Views</span>
            <span class="date">(30 days)</span>
        </div>
        <div class="item" data-type="likes">
            <span class="number">0</span>
            <span class="title">Likes</span>
            <span class="date">(30 days)</span>
        </div>
        <div class="item --last" data-type="shares">
            <span class="number">0</span>
            <span class="title">Shares</span>
            <span class="date">(30 days)</span>
        </div>
    </div>
    <div id="chart">
    </div>
    <div class="footer">
        <a href="#" class="show-prev">Previous 30 days</a> | <a href="#" class="show-next">Next 30 days</a>
    </div>
</div>
