<div id="profile-popup">
    <a href="#" class="overlay">
    </a>
    <div class="profile">
        <div class="triangle-bottom">
        </div>
        <div class="triangle-top">
            <div class="background cover"
                 style="transform: rotate(-45deg) translate(-10px, -3px); ">
            </div>
        </div>
        <div class="background-wrapper">
            <div class="background cover"
                 style="">
                <div class="shadow"></div>
            </div>
        </div>

        <a href="#" class="photo profile-block-image">
        </a>
        <a href="#" class="name">
        </a>
        <div class="counters">
            <a class="followers" href="#">
                <i class="material-icons">person</i>
                Followers (<span>1</span>)
            </a>
            <a class="articles" href="#">
                <i class="material-icons">library_books</i>
                Stories (<span>1</span>)
            </a>
            <a class="properties" href="#">
                <i class="material-icons">
                    home
                </i>
                Properties (<span>99+</span>)
            </a>
        </div>
        <div class="bio">
        </div>
        <div class="actions">
            <a href="#"
               class="white
                     outline
                     small-button
                     message-button mdl-button mdl-js-button mdl-js-ripple-effect"
            >
                Message
            </a>
            <button class="
                black
                small-button outline
                follow-button
                mdl-button
                mdl-js-button
                mdl-js-ripple-effect"
                    data-id=""
                    data-name=""
                    data-follow-url=""
                    data-unfollow-url=""
            >
                <span class="follow">Follow</span>
                <span class="following">Following</span>
                <span class="unfollow">Unfollow</span>
            </button>
        </div>
    </div>
</div>
