%table.mcnTextBlock(border="0" cellpadding="0" cellspacing="0" style="min-width:100%;" width="100%")
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner(style="padding-top:9px;" valign="top")
        %table(align="left" border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%")
          %tr
            %td(style="width:600px;" valign="top" width="600")
              %table.mcnTextContentContainer(align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%")
                %tbody
                  %tr
                    %td.mcnTextContent(style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;" valign="top")
                      %p Dear #{@user.full_name},
                      %p
                        Your taxi journey between home and work, booking reference #{@booking.order_id}, is outside of the BBC's Late Night/Early Morning Transport(LNEMT) policy.
                        The full cost of this journey will therefore be deducted directly from your salary.
                      %p
                        Use of minicabs and taxis are not generally permissible for transport between normal place of work and home.
                        The LNEMT policy states that staff are only eligible for transport between home and work when they start or finish work after #{@lnemt_start} or before #{@lnemt_end} and have no means of getting to and from work and on Christmas Day and Boxing Day, when public transport is not available.
                      %p
                        If you feel that you should not be personally liable for the cost of this journey,your line manager can contact your divisional authoriser who can, if appropriate, arrange for this journey to be exempt.
