body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1720px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:1720px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(116, 128, 133, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:759px;
  width:151px;
  height:23px;
}
#u293_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(58, 68, 77, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293.mouseOver {
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:147px;
  word-wrap:break-word;
}
