.w360 {
  width: 360px;
  max-width: 100%;
}

.commentsCount {
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  background: #2b3238;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  padding: 0 6px;
}

.tabs {
  overflow: visible;
}
